@charset "UTF-8";

/*	패딩	*/
.p-lg{padding : 30px !important;}
.p-md{padding : 20px !important;}
.p-sm{padding : 15px !important;}
.p-xs{padding : 10px !important;}
.p-none{padding : 0px !important;}

.p-l-lg{padding-left : 30px !important;}
.p-l-md{padding-left : 20px !important;}
.p-l-sm{padding-left : 15px !important;}
.p-l-xs{padding-left : 10px !important;}
.p-l-none{padding-left : 0px !important;}

.p-r-lg{padding-right : 30px !important;}
.p-r-md{padding-right : 20px !important;}
.p-r-sm{padding-right : 15px !important;}
.p-r-xs{padding-right : 10px !important;}
.p-r-none{padding-right : 0px !important;}

.p-t-lg{padding-top : 30px !important;}
.p-t-md{padding-top : 20px !important;}
.p-t-sm{padding-top : 15px !important;}
.p-t-xs{padding-top : 10px !important;}
.p-t-none{padding-top : 0px !important;}

.p-b-lg{padding-bottom : 30px !important;}
.p-b-md{padding-bottom : 20px !important;}
.p-b-sm{padding-bottom : 15px !important;}
.p-b-xs{padding-bottom : 10px !important;}
.p-b-none{padding-bottom : 0px !important;}

/*	마진	*/
.m-lg{margin : 30px !important;}
.m-md{margin : 20px !important;}
.m-sm{margin : 15px !important;}
.m-xs{margin : 10px !important;}
.m-none{margin : 0px !important;}

.m-l-lg{margin-left : 30px !important;}
.m-l-md{margin-left : 20px !important;}
.m-l-sm{margin-left : 15px !important;}
.m-l-xs{margin-left : 10px !important;}
.m-l-none{margin-left : 0px !important;}

.m-r-lg{margin-right : 30px !important;}
.m-r-md{margin-right : 20px !important;}
.m-r-sm{margin-right : 15px !important;}
.m-r-xs{margin-right : 10px !important;}
.m-r-none{margin-right : 0px !important;}

.m-t-lg{margin-top : 30px !important;}
.m-t-md{margin-top : 20px !important;}
.m-t-sm{margin-top : 15px !important;}
.m-t-xs{margin-top : 10px !important;}
.m-t-none{margin-top : 0px !important;}

.m-b-lg{margin-bottom : 30px !important;}
.m-b-md{margin-bottom : 20px !important;}
.m-b-sm{margin-bottom : 15px !important;}
.m-b-xs{margin-bottom : 10px !important;}
.m-b-none{margin-bottom : 0px !important;}

/*	보더	*/
.b-lg{border : 4px soild #ddd !important;}
.b-md{border : 3px soild #ddd !important;}
.b-sm{border : 2px soild #ddd !important;}
.b-xs{border : 1px soild #ddd !important;}
.b-none{border : none !important;}

.b-l-lg{border-left : 4px soild #ddd !important;}
.b-l-md{border-left : 3px soild #ddd !important;}
.b-l-sm{border-left : 2px soild #ddd !important;}
.b-l-xs{border-left : 1px soild #ddd !important;}
.b-l-none{border-left : none !important;}

.b-r-lg{border-right : 4px soild #ddd !important;}
.b-r-md{border-right : 3px soild #ddd !important;}
.b-r-sm{border-right : 2px soild #ddd !important;}
.b-r-xs{border-right : 1px soild #ddd !important;}
.b-r-none{border-right : none !important;}

.b-t-lg{border-top : 4px soild #ddd !important;}
.b-t-md{border-top : 3px soild #ddd !important;}
.b-t-sm{border-top : 2px soild #ddd !important;}
.b-t-xs{border-top : 1px soild #ddd !important;}
.b-t-none{border-top : none !important;}

.b-b-lg{border-bottom : 4px soild #ddd !important;}
.b-b-md{border-bottom : 3px soild #ddd !important;}
.b-b-sm{border-bottom : 2px soild #ddd !important;}
.b-b-xs{border-bottom : 1px soild #ddd !important;}
.b-b-none{border-bottom : none !important;}

/*	배경색상 기본	*/
.bg-defarlt{background-color:#efefef;}

/*이은혜*/
.input-group-prepend .input-group-text{padding : 0.375rem 1.25rem;
	display:block;
}

.td-header {
	/* font-weight : bold; */
	background-color : #f7f7f7;
	width : 18%;
}

.td-val {
	width : 32%;
}

.date_right {
	display: inline-block;
	width: 100%;
}

.div-left {
	float: left;
}

.div-right {
	float: right;
}

.scroll-area-lg{
	height: 800px;
}


.font-size{
	font-size : 20px;
}

.pe-7s-help1:hover{
	color: #fff;
}

#insertPnshList {
	padding: 0.5rem 0.65rem;
}

.staff-sk {
	padding-left : 3px;
	padding-right : 3px;
	padding-bottom : 3px;
	padding-top : 3px;
	
}

.staff-sk .input-group-text{
	width:80px;
	
}
.tr-1 {
	background-color : #f1f1f1;
}
.tr-2 {
	/* background-color : #f8f8f8; */
}


.table .form_date{
	width:44%;
	display:inline;
}

.table .t_head{
	background:#f9f9f9;
	
}
/*테이블 스크롤 시 thead고정*/
.app-main .table .fixed_top{
	position: sticky;
	top: 0;
	background:#ffffff;
	border-top:none;
}

@media(min-width:992px){
	
	.scroll-div::-webkit-scrollbar {
	    display: none; /* Chrome, Safari, Opera*/
	}

}

.staff-nationality-input {
	font-color : #red;
	background:#red;
}

.table .t_head2 {
	background : #f9f9f9;
	width:14%;
}

.input-group-prepend .input-group-text  {
	background: #e8e8e86b;
    color: #070707;
}

.btn-secondary {
    background: #4c4c4c;
    color: #ffffff;
}

.arrow-btn1{
	padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top : 120px !important;
    margin-bottom : 15px !important;

}
.arrow-btn{
	padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top : 25px !important;
    margin-bottom : 80px !important;
   

}


.arrow-btn2{
	background-color: #858585;
    color: white;
    padding : 8px 14px !important;
     margin : 12px auto !important;
}

.card-title {
	border-bottom: solid 2px #eee;
	padding-bottom : 10px;
}

.col-md-6 .cord-body{
	padding : 10px !important;
}

.font-icon-wrapper{
	font-size: 15px;
}

.a-tag{
	display: inline-flex;
	margin : 2px;
}
.addDiv {
	text-align: center;
}

.centerDiv{
	text-align: center;
	margin : 0px auto;
}
.sign{
	display: inline-table !important;
}
.lbl{
	font-size: 13px !important;
}

.input-width21 {
	width: 40%;
	float : left;
}
.input-width22 {
	width: 40%;
	float : right;
}
.input-width31 {
	width: 25%;
	float : left;
}
.input-width32 {
	width: 25%;
    display: inline;
    position: relative;
    top: -2px;
}
.input-width33 {
	width: 25%;
	float : right;
}

.offset {
	margin: 0 auto;
}

.inputmaineus{
	text-align: center;
}

.valid {
	border-color:#3ac47d;padding-right:2.25rem;background-repeat:no-repeat;background-position:center right calc(2.25rem / 4);background-size:calc(2.25rem / 2) calc(2.25rem / 2);background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e")
}
.invalid {
	border-color:#d92550;padding-right:2.25rem;background-repeat:no-repeat;background-position:center right calc(2.25rem / 4);background-size:calc(2.25rem / 2) calc(2.25rem / 2);background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E")
}

.span-font {
	font-size : 25px;
}
.span-1 {
	margin-right: 6px;
}
.span-2 {
	margin-left: 10px;
}

.btn {
	text-align : center;
}

/*************************************************************************************************************/
/* MENU-LEFT
-------------------------- */
/* layout */
#left ul.nav {
    margin-bottom: 2px;
    font-size: 15px; /* to change font-size, please change instead .lbl */
}
#left ul.nav ul,
#left ul.nav ul li {
    list-style: none!important;
    list-style-type: none!important;
    margin-top: 1px;
    margin-bottom: 1px;
}
#left ul.nav ul {
    padding-left: 0;
    width: auto;
}
#left ul.nav ul.children {
    padding-left: 12px;
    width: auto;
}
#left ul.nav ul.children li{
    margin-left: 0px;
}
#left ul.nav li a:hover {
    text-decoration: none;
}

#left ul.nav li a:hover .lbl {
    color: #999!important;
}

#left ul.nav li.current>a .lbl {
    background-color: #999;
    color: #fff!important;
}

/* parent item */
#left ul.nav li.parent a {
    padding: 0px;
    color: #ccc;
}
#left ul.nav>li.parent>a {
    border: solid 1px #999;
    text-transform: uppercase;
}    
#left ul.nav li.parent a:hover {
    background-color: #fff;
    -webkit-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);    
}

/* link tag (a)*/
#left ul.nav li.parent ul li a {
    color: #222;
    border: none;
    display:block;
    padding-left: 5px;    
}

#left ul.nav li.parent ul li a:hover {
    background-color: #fff;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;  
}

/* sign for parent item */
#left ul.nav li .sign {
    display: inline-block;
    width: 14px;
    padding: 5px 8px;
    background-color: transparent;
    color: #fff;
}
#left ul.nav li.parent>a>.sign{
    margin-left: 0px;
    background-color: #999;
}

/* label */
#left ul.nav li .lbl {
    padding: 5px 12px;
    display: inline-block;
}
#left ul.nav li.current>a>.lbl {
    color: #fff;
}
#left ul.nav  li a .lbl{
    font-size: 12px;
}

/* THEMATIQUE
------------------------- */
/* theme 1 */
#left ul.nav>li.item-1.parent>a {
    border: solid 1px #ff6307;
}
#left ul.nav>li.item-1.parent>a>.sign,
#left ul.nav>li.item-1 li.parent>a>.sign{
    margin-left: 0px;
    background-color: #ff6307;
}
#left ul.nav>li.item-1 .lbl {
    color: #ff6307;
}
#left ul.nav>li.item-1 li.current>a .lbl {
    background-color: #ff6307;
    color: #fff!important;
}

/* theme 2 */
#left ul.nav>li.item-8.parent>a {
    border: solid 1px #51c3eb;
}
#left ul.nav>li.item-8.parent>a>.sign,
#left ul.nav>li.item-8 li.parent>a>.sign{
    margin-left: 0px;
    background-color: #51c3eb;
}
#left ul.nav>li.item-8 .lbl {
    color: #51c3eb;
}
#left ul.nav>li.item-8 li.current>a .lbl {
    background-color: #51c3eb;
    color: #fff!important;
}

/* theme 3 */
#left ul.nav>li.item-15.parent>a {
    border: solid 1px #94cf00;
}
#left ul.nav>li.item-15.parent>a>.sign,
#left ul.nav>li.item-15 li.parent>a>.sign{
    margin-left: 0px;
    background-color: #94cf00;
}
#left ul.nav>li.item-15 .lbl {
    color: #94cf00;
}
#left ul.nav>li.item-15 li.current>a .lbl {
    background-color: #94cf00;
    color: #fff!important;
}

/* theme 4 */
#left ul.nav>li.item-22.parent>a {
    border: solid 1px #ef409c;
}
#left ul.nav>li.item-22.parent>a>.sign,
#left ul.nav>li.item-22 li.parent>a>.sign{
    margin-left: 0px;
    background-color: #ef409c;
}
#left ul.nav>li.item-22 .lbl {
    color: #ef409c;
}
#left ul.nav>li.item-22 li.current>a .lbl {
    background-color: #ef409c;
    color: #fff!important;
}