@charset "UTF-8";
/***************************** 전자결재 ****************************************/
.index-front{
	z-index:1;
}

.document-form{
	width:48%;
	float:left;
	margin-right:4%;
}

.deadline-form{
	width:48%;
	float:left;
}

.btn-right{
	float:right;
}

.btn-del{
	left: 33px;
    position: absolute;
    bottom: -4px;
}


.select-form{
	width:25%;
	display:inline;
}

.form-scroll{
	height: 300px;
	overflow-y: scroll;
}

.table .t_head {
	background : #f9f9f9;
	width:14%;
}

.modal-inform{
	float: left;
}

.app-StaffLevel{	
    height: 38px;
    width: 18px;    
    padding-left: 0px;
    padding-right: 0px;
    	
}

.appLine-form{
	
    height: 155px;
    width: 77px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    border-right-width: 1px;
    border-left-width: 1px;
	
}

.app-jojicName{
	
    height: 38px;
    width: 18px;
	
}

.app-sign{
	   
 font-size: large;
    font-weight: bold;
    color: #0b5885;
	
}
 #appLine td:nth-child(2n) {
    padding:0;
    vertical-align: unset;
 }
 
 #appLine table {
    width:100%;
 }
 #appLine table tr td {
    border:0 !important;
    border-bottom:1px solid #e9ecef !important;
 }
 
 #appLine table tr:nth-child(3n) td {
    border-bottom:0 !important;
 }
 .table-body{
    text-align:right;
    margin-left:auto;
 }
 .four-td{
    width:80%;
 }
 .three-td{
    width:60%;
 }
 .two-td{
    width:40%;
 }
 .one-td{
    width:20%;
 }
 .appbtn-center{
	 margin-right: 1rem !important;
 }
 /* 
 ************************************************************************************************************************
 ************************************************업무관리***************************************************************
  */
 .search-select{
 	margin: 0 5px 15px 0;
    padding: 6px;
 }
 .search-input {
    width: 100px;
    margin: 0 5px 15px 0;
    padding: 4px;
}

.text-centar{
	text-align: center;
}

.task-input{
	width: 78%;
    display: inline-flex;
}

.end-task{
	margin-right: 13px;
}

.one-Btn{
	    width: 20%;
	    padding-left: 23px;
   		padding-right: 30px;
}
.title-text{
	font-weight: 600;
	padding-right: 12%;
	padding-bottom: 10px;
}
.task-p{
	font-weight: 600;
	padding-right: 12%;
	padding-bottom: 10px;
	margin: 20px 0px 16px 0px;
    color: gray;
    font-size: 15px;
}
#myTaskBtn{
	margin-top: 37px;
}
.task-card{
	margin-top: 50px;
}
.nt-contents{
	margin-top: 0px;
    margin-bottom: 0px;
    height: 380px !important;
    overflow-y: scroll;
}
.text-red{
	    color: red;
}