@charset "UTF-8";
/***************************** 기안하기 ****************************************/
.index-front{
	z-index:1;
}

.document-form{
	width:48%;
	float:left;
	margin-right:4%;
}

.deadline-form{
	width:48%;
	float:left;
}

.btn-right{
	float:right;
}

.btn-del{
	left: 33px;
    position: absolute;
    bottom: -4px;
}
}

.select-form{
	width:25%;
	display:inline;
}
.form-scroll{
	height: 300px;
	overflow-y: scroll;
}

.table .t_head {
	background : #f9f9f9;
	width:14%;
}

.modal-inform{
	float: left;
}

}