@charset "UTF-8";

.index-front{
	z-index:1;
}

.document-form{
	width:48%;
	float:left;
	margin-right:4%;
}

.deadline-form{
	width:48%;
	float:left;
}

.btn-right{
	float:right;
}

.btn-add{
	margin:71px 18px 5px;
}

.btn-del{
	margin:5px 18px;
}