<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	

	
	<th:block layout:fragment="customCss">
		<!-- include summernote css/js -->
		<link rel="stylesheet" href="summernote/summernote-lite.css">
		<!-- upmu.css  -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/upmu.css}">	
		<!--jstree  -->
		<link rel="stylesheet" type="text/css" th:href="@{/tree/themes/default/style.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/tree/themes/default-dark/style.css}">
	</th:block>
	
	
	<th:block layout:fragment="customContent">

<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->		

  		<div class="col-md-10">
		<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-monitor icon-gradient bg-mean-fruit">
					        </i>
					    </div>
					    <div>
					    	<h2>전자결재</h2>
					       <div class="page-title-subheading"></div>
					    </div>
					</div>
				</div>
		</div> 
		<div class="row">
			<div class="col-md-12">
				<div class="main-card mb-3 card"> 
					<div class="card-body">
						<h4><i class="pe-7s-eyedropper"></i>       기안하기 </h4><br>           
					<!-- form 시작  -->
					<form  id="appSubmit">
	                   <div class="position-relative form-group ">
	                   	<button id="appLine"  type="button" class="mb-2 mr-2 btn btn-primary" name="appLine" data-toggle="modal" data-target="#appModal" >
	                   		<i class="pe-7s-users"></i>  결재라인선택하기
	                   	</button>
	                   </div>
	                   <div class="position-relative form-group index-front">
		                   	<div class="position-relative form-group document-form">
		                   	<label for="docType" >문서양식</label>
		                   	<select id="docType" class="form-control" name="docTypeName" >
		                   		<option value="" selected="selected" disabled="disabled">::문서양식선택하기::</option>
		                        <option th:each="doc : ${docType}" th:value="${doc.docType}" th:text="${doc.docTypeName}"></option>	               	                   
		                    </select>
		                    </div>
		                    <div class="position-relative form-group deadline-form"><label for="deadline" >마감요청일</label>
		                    	<input type="date" class="form-control" name="deadline">   
		                    </div>
		                </div>       
	                   <div class="position-relative form-group"><label for="docTitle">제목</label>
	                   		<input id="docTitle" type="text" class="form-control" name="docTitle" >
	                   </div>                  
	  					<textarea id="summernote" name="docContents"></textarea>
	                    <div class="position-relative form-group"><label for="exampleText" >코멘트</label>
	                    <textarea name="docComent" id="docComent" class="form-control"></textarea></div>
	                    <div class="position-relative form-group" ><label for="docFile" >첨부파일</label>
	                     	<input name="docFile" id="docFile" type="file" class="form-control-file">
	                    </div>
	                    <div class="position-relative form-group"> <label for="security" >보안처리</label>
	                      	<input type="checkbox" name="security" value="보안">
	                    </div>
					</form>
                     <button type="button" id="appSubmitBtn" class="mb-2 mr-2 btn btn-success active btn-right" ><i class="pe-7s-news-paper"></i>   결재올리기</button>                
                     <button type="button" id="appKeepBtn" class="mb-2 mr-2 btn btn-success active btn-right"><i class= "pe-7s-drawer"></i>  저장하기</button>                
                  </div>
               </div>
           </div>
        </div>
       </div> 
    	
    	

         <!------------------- appModal 시작   ------------------------>     
         <div  class="modal fade " id="appModal">
	  	 	<div class="modal-dialog modal-lg">
	     		<div class="modal-content">
	     			<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"></button>
				        <h4 class="modal-title" id="myModalLabel">결재라인</h4>
				     </div>
	     			<div class="modal-body">
	     				<div class="main-card col-lg-5 card">
		     				<div class="card-body">
		       					<h4>조직도</h4>
		       					<div class="form-group form-scroll" >
		       										
	       							<div id="jojic">		       								
									  <ul>
									  	<th:block th:each="j : ${jojic}" >	
									  		<li>	   
										    	<span th:text="${j.parentJojicName}"></span> 
										    	
								    			<ul th:each="s : ${staff}">
								    				<li th:if="${s.jojicName eq j.parentJojicName and s.jojicSosocName ne '팀'}">
								    					<span th:text="${s.staffName}"></span>
								    				</li>
								    			</ul>									    			
									    		
										    	<th:block th:each="t : ${team}" th:if="${t.parentJojicName eq j.parentJojicName}">
										    		<ul th:if="${t.jojicName ne j.parentJojicName and t.jojicSosocName eq '팀'}">
										    			<li>
										    				<span th:text="${t.jojicName}"></span>
											    			<ul th:each="s : ${staff}">
											    				<li th:if="${s.jojicName eq t.jojicName}">
											    					<span th:text="${s.staffName}"></span>
											    				</li>
											    			</ul>
										    			</li>
										    		</ul>										    				    		
										    	</th:block>		
									    	</li>   
									  	</th:block>										  									  
									  </ul>
									</div>		       							       							
	       						</div>
	       					</div>	       							
	       				</div>
       					<div class="col-lg-2">
       						<button type="button" id="rightMove" class="mb-2 mr-2 btn-transition btn btn-outline-secondary btn-add"><i class="pe-7s-add-user"></i>  추가</button>
							<button type="button" id="leftMove" class="mb-2 mr-2 btn-transition btn btn-outline-secondary btn-del"><i class="pe-7s-delete-user"></i>  제외</button>
						</div>
	       				<div class="main-card col-lg-5">
	     					<div class="card-body">
			       				<h4>결재자</h4>
			       				<div class="form-group  form-scroll">
									
			       				</div>
	      					</div>
	      				</div>
	      				<div class="modal-footer">
		        			<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
		        			<button type="button" class="btn btn-primary">선택완료</button>
	      				</div>
					</div>
				</div>				
			</div>
		</div>


<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>




	</th:block>

	<!-- 사용자 지정 script -->
	<th:block layout:fragment="customJsScript">		
		<script src="/summernote/summernote-lite.js"></script>
      	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<!-- jstree  -->
		<script type="text/javascript" th:src="@{/tree/jstree.js}"></script>

		
		<!-- summernote 관련-->
		<script type="text/javascript">
		$(document).ready(function() {
			$('#summernote').summernote({
				  height: 300,                 // 에디터 높이
				  minHeight: null,             // 최소 높이
				  maxHeight: null,             // 최대 높이
				  focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
				  lang: "ko-KR",					// 한글 설정
				  placeholder: '내용을 입력하세요'	//placeholder 설정
			          
				});
			});	
		</script>
		
		<!--  결재라인 모달  관련 -->
		<script>
		$('#jojic').jstree();

		
		
				$(function(){
					$('#rightMove').click(function(){	
						var getJojic = $('#jojic').find('');
						console.log(getJojic);
						$('#appStaff').append(getjojic);	
					});
	
				
				});
				
		</script>
		
		<!-- 결재올리기버튼 이벤트 -->	
		<script type="text/javascript">
					
			$(function(){			
				$('#appSubmitBtn').click(function(){		
					alert('결재를 올리시겠습니까?');
								
						
				
				});
			});
				
		</script>
		<script type="text/javascript">
					
			$(function(){			
				$('#appKeepBtn').click(function(){							
					 if(confirm("저장하시겠습니까 ?") == true){
					    alert("임시저장함으로 이동합니다.");
						window.location.href="/storageBox";	
					        
					  }else{
					        return ;
					    }
		
				
				});
			});
				
		</script>
			
	</th:block>

</html>
