<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	

	
	<th:block layout:fragment="customCss">
		<!-- include summernote css/js -->
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" th:href="@{/css/upmu.css}">
		<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
	</th:block>
	
	
	<th:block layout:fragment="customContent">

<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->		

  			<div class="col-md-10">
              <div class="main-card mb-10 card">
                  <div class="card-body">
                  <h5 class="card-title">기안하기</h5>                     
				<!-- form 시작  -->
				<form  action="/myAppList" method="post" >
                   <div class="position-relative form-group ">
                   	<button id="appLine"  type="button" class="mb-2 mr-2 btn btn-secondary" name="appLine" data-toggle="modal" data-target="#appModal" >
                   		<i class="pe-7s-users"></i>  결재라인선택하기
                   	</button>
                   </div>
                   <div class="position-relative form-group index-front">
	                   	<div class="position-relative form-group document-form">
	                   	<label for="docType" >문서양식</label>
	                   	<select id="docType" class="form-control" name="docTypeName" >
	                        <option th:each="doc : ${docCate}" th:value="${doc.docType}" th:text="${doc.docTypeName}"></option>	               	                   
	                    </select>
	                    </div>
	                    <div class="position-relative form-group deadline-form"><label for="deadline" class="" >마감요청일</label>
	                    	<input type="date" class="form-control" name="deadline">   
	                    </div>
	                </div>       
                   <div class="position-relative form-group"><label for="docTitle" class="">제목</label>
                   		<input id="docTitle" type="text" class="form-control" name="docTitle" >
                   </div>                  
  					<textarea id="summernote" name="docContents"></textarea>
                    <div class="position-relative form-group"><label for="exampleText" class="">코멘트</label>
                    <textarea name="docComent" id="docComent" class="form-control"></textarea></div>
                    <div class="position-relative form-group" ><label for="docFile" class="">첨부파일</label>
                     	<input name="docFile" id="docFile" type="file" class="form-control-file">
                    </div>
                    <div class="position-relative form-group"> <label for="security" class="">보안처리</label>
                      	<input type="checkbox" name="security" value="1">
                    </div>
				</form>
                     <button type="button" id="appSubmit" class="mb-2 mr-2 btn btn-success active btn-right" ><i class="pe-7s-news-paper"></i>   결재올리기</button>                
                     <button type="button" id="appKeep" class="mb-2 mr-2 btn btn-success active btn-right"><i class= "pe-7s-drawer"></i>  저장하기</button>                
                  </div>
              </div>
          </div>
         
         <!------------------- appModal 시작   ------------------------>     
         <div  class="modal fade " id="appModal">
	  	 	<div class="modal-dialog modal-lg">
	     		<div class="modal-content">
	     			<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"></button>
				        <h4 class="modal-title" id="myModalLabel">결재라인</h4>
				     </div>
	     			<div class="modal-body">
	     				<div class="main-card mb-10 card">
	     					<div class="card-body">
	       						<h4>조직도</h4>
	       						<div class="form-group">
		       						<select id="jojic" multiple="multiple">									
										<option th:each="j : ${jojic}" th:value="${j.jojicCode}" th:text="${j.jojicName}" ></option>
									</select>
	       						</div>
	       					</div>
       					</div>
       						<button type="button" id="rightMove"><i class="pe-7s-add-user"></i>  추가</button><br><br>
							<button type="button" id="leftMove"><i class="pe-7s-delete-user"></i>  제외</button>
	       				<div class="main-card mb-10 card">
	     					<div class="card-body">
			       				<h4>결재자</h4>
			       				<div class="form-group">
									<select id="appStaff" multiple="multiple"></select>
			       				</div>
	      					</div>
	      				</div>
	      				<div class="modal-footer">
		        			<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
		        			<button type="button" class="btn btn-primary">선택완료</button>
	      				</div>
					</div>
				</div>				
			</div>
		</div>


<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	</th:block>

	<!-- 사용자 지정 script -->
	<th:block layout:fragment="customJsScript">		
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>	
		<!-- include summernote-ko-KR 한글처리-->
		<script src="lang/summernote-ko-KR.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>	
		
		<!-- summernote 관련-->
			<script type="text/javascript">
				$(document).ready(function() {
					//여기 아래 부분
					$('#summernote').summernote({
						  height: 300,                 // 에디터 높이
						  minHeight: null,             // 최소 높이
						  maxHeight: null,             // 최대 높이
						  focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
						  lang: "ko-KR",					// 한글 설정
						  placeholder: '내용을 입력하세요'	//placeholder 설정
				          
					});
				});
			</script>
			<!--  결재라인 모달  관련 -->
			<script>
				$(function(){
					$('#rightMove').click(function(){	
						var getJojic = $('#jojic').find('option:selected');
						console.log(getJojic);
						$('#appStaff').append(getjojic);	
					});
		
					$('#leftMove').click(function(){	
						var getAppStaff = $('#appStaff option:selected');	
						console.log(getAppStaff);	
						$('#jojic').append(getAppStaff);
		
					});	
				});
				
			</script>
		
	</th:block>

</html>
