<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	<th:block layout:fragment="customCss">
		<!-- upmu.css  -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/upmu.css}">
	</th:block>
	
    
	<th:block layout:fragment="customContent">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
 		<div class="col-md-12">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-monitor icon-gradient bg-mean-fruit"></i>
					    </div>
					    <div>
					    	<h3>전자결재</h3>					    		
					       	<div class="page-title-subheading">
					       	</div>
					    </div>
					</div>
				</div>
			</div>
             <div class="main-card mb-12 card">
                  <div class="card-body">  
                  	<h4><i class="pe-7s-pen"></i> 결재처리함 </h4><br>
                  	<form >
						<select name="sk" class="form-control select-form" >
							<option value="" selected="selected" disabled="disabled">::검색조건::</option>
							<option value="t.doc_type">문서유형</option>
							<option value="doc_title">제목</option>
							
						</select>
						<input type="text" name="sv" class="form-control select-form">	
							<button type="button" id="seachBtn" class="mb-2 mr-2 btn btn-primary"><i class="pe-7s-search">    검색</i></button>
					</form>
					<br>
					<table class="mb-0 table table-hover ">
                    	<thead>
	                         <tr>
	                             <th class="text-center">문서코드</th>
	                             <th class="text-center">문서유형</th>
	                             <th class="text-center">제목</th>
	                             <th class="text-center">기안부서</th>	                             	                            
	                             <th class="text-center">기안자직책</th>	                             	                            
	                             <th class="text-center">기안자</th>
	                             <th class="text-center">기안날짜</th>	                             	                            
	                             <th class="text-center">첨부파일</th>
	                             <th class="text-center" >보안</th>
	                             <th class="text-center">마감요청일</th>
	                         </tr>
	                    </thead>
                        <tbody id="decideList">                       
	                        <tr th:each="de : ${decideList}" th:if="${de.appStaffNum eq session.SSTAFFNUM}">	                        
	                            <td th:text="${de.docCode}" th:value="${de.docCode}" id="docCode" class='text-center'></td>
	                            <td th:text="${de.docTypeName}" id="docTypeName" class='text-center'></td>
	                            <td><a th:text="${de.docTitle}" class="text-center docTitle" href="javascript:void(0);"></a></td>
	                            <td th:text="${de.writerBuseoName}"  id="writerBuseoName" class='text-center'></td>
	                            <td th:text="${de.writerLevelName}"  id="writerLevelName" class='text-center'></td>
	                            <td th:text="${de.writerName}"  id="writerName" class='text-center'></td>
	                            <td th:text="${de.writeDate}"  id="writeDate" class='text-center'></td>
	                            <td th:text="${de.docFile}"  id="docFile" class='text-center'></td>
	                            <td th:text="${de.appSecurity}" class='text-center security'></td>
	                            <td th:text="${de.deadline}" id="deadline" class='text-center'></td>
	                            </tr>
	                       
                        </tbody>
                    </table>
                  </div>
             </div> 
       </div>          






<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>

	</th:block>
    <th:block layout:fragment="customJsScript">   
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="text/javascript" th:inline="javascript">
    //타임리프에서 변수 선언 후 값 담기 
	    /*<![CDATA[*/
		
		    var SSTAFFNUM = /*[[${session.SSTAFFNUM}]]*/;
		   	
		/*]]>*/
    </script>
    
     <script type="text/javascript">
     $(document).ready(function(){	
    	 
    	 
    	 //보안문서 열람 시 비밀번호 입력 모달 함수
    	 function pwCheck(securityPW,docCode){
     		(async () => {
     			const { value: password } = await Swal.fire({
     			  title: '보안문서입니다.',
     			  input: 'password',
     			  inputPlaceholder: '당신의 비밀번호를 입력하세요',
     			  inputAttributes: {
     			    maxlength: 10,
     			    autocapitalize: 'off',
     			    autocorrect: 'off'
     			  }
     			})

     			if (password) {
     			  if(securityPW == password) {
     				 
     				 location.href="/docDetail?docCode="+docCode; 
     			  }else {
     				  alert('비밀번호가 일치하지 않습니다.');
     				  return ;
     			  }          			
     			}           			
     		})()
     	}
    	 
    	 
    	 
    	 //보안문서인지 확인 --> 보안문서일 경우 비밀번호로 본인 확인
    		 $('.docTitle').click(function(){   			 
	    		var tr = $(this).parent().parent();
				var td = tr.children();
				var docCode = td.eq(0).text(); //문서코드
    			 console.log("SSTAFFNUM-->"+ SSTAFFNUM); //세션값 잘 넘어오는 지 확인
    			
    			var security = $(this).parent('td').nextAll('.security').text();    			
    			if(security == '보안'){    		
    				var request = $.ajax({
					      				  url: "/securityPW", //컨트롤러 맵핑
					      				  method: "POST",
					      				  data: { SSTAFFNUM : SSTAFFNUM }, //세션값 - 사원번호로 해당 비밀번호 가지고 오기
					      				  dataType: "json" // json방식으로 값 전달
				      				});
    				request.done(function( data ) {
    					var securityPW = data;   					
    					pwCheck(securityPW,docCode); //비밀번호 확인 모달 함수 호출
    				});   				
    			}else{
    				location.href="/docDetail?docCode="+docCode; 
    			}
    			
    		});
    	});
	</script>
	
	
    </th:block>
</html>