<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	

	
	<th:block layout:fragment="customCss">
		<!-- include summernote css/js -->
		<link rel="stylesheet" href="summernote/summernote-lite.css">
		
		<!-- upmu.css  -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/upmu.css}">	
		
	</th:block>
	
	
	<th:block layout:fragment="customContent">

<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->		

  	<div class="col-md-10">
		<div class="app-page-title">
			<div class="page-title-wrapper">
				<div class="page-title-heading">
				    <div class="page-title-icon">
				        <i class="pe-7s-eyedropper icon-gradient bg-happy-itmeo">
				        </i>
				    </div>
				    <div>
				    	<h2>상세보기</h2>
				       <div class="page-title-subheading"></div>
				    </div>
				</div>
			</div>
		</div>                
		
	<div class="col-md-12">
		<div class="main-card mb-3 card"> 
			<div class="card-body">			
				<th:block th:each="d : ${docDetail}">
					<table id="appLine" class="mb-2 table table-bordered">
                        
                 	</table>	
				<div class="position-relative form-group index-front">
		          	<div class="position-relative form-group document-form">
		             		<label for="docType" >문서양식</label>
		             		<input type="text" class="form-control" name="docType" th:value="${d.docTypeName}"  readonly="readonly">
		              </div>
		              <div class="position-relative form-group deadline-form"><label for="deadline" class="" >마감요청일</label>
		              	<input type="text" class="form-control" name="deadline" th:value="${d.deadline}" readonly="readonly">   
		              </div>
		        </div>       
		             <div class="position-relative form-group"><label for="docTitle" class="">제목</label>
		            		<input id="docTitle" type="text" class="form-control" name="docTitle" th:value="${d.docTitle}" readonly="readonly" >
		             </div>                  
					 <textarea id="summernote" name="docContents" th:text="${d.docContents}" readonly="readonly"></textarea>
		             <div class="position-relative form-group"><label for="exampleText" class="">코멘트</label>
		             	<textarea name="docComent" id="docComent" class="form-control" th:text="${d.docComent}" readonly="readonly"></textarea>
		             </div>
		             <div class="position-relative form-group" ><label for="docFile" class="">첨부파일</label>
		              	<input name="docFile" id="docFile" type="file" class="form-control-file" th:text="${d.docFile}">
		             </div>
		             <div class="position-relative form-group"> <label for="appSecurity" class="">보안처리</label>
		               	<input type="checkbox" name="appSecurity" th:checked="${d.appSecurity eq '보안'}">
		             </div>
		           </th:block>     
     			</div>
     		</div>
     	</div>
     </div>
     	


<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>




	</th:block>

	<!-- 사용자 지정 script -->
	<th:block layout:fragment="customJsScript">		
		 <script src="/summernote/summernote-lite.js"></script>
      <script src="/summernote/lang/summernote-ko-KR.js"></script>
	

		
		<!-- summernote 관련-->
		<script type="text/javascript">
		$(document).ready(function() {
			$('#summernote').summernote({
				  height: 300,                 // 에디터 높이
				  minHeight: null,             // 최소 높이
				  maxHeight: null,             // 최대 높이
				  focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
				  lang: "ko-KR",					// 한글 설정
				
			          
				});
			});				
		</script>
		
	
	</th:block>

</html>
