<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	

	
	<th:block layout:fragment="customCss">
		<!-- include summernote css/js -->
		<link rel="stylesheet" href="summernote/summernote-lite.css">
		
		<!-- upmu.css  -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/upmu.css}">	
		
	</th:block>
	
	
	<th:block layout:fragment="customContent">

<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->		

 <form id="appDecide" action="/appDecide" method="post">
  	<div class="col-md-10">
		<div class="app-page-title">
			<div class="page-title-wrapper">
				<div class="page-title-heading">
				    <div class="page-title-icon">
				        <i class="pe-7s-eyedropper icon-gradient bg-happy-itmeo">
				        </i>
				    </div>
				    <div>
				    	<h2>수정화면</h2>
				       <div class="page-title-subheading"></div>
				    </div>
				</div>
			</div>
		</div>                
		
	<div class="col-md-12">
		<div class="main-card mb-3 card"> 
			<div class="card-body">
				<div class="table-body">
					<table id="appLine" class="mb-2 table table-bordered">
						<tr>
						<th:block th:each="l : ${getAppLine}">							
                        	<td class='text-center app-StaffLevel' th:text="${l.appLevelName}"></td>
                        	<td class='appLine-form'>
                       			<table>
                        			<tr>
                        				<td class='text-center' th:text="${l.appJojicName}"></td>
                        			</tr>
                        			<tr>
                        				<td class='text-center' th:text="${l.appStaffName}"></td>
                        			</tr>                     				
                        			<tr>
                        				<td class='text-center app-sign' th:text="${l.appStateName}" th:title="${l.appStaffComent}"></td>
                        			</tr>                        			
                        		</table>
                        	</td>
						</th:block>		
                        </tr>
                 	</table>	
				</div>	
				<th:block th:each="d : ${docDetail}">
				<input type="hidden" th:value="${d.docCode}" name="docCode">
				<div class="position-relative form-group index-front">
		          	<div class="position-relative form-group document-form">
		             		<label for="docType" >문서양식</label>
		             		<input type="text" class="form-control" th:value="${d.docTypeName}">
		              </div>
		              <div class="position-relative form-group deadline-form"><label for="deadline" class="" >마감요청일</label>
		              	<input type="date" class="form-control"  th:value="${d.deadline}">   
		              </div>
		        </div>       
		             <div class="position-relative form-group"><label for="docTitle" class="">제목</label>
		            		<input id="docTitle" type="text" class="form-control"  th:value="${d.docTitle}" >
		             </div>                  
					 <textarea id="summernote" th:text="${d.docContents}" ></textarea>
		             <div class="position-relative form-group"><label for="exampleText" class="">코멘트</label>
		             	<textarea  id="docComent" class="form-control" th:text="${d.docComent}"></textarea>
		             </div>
		             <div class="position-relative form-group" ><label for="docFile" class="">첨부파일</label>
		              	<input  id="docFile" type="file" class="form-control-file" th:value="${d.docFile}">
		             </div>
		             <div class="position-relative form-group"> <label for="appSecurity" class="">보안처리</label>
		               	<input type="checkbox" th:checked="${d.appSecurity eq '보안'}">
		             </div>
		           </th:block> 
  
     			</div>
     		</div>
     	</div>
     </div>
    </form>

<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>




	</th:block>

	<!-- 사용자 지정 script -->
	<th:block layout:fragment="customJsScript">		
		 <script src="/summernote/summernote-lite.js"></script>
      <script src="/summernote/lang/summernote-ko-KR.js"></script>
	

		
		<!-- summernote 관련-->
		<script type="text/javascript">
		$(document).ready(function() {
			$('#summernote').summernote({
				  height: 300,                 // 에디터 높이
				  minHeight: null,             // 최소 높이
				  maxHeight: null,             // 최대 높이
				  focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
				  lang: "ko-KR",					// 한글 설정
				
			          
				});
				
				//결재란 크기 조정 
	            if($('#appLine').find('.app-StaffLevel').length == 4){
	    	 		$('.table-body').removeClass().addClass('table-body four-td');		
	            }
	            else if($('#appLine').find('.app-StaffLevel').length == 3){	
	            	$('.table-body').removeClass().addClass('table-body three-td');		            	
	            }else if($('#appLine').find('.app-StaffLevel').length == 2){
	            	$('.table-body').removeClass().addClass('table-body two-td');	
	            }else if($('#appLine').find('.app-StaffLevel').length == 1){
	            	$('.table-body').removeClass().addClass('table-body one-td');	
	            }else{
	            	$('.table-body').removeClass().addClass('table-body');
	            }
				
				
				
			});				
		</script>
		
	
	</th:block>

</html>
