<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	<th:block layout:fragment="customCss">
		<!-- upmu.css  -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/upmu.css}">
	</th:block>
	
    
	<th:block layout:fragment="customContent">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
 		<div class="col-md-10">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-note2 icon-gradient bg-happy-itmeo "></i>
					    </div>
					    <div>
					    	<h3>개인결재함</h3>					    		
					       	<div class="page-title-subheading">
					       	</div>
					    </div>
					</div>
				</div>
			</div>
             <div class="main-card mb-10 card">
                  <div class="card-body">  
                  	<h4><i class="pe-7s-note2"></i> 상신함 </h4>
                  	<form >
						<select name="sk" class="form-control select-form" >
							<option value="" selected="selected" disabled="disabled">::검색조건::</option>
							<option value="t.doc_type">문서유형</option>
							<option value="doc_title">제목</option>
							<option value="a.app_state">결재상태</option>
						</select>
						<input type="text" name="sv" class="form-control select-form">	
							<button type="button" id="seachBtn" class="mb-2 mr-2 btn btn-primary"><i class="pe-7s-search">    검색</i></button>
					</form>
					<br>
					<table class="mb-0 table table-hover ">
                    	<thead>
	                         <tr>
	                             <th class="text-center">문서코드</th>
	                             <th class="text-center">문서유형</th>
	                             <th class="text-center">제목</th>
	                             <th class="text-center">첨부파일</th>
	                             <th class="text-center" >보안</th>
	                             <th class="text-center">마감요청일</th>
	                             <th class="text-center">기안날짜</th>
	                             <th class="text-center">결재상태</th>
	                             <th class="text-center">회수</th>
	                         </tr>
	                    </thead>
                        <tbody id="myAppList">                       
	                        <tr th:each="l : ${myAppList}">
	                            <td th:text="${l.docCode}" id="docCode" class='text-center'></td>
	                            <td th:text="${l.docTypeName}" id="docTypeName" class='text-center'></td>
	                            <td><a th:text="${l.docTitle}" id="docTitle" class='text-center' th:href="@{/docDetail}"></a></td>
	                            <td th:text="${l.docFile}"  id="docFile" class='text-center'></td>
	                            <td th:text="${l.security}" id="security" class='text-center'></td>
	                            <td th:text="${l.deadline}" id="deadline" class='text-center'></td>
	                            <td th:text="${l.writeDate}" id="writeDate" class='text-center'></td>
	                            <td th:text="${l.appStateName}" id="appStateName" class='text-center'></td>	                        	
	                            <td class='text-center'><button type="button" id="retrievalBtn" class="mb-2 mr-2 btn btn-primary" >회수하기</button></td>	                        	
	                        </tr>
	                       
                        </tbody>
                    </table>
                  </div>
             </div> 
       </div>          







<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>

	</th:block>
    <th:block layout:fragment="customJsScript">   
    <!-- 조건검색 후 뿌려주기 ajax  -->  
     <script type="text/javascript">
    	$(function(){	
    		$('#seachBtn').click(function(){
    			var sk = $('select[name="sk"]');
    			var sv = $('input[name="sv"]');
    			var request = $.ajax({
				    				url: "/myAppList",
									method: "POST",
									data: { sk : sk.val(),
											sv : sv.val()},
									dataType: "json"
    			});
    			
    			 request.done(function(data){
    				console.log(data);					
				  	$('#myAppList').children("tr").remove();
				  	if(data == undefined || data == ''){
				  		alert('검색결과가 없습니다.');				  		
				  	}
				  	else{
				  		for(var i=0; i<data.length; i++){	
			    			console.log(data[i].appStateName);			    			
			    			if(data[i].docFile == null || data[i].docFile == '' ){
			    				data[i].docFile = "-";
			    			}
			    			if(data[i].security == null || data[i].security == '' ){
			    				data[i].security = "-";
			    			}
			    							    			
		    				 $('#myAppList').append("<tr><td class='text-center'>"+ data[i].docCode + "</td>"
		    						 				+ "<td  class='text-center'>"+ data[i].docTypeName + "</td>"
		    						 				+ "<td  class='text-center'>"+ data[i].docTitle + "</td>"
		    						 				+ "<td  class='text-center'>"+ data[i].docFile + "</td>"
		    						 				+ "<td  class='text-center'>"+ data[i].security + "</td>"
		    						 				+ "<td  class='text-center'>"+ data[i].deadline + "</td>"
		    						 				+ "<td  class='text-center'>"+ data[i].writeDate + "</td>"
		    						 				+ "<td  class='text-center'>"+ data[i].appStateName + "</td>"
		    						 				+ "<td class='text-center'><button type='button' id='retrievalBtn' class='mb-2 mr-2 btn btn-primary' >회수하기</button></td></tr>");
			    			
			    		}
				  	
				  	}
				  	/* 회수하기 */
				  	
    			}); 
    		});
    		
    	});
	</script>
	
	<!-- 회수하기  -->
	<script>
		$(function(){
			$('#retrievalBtn').click(function(){
				alert('확인');
			
		});
	</script>	
    </th:block>
</html>