<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	<th:block layout:fragment="customCss">
		<!-- upmu.css  -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/upmu.css}">
	</th:block>
	
    
	<th:block layout:fragment="customContent">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
 		<div class="col-md-12">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-monitor icon-gradient bg-mean-fruit"></i>
					    </div>
					    <div>
					    	<h3>전자결재</h3>					    		
					       	<div class="page-title-subheading">
					       	</div>
					    </div>
					</div>
				</div>
			</div>
             <div class="main-card mb-12 card">
                  <div class="card-body">  
                  	<h4><i class="pe-7s-box1"></i> 임시저장함 </h4><br>
                  	<form action="/storageBox" method="post">
						<select name="sk" class="form-control select-form" >
							<option value="" selected="selected" disabled="disabled">::검색조건::</option>
							<option value="t.doc_type">문서유형</option>
							<option value="doc_title">제목</option>							
						</select>
						<input type="text" name="sv" class="form-control select-form">	
							<button type="submit" id="seachBtn" class="mb-2 mr-2 btn btn-primary"><i class="pe-7s-search">    검색</i></button>
					</form>
					<br>
					<table class="mb-0 table table-hover ">
                    	<thead>
	                         <tr>
	                             <th class="text-center">문서코드</th>
	                             <th class="text-center">문서유형</th>
	                             <th class="text-center">제목</th>
	                             <th class="text-center">첨부파일</th>
	                             <th class="text-center">마감요청일</th>
	                             <th class="text-center">보안</th>
	                             <th class="text-center">기안날짜</th>	                             
	                             <th class="text-center">삭제하기</th>
	                         </tr>
	                    </thead>
                        <tbody id="storageBox">                       
	                        <tr th:each="s : ${storageBox}" th:if="${s.writerNum eq session.SSTAFFNUM}">
	                            <td th:text="${s.docCode}" th:value="${s.docCode}" id="docCode" class='text-center'></td>
	                            <td th:text="${s.docTypeName}" id="docTypeName" class='text-center'></td>
	                            <td><a th:text="${s.docTitle}" id="docTitle" class='text-center' th:href="@{/docDetail(docCode=${s.docCode})}"></a></td>
	                            <td th:text="${s.docFile}"  id="docFile" class='text-center'></td>
	                            <td th:text="${s.deadline}" id="deadline" class='text-center'></td>
	                            <td th:text="${s.appSecurity}" id="appSecurity" class='text-center' ></td>
	                            <td th:text="${s.writeDate}" id="writeDate" class='text-center'></td>                        	
	                            <td class='text-center'>
	                            	<a th:href="@{/delStorage(docCode=${s.docCode})}" >
	                           	 		<button type="button" class="mb-2 mr-2 btn-transition btn btn-outline-danger delBtn" ><i class="pe-7s-trash">삭제하기</i></button>
	                            	</a>
	                           	 </td>	                        	
	                        </tr>	                       
                        </tbody>
                    </table>
                  </div>
             </div> 
       </div>          







<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	<script type="text/javascript">
		$(function(){
			
			<!-- 삭제버튼클릭이벤트 -->
			$('.delBtn').click(function(){
				if(confirm("정말삭제하시겠습니까?") == true){				    
									        
				}else{
				   return false;
				}
				
			});		
			
			
		});
	</script>


</html>