<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	 <th:block layout:fragment="customCss">


<link rel="stylesheet" href="summernote/summernote-lite.css">
	 	<style>
.index-front{
   z-index:1;
}


.center-form{
   width:30%;
   float:left;
}
.right-form{
   width:30%;
   float:right;
}
	 	</style>
	 </th:block>
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
	<div class="app-main__inner">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
					        </i>
					    </div>
					    <div>채용공고등록
					       <div class="page-title-subheading">채용공고 등록페이지</div>
					    </div>
					</div>
				</div>
			</div>

			<!-- 조회한 게시글 화면  -->
			<th:block th:if="${cyboard != null}">
				<div class="row">
		  			<div class="col-md-12">
		              <div class="main-card mb-3 card">
		                  <div class="card-body"><h5 class="card-title">구인공고등록</h5>                     
							<form action="/updateCYPost" method="post">
		                      <div class="position-relative form-group"><label>채용부서</label><select name="jobJojicCode" id="jobFieldCode" class="form-control">
                    			<option th:each="j : ${jojicCode}" th:value="${j.jojicCode}" th:text="${j.jojicName}" th:selected="${cyboard.jobJojicCode eq j.jojicCode}"></option>
		                      </select></div>
		                             <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                        	<input type="hidden" name="jobJojicName" id="jobJojicName">	
                                        	<input type="hidden" name="jobNumber" th:value="${cyboard.jobNumber}" class="hiddenJobNumber">	
                                            <label for="validationTooltip01">경력구분</label>
	                                          <select name="jobCareer" id="jobCareer" class="form-control">
						                        <option value="신입" th:selected="${cyboard.jobCareer eq '신입'}">신입</option>
		                         				<option value="경력" th:selected="${cyboard.jobCareer eq '경력'}">경력</option>
		                          				<option value="신입/경력" th:selected="${cyboard.jobCareer eq '신입/경력'}">신입/경력</option>
						                      </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationTooltip02">심사단계</label>
                                            	<select name="jobStage" class="form-control">
						                          <option value="1" th:selected="${cyboard.jobStage eq '1'}">1단계</option>
						                          <option value="2" th:selected="${cyboard.jobStage eq '2'}">2단계</option>
						                          <option value="3" th:selected="${cyboard.jobStage eq '3'}">3단계</option>
						                          <option value="4" th:selected="${cyboard.jobStage eq '4'}">4단계</option>
						                          <option value="5" th:selected="${cyboard.jobStage eq '5'}">5단계</option>
						                          <option value="6" th:selected="${cyboard.jobStage eq '6'}">6단계</option>
						                          <option value="7" th:selected="${cyboard.jobStage eq '7'}">7단계</option>
						                          <option value="8" th:selected="${cyboard.jobStage eq '8'}">8단계</option>
						                        </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationTooltipUsername">지원마감일</label>
                                            <div class="input-group">
                                             
                                                <input name="jobDeadLine" id="jobDeadLine" type="date" class="form-control" th:value="${cyboard.jobDeadLine}">                               
                                            </div>
                                        </div>
                                    </div>
		                      <div class="position-relative form-group"><label>제목</label><input name="jobTitle" id="jobTitle" placeholder="제목" type="text" class="form-control"  th:value="${cyboard.jobTitle}"></div>
		                      <textarea id="summernote" name="jobContent" th:text=${cyboard.jobContent}></textarea>
		                                  
		                     	<div class="d-block text-center">
		                            <button class="mb-2 mr-2 btn btn-info" type="submit">수정하기</button>
		                            <button class="mb-2 mr-2 btn btn-danger" type="button" id="cyPostDelete"><i class="pe-7s-trash btn-icon-wrapper"> </i>삭제하기</button>
	       						</div>             
							</form>
		                  </div>
		              </div>
		          </div>
				</div>
			</th:block>
				<!-- 초기 게시글 등록화면 -->
			<th:block th:if="${cyboard == null}">
				<div class="row">
		  			<div class="col-md-12">
		              <div class="main-card mb-3 card">
		                  <div class="card-body"><h5 class="card-title">구인공고등록</h5>                     
							<form id="addPost" action="/addCYPost" method="post">
		                      	<div class="position-relative form-group"><label>채용부서</label><select name="jobJojicCode" id="jojicCode" class="form-control">
                    				<option th:each="j : ${jojicCode}" th:value="${j.jojicCode}" th:text="${j.jojicName}"></option>
		                     	 </select></div>
		                     	 	<div class="form-row">
                                        <div class="col-md-4 mb-3">
                                        	<input type="hidden" name="jobJojicName" id="jobJojicName">	
                                            <label for="validationTooltip01">경력구분</label>
	                                           <select name="jobCareer" id="jobCareer" class="form-control">
						                          <option value="신입">신입</option>
						                          <option value="경력">경력</option>
						                          <option value="신입/경력">신입/경력</option>
						                       </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationTooltip02">심사단계</label>
                                            	<select name="jobStage" class="form-control">
						                          <option value="1">1단계</option>
						                          <option value="2">2단계</option>
						                          <option value="3">3단계</option>
						                          <option value="4">4단계</option>
						                          <option value="5">5단계</option>
						                          <option value="6">6단계</option>
						                          <option value="7">7단계</option>
						                          <option value="8">8단계</option>
						                        </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationTooltipUsername">지원마감일</label>
                                            <div class="input-group">
                                             
                                                <input name="jobDeadLine" id="jobDeadLine" type="date" class="form-control">                               
                                            </div>
                                        </div>
                                    </div>
		            
		                      <div class="position-relative form-group"><label>제목</label><input name="jobTitle" id="jobTitle" placeholder="제목" type="text" class="form-control"></div>
		                      <textarea id="summernote" name="jobContent"></textarea>
		                              
		                      <div align="center"><button class="mt-1 btn btn-primary" type="button" id="addcyPostBtn">등록하기</button></div>               
							</form>
		                  </div>
		              </div>
		          </div>
		        </div>
			</th:block>
		</div>
				
<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
		
	</th:block>
		<th:block layout:fragment="customJsScript">

	
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
		
		<!-- include summernote css/js -->
		

		<script src="/summernote/summernote-lite.js"></script>
		<script src="/summernote/lang/summernote-ko-KR.js"></script>


		
		<script type="text/javascript">
			$(function() {
		
				$(document).ready(function() {
					//여기 아래 부분
					$('#summernote').summernote({
						  height: 300,                 // 에디터 높이
						  minHeight: null,             // 최소 높이
						  maxHeight: null,             // 최대 높이
						  focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
						  lang: "ko-KR",					// 한글 설정
						  placeholder: '내용을 입력하세요'	//placeholder 설정
				          
					});
				});
				
				//채용공고등록 유효성검사
				$('#addcyPostBtn').click(function() {
					
					var jojicName = $('#jojicCode option:selected').text(); //셀렉트박스에 노출되는 text를 가져온다.				
					$('#jobJojicName').val(jojicName); //히든 인풋박스에 name 값을 저장
					
					var jobDeadLine = $('#addPost input[name=jobDeadLine]').val(); // 채용마감일
					var jobTitle = $('#addPost input[name=jobTitle]'); // 제목
					var jobContent = $('#addPost textarea[name=jobContent]'); // 내용
			
					if(jobDeadLine == '') {
						alert('마감일을 입력해 주세요');
						return false;
					}else if(jobTitle.val() == '') {
						alert('제목을 입력해 주세요');
						return false;
					}else if(jobContent.val() == '') {
						alert('내용을 입력해 주세요');
						return false;
					}
					  $('#addPost').submit(); 
				});
				
				//채용공고 삭제시 지원자 유무 확인
				$('#cyPostDelete').click(function() {
           		
					var jobNumber = $('.hiddenJobNumber').val();
            		var request = $.ajax({
            			url: "appSearch", //컨트롤러 맵핑
            			method: "POST",
            			data: { jobNumber : jobNumber },
            			dataType: "json" // json방식으로 값 전달
            		});
            		
            		request.done(function( data ) {
            			//히든 inputBox 중복검사여부를 담는다.
            			
            			var email = data.appEmail;
            			if(email != null){
							alert('해당 공고에 지원한 지원자가 있습니다');
            			}else{
            				if(confirm('정말로 삭제하시겠습니까?')) {
            					//로그인 기능 생기면 비밀번호 입력 추가
            					location.href="/deleteCYPost?jobNumber="+jobNumber;
            				}

            			}
            		});
            		
            		request.fail(function( jqXHR, textStatus ) {
            			alert( "Request failed: " + textStatus );
            		});
				});
			});
		</script>
	</th:block>
    
</html>
