<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	 <th:block layout:fragment="customCss">
	 	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
	 	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
	 	<style>
.index-front{
   z-index:1;
}

.left-form{
   width:31%;
   float:left;
   margin-right:4%;
}

.center-form{
   width:33%;
   float:left;
}
.right-form{
   width:30%;
   float:right;
}
	 	</style>
	 </th:block>
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
			<div class="card-body">
				<div class="row">
                    <div class="col-md-6 col-xl-6">
                        <div class="card mb-3 widget-content bg-midnight-bloom">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">오늘의 지원자 인원</div>
                                    <div class="widget-subheading">Today's number of applicants</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white"><span>1896</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div class="card mb-3 widget-content bg-arielle-smile">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">시계놓을꺼임</div>
                                    <div class="widget-subheading">진짜임</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white"><span>$ 568</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- 조회한 게시글 화면  -->
			<th:block th:if="${cyboard != null}">
				<form action="/addCYPost" method="post">
		  			<div class="col-md-12">
		              <div class="main-card mb-12 card">
		                  <div class="card-body"><h5 class="card-title">구인공고등록</h5>                     
		                      <div class="position-relative form-group"><label>채용부서</label><select name="jobFieldCode" id="jobFieldCode" class="form-control">
                    			<option th:each="f : ${fieldCode}" th:value="${f.fieldCode}" th:text="${f.fieldName}" th:selected="${cyboard.jobFieldCode eq f.fieldCode}"></option>
		                      </select></div>
		                      <div class="position-relative form-group index-front">
		                      <div class="position-relative form-group left-form"><label>모집분야명</label><input name="jobFieldName" id="jobFieldName" placeholder="모집분야명" type="text" class="form-control" th:value="${cyboard.jobFieldName}"></div>		                      
		                      <div class="position-relative form-group center-form"><label>경력구분</label><select name="jobCareer" id="jobCareer" class="form-control">
		                          <option value="신입" th:selected="${cyboard.jobCareer eq '신입'}">신입</option>
		                          <option value="경력" th:selected="${cyboard.jobCareer eq '경력'}">경력</option>
		                          <option value="신입/경력" th:selected="${cyboard.jobCareer eq '신입/경력'}">신입/경력</option>
		                      </select></div>
		                      <div class="position-relative form-group right-form"><label>지원마감일</label><input name="jobDeadLine" id="jobDeadLine" type="date" class="form-control" th:value="${cyboard.jobDeadLine}"></div>
		                      </div>
		                      <div class="position-relative form-group"><label>제목</label><input name="jobTitle" id="jobTitle" placeholder="제목" type="text" class="form-control"  th:value="${cyboard.jobTitle}"></div>
		                      <textarea id="summernote" name="jobContent" th:text=${cyboard.jobContent}></textarea>
		                      <div class="position-relative form-group"><label for="exampleFile" class="">첨부파일</label><input name="docFile" id="docFile" type="file" class="form-control-file">
		                      </div>             
		                     	<div class="d-block text-center">
		                            <button class="mb-2 mr-2 btn btn-info" onclick="location.href='/addCYPostForm'">수정하기</button>
		                            <button class="mb-2 mr-2 btn btn-danger" type="button" id="cyPostDelete"><i class="pe-7s-trash btn-icon-wrapper"> </i>삭제하기</button>
	       						</div>             
		                  </div>
		              </div>
		          </div>
				</form>
				</th:block>
				<!-- 초기 게시글 등록화면 -->
			<th:block th:if="${cyboard == null}">
				<form action="/addCYPost" method="post">
		  			<div class="col-md-12">
		              <div class="main-card mb-12 card">
		                  <div class="card-body"><h5 class="card-title">구인공고등록</h5>                     
		                      <div class="position-relative form-group"><label>모집분야</label><select name="jobFieldCode" id="jobFieldCode" class="form-control">
                    			<option th:each="f : ${fieldCode}" th:value="${f.fieldCode}" th:text="${f.fieldName}"></option>
		                      </select></div>
		                      <div class="position-relative form-group index-front">
		                      <div class="position-relative form-group left-form"><label>모집분야명</label><input name="jobFieldName" id="jobFieldName" placeholder="모집분야명" type="text" class="form-control"></div>		                      
		                      <div class="position-relative form-group center-form"><label>경력구분</label><select name="jobCareer" id="jobCareer" class="form-control">
		                          <option value="신입">신입</option>
		                          <option value="경력">경력</option>
		                          <option value="신입/경력">신입/경력</option>
		                      </select></div>
		                      <div class="position-relative form-group right-form"><label>지원마감일</label><input name="jobDeadLine" id="jobDeadLine" type="date" class="form-control"></div>
		                      </div>
		                      <div class="position-relative form-group"><label>제목</label><input name="jobTitle" id="jobTitle" placeholder="제목" type="text" class="form-control"></div>
		                      <textarea id="summernote" name="jobContent"></textarea>
		                      <div class="position-relative form-group"><label for="exampleFile" class="">첨부파일</label><input name="docFile" id="docFile" type="file" class="form-control-file">
		                      </div>             
		                      <div align="center"><button class="mt-1 btn btn-primary" type="submit" id="addcyPostBtn">등록하기</button></div>               
		                  </div>
		              </div>
		          </div>
				</form>
				</th:block>
				
<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
		
	</th:block>
		<th:block layout:fragment="customJsScript">
		
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
		<!-- include libraries(jQuery, bootstrap) -->

		
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
		
		<!-- include summernote css/js -->
		
		<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
		
		<script type="text/javascript">
			$(function() {
		
				$(document).ready(function() {
					//여기 아래 부분
					$('#summernote').summernote({
						  height: 300,                 // 에디터 높이
						  minHeight: null,             // 최소 높이
						  maxHeight: null,             // 최대 높이
						  focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
						  lang: "ko-KR",					// 한글 설정
						  placeholder: '내용을 입력하세요'	//placeholder 설정
				          
					});
				});
			});
		</script>
	</th:block>
    
</html>
