<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
<th:block layout:fragment="customCss">
		<link rel="stylesheet" type="text/css" th:href="@{/css/insa.css}">
<style>
	.emp-table{
		height:600px;
	}
	.scroll-area-lg{
	height: 400px;
}
</style>

</th:block>
	<th:block layout:fragment="customJs">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	</th:block>
<th:block layout:fragment="customContent">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
<div class="app-main__inner">
	<div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-map icon-gradient bg-premium-dark">
                    </i>
                </div>
                <div>지원자 이력서 등록
                    <div class="page-title-subheading">지원자 이력서 작성/수정/지원취소
                    </div>
                </div>
            </div>   
         </div>
    </div> 
    
    <div class="row">
		<div class="col-lg-4">
			<div class="main-card mb-3 card emp-table">
				<div class="card-body">
					<h5 class="card-title ">기본정보</h5>
						<div th:with="cy = ${chaeYoungApplicant}">
							<table class="mb-0 table table-bordered " >
						
									<tr>
										<td>지원자 접수번호 : </td>
										<td class="appNumCode" th:text=${cy.appNumCode}></td>
									</tr>
									<tr>
										<td>지원자 이메일 : </td>
										<td class="appEmail" th:text=${cy.appEmail}></td>
									</tr>
									<tr>
										<td>지원자 이름 : </td>
										<td th:text=${cy.appName}></td>
									</tr>
									<tr>
										<td>지원자 핸드폰번호 : </td>
										<td th:text="${cy.appPhone}"></td>
									</tr>
									<tr>
										<td>지원상태 : </td>
										<td th:text="${cy.appFinalState}"></td>
									</tr>

							</table>
							<input type="hidden" th:value="${cy.appPassward}" class="hiddenPw">
						</div>
				<div class="d-block text-center card-footer">
                    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger appDelete"><i class="pe-7s-trash btn-icon-wrapper deleteApp"> </i>지원취소하기</button>
                </div>
                <!-- 관리자 권한일 경우 이 div가 노출 -->
                <div class="text-center">                                                 
                 	<button type="button" id="PopoverCustomT-1" class="mb-2 mr-2 btn-transition btn btn-outline-success">합격</button>
                    <button type="button" id="PopoverCustomT-1" class="mb-2 mr-2 btn-transition btn btn-outline-danger">불합격</button>                            
                </div>
					
			
				</div>
			</div>
		</div>
				<div class="col-lg-8 col-lg-4">
					<div class="main-card card">
						<div class="card-body p-b-xs emp-table">
							<h5 class="card-title">추가 기입 정보</h5>
						
                            <div class="card-header">
                                <div class="btn-actions-pane-right">
                                    <div class="nav">
                                        <a data-toggle="tab" href="#isStaffBasicInfo" class="btn-pill btn-wide mr-1 m-b-xs active btn btn-outline-alternate btn-sm testa">인적사항</a>                   
                                        <a data-toggle="tab" href="#isCareerInfoFromOut" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">사외경력</a>
                                        <a data-toggle="tab" href="#isCertificateInfo" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">자격정보</a>
                                        <a data-toggle="tab" href="#isEducationInfo" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">학력정보</a>
                                        <a data-toggle="tab" href="#isMilitaryInfo" class="btn-pill btn-wide btn m-b-xs btn-outline-alternate btn-sm">병역정보</a>
                                    </div>
                                </div>
                          	</div>
                            <div class="card-body">
                            	<div class="scroll-area-lg">
                            	<div class="scrollbar-container ps--active-y ps">
                                <div class="tab-content formCheck">
                                    <div class="tab-pane active" id="isStaffBasicInfo" role="tabpanel">
										<form action="/addInfo" method="post" name="basicInfo" class="basicInfo">
										<th:block th:with="cy = ${chaeYoungApplicant}">
											<input type="hidden" th:value=${cy.appNumCode} name="appNumCode">
											<input type="hidden" th:value=${cy.appEmail} name="appEmail">
											<input type="hidden" th:value=${cy.jobNumber} name="jobNumber">
										</th:block>
											<table class="mb-12 table table-bordered">
												<colgroup>
													<col width = "12%">
													<col width = "30%">
													<col width = "15%">
													<col width = "43%">
												</colgroup>
												<tr>
													<td class="t_head2">영문 이름</td>
													<td>
														<input type="text" class="form-control last-name textValue" value="김">
													</td>
													<td class="t_head2">영문 성</td>
													<td>
														<input type="text" class="form-control first-name textValue" value="김">
														<input type="hidden" name="staffEngName">
													</td>
												</tr> 
												<tr>													
													<td class="t_head2">성별</td>
													<td>
														<label><input type="radio" name="staffGender" value="여" checked="checked"> 여</label>
														<label><input type="radio" name="staffGender" value="남"> 남</label>													
													</td>
													<td class="t_head2">주민등록번호</td>
													<td class="inputmaineus">
														<input type="text" name="humanNum1" class="form-control input-width21 textValue" value="950314">
														<span class="span-font">-</span>
														<input type="password" name="humanNum2" class="form-control input-width22 textValue" value="1145645">
														<input type="hidden" name="humanNum">
													</td>
												</tr> 
												<tr>
													<td class="t_head2">내외국인</td>
													<td>
														<label><input type="radio" name="staffNationality" value="내국인" checked="checked" class="staff-nationality-input"> 내국인</label>
														<label><input type="radio" name="staffNationality" value="외국인" class="staff-nationality-input"> 외국인</label>
													<td class="t_head2">국적</td>
													<td>
														<input type="text" name="staffCountry" class="form-control textValue" disabled="disabled" value="대한민국">
													</td>
												</tr> 
												<tr>													
													<td class="t_head2">결혼여부</td>
													<td>
														<label><input type="radio" name="staffMarriged" value="미혼" checked="checked"> 미혼 </label>
														<label><input type="radio" name="staffMarriged" value="기혼"> 기혼</label>
													</td>
													<td class="t_head2">연락처</td>
													<td class="inputmaineus">
														<input type="text" name="staffPhone" class="form-control phoneNumber textValue" maxlength="13" value="010-7565-4523">
													</td>
												</tr> 
												<tr>													
													<td class="t_head2">이메일</td>
													<td>
														<input type="text" name="staffEmail" class="form-control textValue" value="김">
													</td>
													<td class="t_head2">주소</td>
													<td>
														<input type="text" name="staffAddr" class="form-control textValue" value="김">
													</td>
												</tr> 

											</table>
				                   	    </form>    
                                    </div>
                                  
            						<div class="tab-pane" id="isCareerInfoFromOut" role="tabpanel">
										
											<div class="position-relative form-group">
                                                <div>
                                                    <div class="custom-checkbox custom-control custom-control-inline"><input type="checkbox" id="exampleCustomInline" class="custom-control-input careerInfoCheck">
                                                    	<label class="custom-control-label" for="exampleCustomInline">경력사항없음</label>
                                      				</div>                                              
                                                </div>
                                            </div>
                                           
											<table class="mb-12 table table-bordered careerInfoTable ">
												<tr>
													<td class="t_head2">직장명</td>
													<td >
														<input type="text" name="companyName" class="form-control textValue">
													</td>
													<td class="t_head2">직위</td>
													<td >
														<input type="text" name="companyAccess" class="form-control textValue">
													</td>
												</tr>
												<tr>
													<td class="t_head2">직책</td>
													<td>
														<input type="text" name="companyPositionFromOut" class="form-control textValue">
													</td>
													<td class="t_head2">담당업무</td>
													<td>
														<input type="text" name="companyWorkFormOut" class="form-control textValue">
													</td>
												</tr>
												<tr>
													<td class="t_head2">입사일자</td>
													<td>
														<input type="date" name="companyInDateFromOut" class="form-control textValue">
													</td>
													<td class="t_head2">퇴사일자</td>
													<td>
														<input type="date" name="companyOutDateFromOut" class="form-control textValue">
													</td>
												</tr>	
												<tr>
													<td class="t_head2">퇴직사유</td>
													<td colspan="3">
														<textarea name="companyOutReason" class="form-control textValue"></textarea>
													</td>
												</tr> 												
												<tr>
													<td colspan="8">
														<div class="addDiv"><button type="button" class="font-icon-wrapper btn btn-light addCareerInfoFromOutBtn"><i class="pe-7s-add-user"></i>경력추가</button></div>
													</td>
												</tr>
											</table>
										<form class="careerInfo" action="/addInfo" method="post">
											<table class="careerValue mb-0 table table-borderless">
												<tr>
													<td> 직장명 </td>
													<td> 직위 </td>
													<td> 직책 </td>
													<td> 담당업무 </td>
													<td> 입사일자 </td>
													<td> 퇴사일자 </td>
													<td> 퇴직사유 </td>
												</tr>
											</table>
									
				                         </form>                              
                                     </div>
                                     <div class="tab-pane" id="isCertificateInfo" role="tabpanel">
										<form class="certificateInfo" action="/addInfo" method="post">
										    <div class="position-relative form-group">
                                                <div class="custom-checkbox custom-control">
                                                	<input type="checkbox" id="exampleCustomCheckbox" class="custom-control-input certificateInfoCheck">
                                                	<label class="custom-control-label" for="exampleCustomCheckbox">자격증사항없음</label>
                                               </div>                                            
                                            </div>
											<table class="mb-12 table table-bordered certificateInfoTable">
												<tr>
													<td class="t_head2">자격증명</td>
													<td colspan="5">
														<input type="text" name="certificateName" class="form-control textValue">
													</td>
												</tr> 
												<tr>
													<td class="t_head2">발급기관</td>
													<td >
														<input type="text" name="issuingAgency" class="form-control textValue">
													</td>
													<td class="t_head2">자격번호</td>
													<td>
														<input type="text" name="certificateNum" class="form-control textValue">
													</td>
												</tr>
												<tr>
													<td class="t_head2">취득일</td>
													<td>
														<input type="date" name="getDate" class="form-control textValue">
													</td>
													<td class="t_head2">만료일</td>
													<td>
														<input type="date" name="finishedDate" class="form-control textValue">
													</td>
												</tr> 												
												<tr>
													<td colspan="8">
														<div class="addDiv"><button class="font-icon-wrapper btn btn-light" type="button"><i class="pe-7s-add-user"></i>미구현</button></div>
													</td>
												</tr>

											</table>
				                        </form>                             
                                    </div>
                                    <div class="tab-pane" id="isEducationInfo" role="tabpanel">
										<form class="educationInfo" action="/addInfo" method="post">
											<table class="mb-12 table table-bordered">
												<tr>
													<td class="t_head2">학교명</td>
													<td colspan="5">
														<input type="text" name="schoolName" class="form-control textValue" value="2020-09-09">
													</td>
												</tr> 
												<tr>
													<td class="t_head2">전공</td>
													<td >
														<input type="text" name="majorName" class="form-control textValue" value="2020-09-09" >
													</td>
													<td class="t_head2">부전공</td>
													<td>
														<input type="text" name="minorName" class="form-control textValue" value="2020-09-09">
													</td>
												</tr> 
												<tr>												
													<td class="t_head2">학위</td>
													<td>
														<input type="text" name="degree" class="form-control textValue" value="2020-09-09">
													</td>
													<td class="t_head2">상태</td>
													<td>
														<input type="text" name="hakryuckStatus" class="form-control textValue" value="2020-09-09">
													</td>
												</tr> 
												<tr>
													<td class="t_head2">입학일</td>
													<td>
														<input type="date" name="entranceDate" class="form-control textValue" value="2020-09-09">
													</td>
													<td class="t_head2">졸업일</td>
													<td>
														<input type="date" name="graduatDate" class="form-control textValue" value="2020-09-09">
													</td>												
												</tr>
											</table>
				                        </form>                                   
                                    </div>                                                                                                            
                                                                                                                                             
                                    <div class="tab-pane" id="isMilitaryInfo" role="tabpanel">
										<form class="militaryInfo" action="/addInfo" method="post">
											<table class="mb-12 table table-bordered">
												<tr>
													<td class="t_head2">병역구분</td>
													<td colspan="5">
														<select id="militaryclassidx" class="form-control textValue" name="militaryClassidx" >
                               								 <option value="">병역구분 선택</option>
                               								 <option value="병역필">병역필</option>
                               								 <option value="장교제대">장교제대</option>
                               								 <option value="면제">면제</option>
                               								 <option value="병역미필">병역미필</option>
                               								 <option value="병역특례">병역특례</option>
                               								 <option value="여성">해당없음(여성)</option>
                           								</select>
													</td>
												</tr> 
												<tr>
													<td class="t_head2">군별</td>
													<td colspan="5">
														<select name="militaryServiceType" class="form-control staffDetailInfo textValue" >
															<option value="" selected="selected" disabled="disabled">선택</option>
							                                <option value="육군">육군</option>
							                                <option value="해군">해군</option>
							                                <option value="공군">공군</option>
							                                <option value="의경">의경</option>
							                                <option value="공익">공익</option>
							                                <option value="전문연구요원">전문연구요원</option>
							                                <option value="산업기능요원">산업기능요원</option>
							                                <option value="해당없음"hidden="hidden">해당없음</option>
							                            </select>
													</td>
												</tr> 
												<tr>
													<td class="t_head2">전역상태</td>
													<td >
														<select id="militaryState" class="form-control textValue" name="militaryState">
                                							<option value="" selected="selected" disabled="disabled">선택</option>
                                							<option value="만기제대">만기제대</option>
                                							<option value="의가사제대">의가사제대</option>
                                							<option value="기타">기타</option>
                                							<option value="해당없음" hidden="hidden">해당없음</option>
                            							</select>
													</td>
													<td class="t_head2">계급</td>
													<td>
														<select name="militaryLevel" class="form-control staffDetailInfo textValue">
							                                <option value="" selected="selected" disabled="disabled">선택</option>
							                                <option value="이병">이병</option>
							                                <option value="일병">일병</option>
							                                <option value="상병">상병</option>
							                                <option value="병장">병장</option>
							                                <option value="하사">하사</option>
							                                <option value="중사">중사</option>
							                                <option value="상사">상사</option>
							                                <option value="준위">준위</option>
							                                <option value="소위">소위</option>
							                                <option value="중위">중위</option>
							                                <option value="대위">대위</option>
							                                <option value="소령">소령</option>
							                                <option value="중령">중령</option>
							                                <option value="대령">대령</option>
							                                <option value="준장">준장</option>
							                                <option value="소장">소장</option>
							                                <option value="중장">중장</option>
							                                <option value="대장">대장</option>
							                                <option value="해당없음" hidden="hidden">해당없음</option>
							                            </select>
													</td>
												</tr> 
												<tr>
													<td class="t_head2">입대일자</td>
													<td >
														<input type="date" name="militaryInDay" class="form-control textValue">
													</td>
													<td class="t_head2">전역일자</td>
													<td>
														<input type="date" name="militaryOutDay" class="form-control textValue">
													</td>
												</tr> 
												<tr>
													<td class="t_head2">면제사유</td>
													<td colspan="3">
														<textarea name="militaryInfoNotes" class="form-control textValue"></textarea>
													</td>
												</tr>												
											</table>
										</form>
		                              <div class="d-block card-footer addDiv">
		                                 <button class="mb-2 mr-2 btn btn-primary btn-sm btn-block" type="button" id="InfoStorage">등록하기</button>
		                              </div>
                                    </div>                                                                                                            
                                </div> 
                                                                            
                             </div>
                             <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
                             <div class="ps__rail-y" style="top: 0px; height: 200px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 65px;"></div></div>
                             </div>
                             </div>
                         </div>
					</div>
				</div>
			</div>
		</div>

<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	</th:block>
		
	<th:block layout:fragment="customJsScript">
	<script src="/assets/scripts/chaeyoungBoard.js"></script>
	<script src="/assets/scripts/chaeyoung-info.js"></script>
  	
	</th:block>


</html>
