<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
<th:block layout:fragment="customCss">
		<link rel="stylesheet" type="text/css" th:href="@{/css/insa.css}">
<style>
	.emp-table{
		height:600px;
	}
	.scroll-area-lg{
	height: 400px;
}
</style>

</th:block>
	<th:block layout:fragment="customJs">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	</th:block>
<th:block layout:fragment="customContent">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
<div class="app-main__inner">
	<div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-map icon-gradient bg-premium-dark">
                    </i>
                </div>
                <div>지원자 이력서 등록
                    <div class="page-title-subheading">지원자 이력서 작성/수정/지원취소
                    </div>
                </div>
            </div>   
         </div>
    </div> 
    
    <div class="row">
		<div class="col-lg-4">
			<div class="main-card mb-3 card emp-table">
				<div class="card-body">
					<h5 class="card-title ">기본정보</h5>
						<div th:with="cy = ${chaeYoungApplicant}">
							<table class="mb-0 table table-bordered " >
						
									<tr>
										<td>지원자 접수번호 : </td>
										<td class="appNumCode" th:text=${cy.appNumCode}></td>
									</tr>
									<tr>
										<td>지원자 이메일 : </td>
										<td class="appEmail" th:text=${cy.appEmail}></td>
									</tr>
									<tr>
										<td>지원자 이름 : </td>
										<td th:text=${cy.appName}></td>
									</tr>
									<tr>
										<td>지원자 핸드폰번호 : </td>
										<td th:text="${cy.appPhone}"></td>
									</tr>
									<tr>
										<td>지원상태 : </td>
										<td th:text="${cy.appFinalState}"></td>
									</tr>

							</table>
							<input type="hidden" th:value="${cy.appPassward}" class="hiddenPw">
						</div>
				<div class="d-block text-center card-footer">
					<div class="input-group"><input type="text" class="form-control" onblur="OnlyNumber(this, 100);">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-secondary">점수부여</button>
                                                        </div>
                                                    </div>
                </div>
                <!-- 관리자 권한일 경우 이 div가 노출 -->
                <div class="text-center">                                                 
                 	<button type="button" id="PopoverCustomT-1" class="mb-2 mr-2 btn-transition btn btn-outline-success">합격</button>
                    <button type="button" id="PopoverCustomT-1" class="mb-2 mr-2 btn-transition btn btn-outline-danger">불합격</button>                            
                </div>
					
			
				</div>
			</div>
		</div>
				<div class="col-lg-8 col-lg-4">
					<div class="main-card card">
						<div class="card-body p-b-xs emp-table">
							<h5 class="card-title">추가 기입 정보</h5>
						
                            <div class="card-header">
                                <div class="btn-actions-pane-right">
                                    <div class="nav">
                                        <a data-toggle="tab" href="#isStaffBasicInfo" class="btn-pill btn-wide mr-1 m-b-xs active btn btn-outline-alternate btn-sm testa">인적사항</a>                   
                                        <a data-toggle="tab" href="#isCareerInfoFromOut" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">자기소개서</a>
                                    </div>
                                </div>
                          	</div>
                            <div class="card-body" th:with= "info =${chaeYoungInfo}">
                            	<div class="scroll-area-lg">
	                            	<div class="scrollbar-container ps--active-y ps">
		                                <div class="tab-content formCheck">
		                                    <div class="tab-pane active" id="isStaffBasicInfo" role="tabpanel">					
												<table class="mb-12 table table-bordered">
													<colgroup>
														<col width = "12%">
														<col width = "30%">
														<col width = "15%">
														<col width = "43%">
													</colgroup>
										
														<tr>
															<th>나이</th>
															<td th:text=${age}></td>
															<th>성별</th>
															<td th:text=${info.staffGender}></td>
														</tr>
														<tr>
															<th>휴대폰번호</th>
															<td th:text=${info.staffPhone}></td>
															<th>병역정보</th>
															<td >
																<div th:text=${info.militaryClassidx}></div>
																<div th:text="${info.militaryLevel} ? ${info.militaryLevel} + ' ' +${info.militaryState}"></div>
														
		
														</tr>
														<tr>
															<th>이메일</th>
															<td th:text=${info.staffEmail}></td>
															<th>국적</th>
															<td th:text=${info.staffCountry}></td>
		
														</tr>
														<tr>
															<th>학력</th>
															<td><div><strong><span th:text=${info.schoolName}></span></strong></div><div th:text=${info.hakryuckStatus}></div>
															<div th:text="${#strings.substring(info.graduatDate,0, 4)}"></div></td>
															<th>주소</th>
															<td th:text=${info.staffAddr}></td>
														</tr>
														<tr>
															<td><strong>경력</strong></td>
															<td th:if=${careerList}><a data-toggle="modal" href=".bd-example-modal-lg">경력자</a><input type="hidden" value="경력자"></input></td>
															<td th:unless=${careerList}>신입</td>	
															<th>자격증</th>
															<td>1개</td>
														</tr>
													<tr>
													</tr>
												</table>				                  
		                                    </div>
			            					<div class="tab-pane" id="isCareerInfoFromOut" role="tabpanel">
										                           
			                                </div>
		                                                                     
			                             </div>
		                             <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
		                             <div class="ps__rail-y" style="top: 0px; height: 200px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 65px;"></div></div>
	                             </div>
                             </div>
                         </div>
					</div>
				</div>
			</div>
		</div>
			<!-- modal Start -->
			<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
			    <div class="modal-dialog modal-lg">
			        <div class="modal-content">
			            <div class="modal-header">
			                <h5 class="modal-title" id="exampleModalLongTitle">경력정보</h5>
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                    <span aria-hidden="true">×</span>
			                </button>
			            </div>
			       <div class="modal-body">          
		          		<table class="mb-0 table table-hover">
		          			<colgroup>
								<col width = "20%">
								<col width = "10%">
								<col width = "10%">
								<col width = "20%">
								<col width = "10%">
								<col width = "10%">
							</colgroup>
                            <thead>
                               <tr>
                                   <th>직작명</th>
                                   <th>직위</th>
                                   <th>직책</th>
                                   <th>직무</th>
                                   <th>기간</th>
                                   <th>사유</th>
                               </tr>
                            </thead>
                            <tbody>
                            	<th:block th:each="cr : ${careerList}">
                            		<tr>
		                				<td th:text=${cr.companyName}></td>
		                				<td th:text=${cr.companyAccess}></td>
		                				<td th:text=${cr.companyPositionFromOut}></td>
		                				<td th:text=${cr.companyWorkFormOut}></td>
		                				<td>6개월</td>
		                				<td th:text=${cr.companyOutReason}></td>
		                			</tr>
		                		</th:block>                   
                            </tbody>
                         </table>		                	
			          <div class="modal-footer">
			              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			          </div>
			       </div>
			    </div>
			</div>
		</div>	
		<!-- modal End -->
	</div>
<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	</th:block>
		
	<th:block layout:fragment="customJsScript">
	<script src="/assets/scripts/chaeyoungBoard.js"></script>
	<script src="/assets/scripts/chaeyoung-info.js"></script>
	<script type="text/javascript">
		function OnlyNumber(obj, chkint){
		  if(isNaN(obj.value)){
		    alert("숫자만 입력 가능합니다.");
		    obj.value="";
		    obj.focus();
		    return false;
		  }
		  if(obj.value > Number(chkint)) {
		    alert(chkint+"이하의 숫자만 가능합니다.");
		    obj.value="";
		    obj.focus();
		    return false;
		  }
		}
	</script>
	</th:block>


</html>
