<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
		<div class="app-main__inner">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
					        </i>
					    </div>
					    <div>지원자목록
					       <div class="page-title-subheading">지원자 목록 조회</div>
					    </div>
					</div>
				</div>
			</div>          
               <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                   <li class="nav-item" th:each="cy : ${cyBoardList}">
                       <a role="tab" class="nav-link" th:id="@{'tab-'+${cyStat.index}}" data-toggle="tab" th:href="@{'#tab-content-'+${cyStat.index}}">
                           <span class="testTest"th:text=${cy.jobJojicName}></span>
                       </a>
                   </li>
               </ul>
               <div class="tab-content">
               <th:block th:each="cy : ${cyBoardList}">
                   <div class="tab-pane tabs-animation fade"  th:id="@{'tab-content-'+${cyStat.index}}" role="tabpanel">
                       <div class="row">
						<div class="col-md-12">
                         <div class="main-card mb-3 card">
                             <div class="card-header">
                             	<a th:href="@{/addCYPostForm(jobNumber=${cy.jobNumber})}" th:text="${cy.jobTitle}"></a>
                                 <div class="btn-actions-pane-right">
                                     <div role="group" class="btn-group-sm btn-group">
                                       
                                     </div>
                                 </div>
                             </div>
                             <div class="table-responsive">
                             
                                 <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                     <thead>
                                     <tr>
                                         <th class="text-center">지원자접수번호</th>
                                         <th class="text-center">이름</th>
                                         <th class="text-center">지원날짜</th>
                                         <th class="text-center">Status</th>
                                         <th class="text-center">이력서조회</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <th:block th:each="app : ${appList}" th:if="${cy.jobNumber eq app.jobNumber}">
                                     <tr>
                                         <td id="test" class="text-center text-muted" th:text="${app.appNumCode}"></td>
                                         <td class="text-center" th:text="${app.appName}">
                                         </td>
                                         <td class="text-center" th:text="${app.appRegDate}"></td>
                                         <td class="text-center">
                                         	<th:block th:switch="${app.appFinalState}">
                                             <div th:case="임시저장" class="badge badge-warning" th:text="${app.appFinalState}"></div>
                                             <div th:case="*" class="badge badge-success" th:text="${app.appFinalState}"></div>
                                             </th:block>
                                         </td>
                                         <td class="text-center">
                                             <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm d app_resume">이력서 보기</button>
                                         </td>
                                     </tr>
                                     </th:block>



                                     </tbody>
                                 </table>
                             </div>
                             <div class="d-block text-center card-footer">
                                 	페이징 위치
                             </div>
                         </div>
                     </div>           
                         </div>
                     </div>
                     </th:block>
 
                 </div>
             </div>


<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>

	</th:block>
	
	<th:block layout:fragment="customJsScript">
		<script>
			$(function() {
				$('.app_resume').click(function() {
					var appNum = $(this).parent().parent().children().eq(0).text();
					var appName = $(this).parent().parent().children().eq(1).text().trim();
					var state = $(this).parent().parent().children().eq(3).text().trim();
					
					if(state != '지원완료') {
						alert('지원이 완료된 이력서만 열람할 수 있습니다.');
						return false;
					}
					if(confirm(appName + '님 이력서를 보시겠습니까?')) {
						location.href="/appResumeFormValue?appNumCode="+appNum;
					}
				});
			});
		</script>
	</th:block>
</html>
