<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
<th:block layout:fragment="customCss">
	<link rel="stylesheet" type="text/css" th:href="@{/css/chaeyoung.css}">
</th:block>
	<th:block layout:fragment="customJs">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	</th:block>
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>

	<th:block layout:fragment="customContent">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
		<div class="app-main__inner">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
					        </i>
					    </div>
					    <div>채용공고게시판
					       <div class="page-title-subheading">채용공고 게시판</div>
					    </div>
					</div>
				</div>
			</div>  
			<div class="card-body">
				<div class="row">
					<div class="col-md-12 naemam">
                   		<div class="main-card mb-3 card">
	                        <div class="card-body">
	                            <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
	                                <div class="carousel-inner">
	                                    <div class="carousel-item">
	                                        <img class="d-block w-100" src="img/1.png" alt="First slide">
	                                    </div>
	                                    <div class="carousel-item active">
	                                        <img class="d-block w-100" src="img/2.png" alt="Second slide">
	                                    </div>
	                                    <div class="carousel-item">
	                                        <img class="d-block w-100" src="img/3.png" alt="Third slide">
	                                    </div>
	                                </div>
	                                <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
	                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	                                    <span class="sr-only">Previous</span>
	                                </a>
	                                <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
	                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	                                    <span class="sr-only">Next</span>
	                                </a>
	                            </div>
	                        </div>
                   		 </div>
                	</div>			
                </div>
			</div>

			<div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-header">채용공고 게시판
                            <div class="btn-actions-pane-right">
                                <div role="group" class="btn-group-sm btn-group">
									<input type="text">
                                    <button class="btn btn-focus">검색</button>
                                </div>
                            </div>
                        </div>
                   		 <div class="table-responsive">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">구분</th>
                                    <th class="text-center">모집부서</th>
                                    <th class="text-center">구인공고제목</th>
                                    <th class="text-center">채용마감일</th>
                                    <th class="text-center">공고등록일</th>
                                    <th class="text-center">지원하기</th>
                                </tr>
                                </thead>
                                <tbody id="tbody">
                                <tr th:each="cy : ${cyBoardList}">
                               
                                    <td class="text-center text-muted" th:text="${cy.jobNumber}"></td>
                                    <td class="text-center text-muted addd" th:text="${cy.jobJojicName}"></td>
                                    <td>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">
                                                    <a th:href="@{/addCYPostForm(jobNumber=${cy.jobNumber})}" th:text="${cy.jobTitle}"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center deadLine" th:text="${cy.jobDeadLine}"></td>
                                    <td class="text-center" th:text="${cy.jobRegDate}"></td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary btn-sm applicantBtn" data-toggle="modal" data-target="#myModal" >지원하기</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-block text-center card-footer">
                            <button class="btn-wide btn btn-success" onclick="location.href='/addCYPostForm'">글등록하기</button>
           				</div>
			        </div>
			    </div>
			 </div>
					<div class="modal fade" id="myModal">
					
					  <div class="modal-dialog" >
					  
					    <div class="modal-content">
					      <div class="modal-header">
					        <h4 class="modal-title">지원서작성</h4>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					      </div>
					      <div class="card mb-3 widget-content">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading" id="jobJojicName"></div>
                                                <div class="widget-subheading" id="jobTitle"></div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="widget-numbers text-success"><span id="deadLineDay"></span></div>
                                            </div>
                                        </div>
                                    </div>
					      <div class="modal-body">
					          
					            <div class="form-wrap">
					                <div class="button-wrap">
					                    <div id="btn"></div>
					                    <button type="button" class="togglebtn" onclick="login()">지원하기</button>
					                    <button type="button" class="togglebtn" onclick="register()">이력서</button>
					                </div>
					                <form id="login" class="input-group appInsertForm" action="/addApplicant" method="post">
					                	<input type="hidden" id="hiddenPassward"> 
					                    <input type="hidden" id="emailCheckResult">
					                    <input type="hidden" id="appEmailCheck">
					                    <input type="hidden" id="hiddenJobNumber" name="jobNumber">
					                    <input type="email" class="input-field" name="appEmail" placeholder="Email">
					                    <button type="button" id="emailCheck" class="mb-2 mr-2 btn btn-primary btn-sm btn-block">이메일 중복 검사</button>
					                    <input type="password" class="input-field" name="appPassward" placeholder="Password">
					                    <input type="text" class="input-field" name="appName" placeholder="Name">
					                    <input type="text" class="input-field phoneNumber" name="appPhone" placeholder="Phone" maxlength="13">
					                    <button class="submit" id="appBtn" type="button">지원하기</button>
					                </form>
					                <form id="register" action="" class="input-group app_resume">
					                    <input type="email" class="input-field" name="appEmail" placeholder="Email">
					                    <input type="password" class="input-field" name="appPassward" placeholder="Passward">
					                    <button class="submit app_resumeBtn" type="button">이력서 조회하기</button>
					                </form>
					            </div>
					        </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
					
			
<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
		

	</th:block>  
	<th:block layout:fragment="customJsScript">
		<script type="text/javascript" th:src="@{/assets/scripts/chaeyoungBoard.js}"></script>
	
	</th:block>
</html>
