<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
		<div class="app-main__outer">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
			<div class="card-body">
				<div class="row">
                    <div class="col-md-6 col-xl-6">
                        <div class="card mb-3 widget-content bg-midnight-bloom">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">오늘의 지원자 인원</div>
                                    <div class="widget-subheading">Today's number of applicants</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white"><span>1896</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div class="card mb-3 widget-content bg-arielle-smile">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">시계놓을꺼임</div>
                                    <div class="widget-subheading">진짜임</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white"><span>$ 568</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>

			<div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-header">구인공고 게시판
                            <div class="btn-actions-pane-right">
                                <div role="group" class="btn-group-sm btn-group">
									<input type="text">
                                    <button class="btn btn-focus">검색</button>
                                </div>
                            </div>
                        </div>
                   		 <div class="table-responsive">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">구분</th>
                                    <th class="text-center">구인공고제목</th>
                                    <th class="text-center">채용마감일</th>
                                    <th class="text-center">공고등록일</th>
                                    <th class="text-center">지원하기</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cy : ${cyBoardList}" >
                                    <td class="text-center text-muted" th:text="${cy.jobNumber}"></td>
                                    <td>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">
                                                    <a href="/addCYPostForm" th:text="${cy.jobFieldName}"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center" th:text="${cy.jobDeadLine}"></td>
                                    <td class="text-center" th:text="${cy.jobRegDate}"></td>
                                    <td class="text-center">
                                        <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">지원하기</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-block text-center card-footer">
                            <button class="btn-wide btn btn-success" onclick="location.href='/addCYPostForm'">글등록하기</button>
              				<button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i>삭제하기</button>
           				</div>
			        </div>
			    </div>
			
	
<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
		
	
			<div th:replace="fragments/footer :: footerFragment"></div>
			</div>
	</th:block>
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    
</html>
