<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
		<div class="app-main__inner">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
					        </i>
					    </div>
					    <div>합격자 목록
					       <div class="page-title-subheading">구인공고별 합격자 목록</div>
					    </div>
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="main-card mb-3 card ">
							<div class="card-body">
								<h5 class="card-title">합격자목록</h5>
														
									<select id="jobTitleName" class="custom-select">
											<option value="">:: 공고 선택 ::</option>
										<th:block th:each="cy : ${cyBoardList}">
											<option th:text="${cy.jobTitle}" th:value=${cy.jobNumber}></option>
											
										</th:block>
									</select>
									<div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <label for="validationTooltip01">단계</label>
                                        		<select id="jobStage" name="jobStage" class="custom-select">
                                        		<option value="">:: 단계 선택 ::</option>
												</select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationTooltip02">이름</label>
                                            <input type="text" class="form-control" id="appName" placeholder="이름검색">
                                        
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationTooltipUsername">Username</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                                                </div>
                                                <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Username" aria-describedby="validationTooltipUsernamePrepend">
                 
                                            </div>
                                        </div>
                                    </div>
								<div class="scroll-div">
									<div class="scrollbar-container scroll-area-lg ps">
										<table class="mb-0 table table-bordered table-hover">
											<thead>
												<tr class="text-center">
													<th>#</th>
													<th>접수번호</th>
													<th>이름</th>
													<th>생년월일</th>
													<th>성별</th>
													<th>점수</th>
													<th>결과</th>
													<th>평가자</th>
													<th>평가일</th>
													<th>점수부여</th>
													<th>데이터이관</th>
												</tr>
											</thead>
											<tbody class="apptbody">
	
											</tbody>
										</table>
									<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
								</div>
							</div>
							
					<div class="d-block text-center card-footer">
                            <nav class="" aria-label="Page navigation example" style="display: inline-block;">
                                            <ul class="pagination">
                                                <li class="page-item"><a href="#" class="page-link" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                                                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                                                <li class="page-item"><a href="#" class="page-link">2</a></li>
                                                <li class="page-item"><a href="#" class="page-link">3</a></li>
                                                <li class="page-item"><a href="#" class="page-link">4</a></li>
                                                <li class="page-item"><a href="#" class="page-link">5</a></li>
                                                <li class="page-item"><a href="#" class="page-link" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                                            </ul>
                                        </nav>
           				</div>		
						</div>
					</div>
				</div>
			</div>


<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>

	</th:block>
	
	<th:block layout:fragment="customJsScript">
		<script src="/assets/scripts/chaeyoung-result.js"></script>
	</th:block>
</html>
