<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
		<div class="app-main__inner">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
					        </i>
					    </div>
					    <div>합격자 목록
					       <div class="page-title-subheading">구인공고별 합격자 목록</div>
					    </div>
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="main-card mb-3 card ">
							<div class="card-body">
								<h5 class="card-title">합격자목록</h5>
														
									<select id="jobTitleName" class="custom-select">
											<option>:: 공고 선택 ::</option>
										<th:block th:each="cy : ${cyBoardList}">
											<option th:text="${cy.jobTitle}" th:value=${cy.jobNumber}></option>
											
										</th:block>
									</select>
									<div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <label for="validationTooltip01">단계</label>
                                        		<select id="jobStage" name="jobStage" class="custom-select">
												</select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationTooltip02">이름</label>
                                            <input type="text" class="form-control" id="appName" placeholder="이름검색">
                                        
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationTooltipUsername">Username</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                                                </div>
                                                <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required="">
                 
                                            </div>
                                        </div>
                                    </div>
								<div class="scroll-div">
									<div class="scrollbar-container scroll-area-lg ps">
										<table class="mb-0 table table-bordered table-hover">
											<thead>
												<tr>
													<th>#</th>
													<th>접수번호</th>
													<th>이름</th>
													<th>나이</th>
													<th>성별</th>
													<th>점수</th>
													<th>상태</th>
													<th>점수부여</th>
													<th>데이터이관</th>
												</tr>
											</thead>
											<tbody>
												<tr>		
													<th>1</th>
													<td><a>20100705</a></td>
													<td><a>김형진</a></td>
													<td><a>개발2팀</a></td>
													<td><a>조직관리자</a></td>
													<td><a>개발자</a></td>
													<td><a>개발자</a></td>
													<td><a></a></td>
													<td><a>1000000000</a></td>
												</tr>
											</tbody>
										</table>
									<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 m-t-none offset">
						
					</div>					
				</div>
			</div>


<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>

	</th:block>
	
	<th:block layout:fragment="customJsScript">
		<script src="/assets/scripts/chaeyoung-result.js"></script>
	</th:block>
</html>
