<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
<th:block layout:fragment="customContent">
<th:block layout:fragment="customCss">
	<link rel="stylesheet" type="text/css" th:href="@{/css/salary.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}">
</th:block>
<th:block layout:fragment="customJs">
	
	<script type="text/javascript" th:src="@{/assets/scripts/salary.js}"></script>
	<script type="text/javascript" th:src="@{/assets/scripts/jquery-ui.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		//model로 넘어온 귀속년월을 스크립트에서 사용
		/*<![CDATA[*/
	
	    var searchDate = /*[[${searchDate}]]*/;
	    console.log(searchDate);
	
		/*]]>*/
	</script>
	<script>
		$(function(){
			//귀속년월 넣음(첫 화면은 현재날짜)
			$('#datepicker').val(searchDate);
			
			$( "#datepicker" ).datepicker({
		        changeMonth: true,
		        changeYear: true,
		        showButtonPanel: true,
		        showMonthAfterYear: true,
		        yearRange: 'c-99:c+99',
		        monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
		        monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
		        dateFormat: 'yy-mm',
		        onClose: function(dateText, inst) { 
		            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
		            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
		            $(this).datepicker('setDate', new Date(year, month, 1));
		           	schData(month, year);
		        },
		        beforeShow : function(input, inst) {
		            if ((datestr = $(this).val()).length > 0) {
		                actDate = datestr.split('-');
		                year = actDate[0];
		                month = actDate[1]-1;
		                $(this).datepicker('option', 'defaultDate', new Date(year, month));
		                $(this).datepicker('setDate', new Date(year, month));
		            }
		        }
		    });
			
			//필터에서 년월이 선택되었을 시 ajax 통신
			function schData(month, year){
				month = numFormat(Number(month)+1);
				var dataNum = $('input[name=searchNum]').val();
				var searchDate = year+"-"+month;
				$('input[name=dateValue]').val(searchDate);
				var request = $.ajax({
					url : "/salary/search_data",
					method : "POST",
					data : { dataNum : dataNum ,
						searchDate : searchDate },
					dataType : "Json"
				});
				
				request.done(function(data){
					$('input[name=dataNum]').val(data.dataNum);
					$('input[name=dataNormal]').val(data.dataNormal);
					$('input[name=dataBonus]').val(data.dataBonus);
					$('input[name=dataAnn]').val(data.dataAnn);
					$('input[name=dataVehicle]').val(data.dataVehicle);
					$('input[name=dataMeal]').val(data.dataMeal);
					$('input[name=dataOvertime]').val(data.dataOvertime);
					$('input[name=dataNight]').val(data.dataNight);
					$('input[name=dataHoli]').val(data.dataHoli);
					$('input[name=dataGukmin]').val(data.dataGukmin);
					$('input[name=dataGeongang]').val(data.dataGeongang);
					$('input[name=dataKhoyong]').val(data.dataKhoyong);
					$('input[name=dataJanggi]').val(data.dataJanggi);
					$('input[name=dataSanjae]').val(data.dataSanjae);
					$('input[name=dataSchexpan]').val(data.dataSchexpan);
					$('input[name=dataIncome]').val(data.dataIncome);
					$('input[name=dataLoincome]').val(data.dataLoincome);
					$('input[name=sqlKey]').val(data.sqlKey);
					//데이터가 있어서 upd처리 시 월별 데이터에 저장된 항목과 값들이 저장됨 ins면 항목테이블의 항목들을 물러오는 ajax를 실행하여 값을 출력
					if(data.sqlKey == "upd"){
						if(data.dataAddpay != null){
							var addpay = data.dataAddpay.split('&');
							var pricepay = data.dataPricepay.split('&');
							$('.pay-table').children('tbody').children('tr').remove();
							for(var i in addpay) {
								$('.pay-table').children('tbody').append('<tr><td><input class="border-none" type="text" name="payName" value="'+addpay[i]+'" readonly></td><td><input class="form-control number-form" type="number" name="payPrice" value="'+pricepay[i]+'"></td></tr>');
							}
						} else {
							$('.pay-table').children('tbody').children('tr').remove();
						}
						
						if(data.dataAdddeduct != null){
							var adddeduct = data.dataAdddeduct.split('&');
							var pricededuct = data.dataPricededuct.split('&');
							$('.deduct-table').children('tbody').children('tr').remove();
							for(var i in adddeduct) {
								$('.deduct-table').children('tbody').append('<tr><td><input class="border-none" type="text" name="deductName" value="'+adddeduct[i]+'" readonly></td><td><input class="form-control number-form" type="number" name="deductPrice" value="'+pricededuct[i]+'"></td></tr>');
							}
						} else {
							$('.deduct-table').children('tbody').children('tr').remove();
						}
					} else if(data.sqlKey == "ins"){
						insAjax();
					}
				});
				
				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
				});
			}
			
			function insAjax(){
				var request = $.ajax({
					url : "/salary/insert_data",
					method : "POST",
					data : { },
					dataType : "Json"
				});
				
				request.done(function(data){
					$('.pay-table').children('tbody').children('tr').remove();
					for(var i=0;i<data[0].length;i++) {
						$('.pay-table').children('tbody').append('<tr><td><input class="border-none" type="text" name="payName" value="'+data[0][i].payName+'" readonly></td><td><input class="form-control number-form" type="number" name="payPrice" value="0"></td></tr>');
					}
					
					$('.deduct-table').children('tbody').children('tr').remove();
					for(var j=0;j<data[1].length;j++) {
						$('.deduct-table').children('tbody').append('<tr><td><input class="border-none" type="text" name="deductName" value="'+data[1][j].deductName+'" readonly></td><td><input class="form-control number-form" type="number" name="deductPrice" value="0"></td></tr>');
					}
				});
				
				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
				});
			}
			//급상여입력화면에서 사원 정보 클릭시 ajax통신을 통한 사원급여 존재여부 조회
			$('.emp-record-table').children('tbody').children('tr').click(function(){
				var dataNum = $(this).children('input[name=monthNum]').val();
				$('input[name=searchNum]').val(dataNum);
				$('input[name=dataData]').val(dataNum);
				var searchDate = $('#datepicker').val();
				var request = $.ajax({
					url : "/salary/search_data",
					method : "POST",
					data : { dataNum : dataNum ,
						searchDate : searchDate },
					dataType : "Json"
				});
				
				request.done(function(data){
					$('input[name=dataNum]').val(data.dataNum);
					$('input[name=dataNormal]').val(data.dataNormal);
					$('input[name=dataBonus]').val(data.dataBonus);
					$('input[name=dataAnn]').val(data.dataAnn);
					$('input[name=dataVehicle]').val(data.dataVehicle);
					$('input[name=dataMeal]').val(data.dataMeal);
					$('input[name=dataOvertime]').val(data.dataOvertime);
					$('input[name=dataNight]').val(data.dataNight);
					$('input[name=dataHoli]').val(data.dataHoli);
					$('input[name=dataGukmin]').val(data.dataGukmin);
					$('input[name=dataGeongang]').val(data.dataGeongang);
					$('input[name=dataKhoyong]').val(data.dataKhoyong);
					$('input[name=dataJanggi]').val(data.dataJanggi);
					$('input[name=dataSanjae]').val(data.dataSanjae);
					$('input[name=dataSchexpan]').val(data.dataSchexpan);
					$('input[name=dataIncome]').val(data.dataIncome);
					$('input[name=dataLoincome]').val(data.dataLoincome);
					$('input[name=sqlKey]').val(data.sqlKey);
					//데이터가 있어서 upd처리 시 월별 데이터에 저장된 항목과 값들이 저장됨 ins면 항목테이블의 항목들을 물러오는 ajax를 실행하여 값을 출력
					if(data.sqlKey == "upd"){
						if(data.dataAddpay != null){
							var addpay = data.dataAddpay.split('&');
							var pricepay = data.dataPricepay.split('&');
							$('.pay-table').children('tbody').children('tr').remove();
							for(var i in addpay) {
								$('.pay-table').children('tbody').append('<tr><td><input class="border-none" type="text" name="payName" value="'+addpay[i]+'" readonly></td><td><input class="form-control number-form" type="number" name="payPrice" value="'+pricepay[i]+'"></td></tr>');
							}
						} else {
							$('.pay-table').children('tbody').children('tr').remove();
						}
						
						if(data.dataAdddeduct != null){
							var adddeduct = data.dataAdddeduct.split('&');
							var pricededuct = data.dataPricededuct.split('&');
							$('.deduct-table').children('tbody').children('tr').remove();
							for(var i in adddeduct) {
								$('.deduct-table').children('tbody').append('<tr><td><input class="border-none" type="text" name="deductName" value="'+adddeduct[i]+'" readonly></td><td><input class="form-control number-form" type="number" name="deductPrice" value="'+pricededuct[i]+'"></td></tr>');
							}
						} else {
							$('.deduct-table').children('tbody').children('tr').remove();
						}
					} else if(data.sqlKey == "ins"){
						insAjax();
					}
				});
				
				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
				});
			});
			
			//월 1자리 일 시 앞에 0 붙임
			function numFormat(variable) { 
				variable = Number(variable).toString(); 
				if(Number(variable) < 10 && variable.length == 1) 
					variable = "0" + variable; return variable; 
			}
			
			$('.number-form').keyup(function(){
				if($(this).val() == null || $(this).val() == ''){
					$(this).val(0);
				}
			});
		});
	</script>
</th:block>
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
<div class="app-main__inner">
	<div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-map icon-gradient bg-premium-dark">
                    </i>
                </div>
                <div>급상여입력
                    <div class="page-title-subheading">급상여정보를 관리합니다.
                    </div>
                </div>
            </div>   
         </div>
    </div> 
    <div class="row">
    	<div class="col-lg-12">
			<div class="card-body filter-place">
				<span class="search-span">귀속연월</span>
				<input type="hidden" name="searchNum" th:value="${dataNum}">
				<input type="text" id="datepicker" th:value="${searchDate}" autocomplete="off">
			</div>
		</div>
		<div class="col-lg-4">
			<div class="main-card mb-3 card">
				<div class="card-body">
					<h5 class="mt-2 card-title search-left">기본정보</h5>
					<div class="date_right">
						<select class="search-select" name="searchCate">
							<option value="1">사원번호</option>
							<option value="2">성명</option>
							<option value="3">직급</option>
							<option value="4">부서</option>
						</select>
						<input class="search-input" type="text" id="search_text" name="searchText">
						<select class="search-select search-none" name="searchLevel">
							<option th:each="l : ${levelList}" th:value="${l.level_code}" th:text="${l.level_name}"></option>
						</select>
						<select class="search-select search-none" name="searchJojic">
							<option th:each="l : ${jojicList}" th:value="${l.jojic_code}" th:text="${l.jojic_name}"></option>
						</select>
						<button class="btn btn-primary date_right" id="search_submit">검색</button>
					</div>
					<div class="scroll-div date_left">
						<div class="scrollbar-container">
							<table class="mb-0 emp-table emp-record-table table table-hover text-center">
								<thead>
									<tr>
										<th class="fixed_top">사원번호</th>
										<th class="fixed_top">성명</th>
										<th class="fixed_top">직급</th>
										<th class="fixed_top">부서</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="IL : ${staffInfoList}">
										<th:block>
											<input type="hidden" name="monthNum" th:value="${IL.dataNum}">
										</th:block>
										<td th:text="${IL.staffNum}"></td>
										<td th:text="${IL.staffName}"></td>
										<td th:text="${IL.levelName}"></td>
										<td th:text="${IL.jojicName}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="main-card mb-3 card">
				<div class="card-body">
					<h5 class="mt-2 card-title mb-4">급상여입력</h5>
					<form action="/salary/salary_record" onsubmit="return updateCheck(this);" method="POST">
						<table class="mb-0 table table-bordered table-detail">
							<tr>
								<td colspan="4">지급</td>
							</tr>
							<tr>
								<td>기본급</td>
								<!-- 월별급여 기본키(update시에만 사용) -->
								<td><input type="hidden" name="dataNum" th:value="${salaryRecord.dataNum}">
								<!-- 급여정보 기본키 -->
								<input type="hidden" name="dataData" th:value="${dataNum}">
								<!-- 귀속년월이 저장될 곳 -->
								<input type="hidden" name="dateValue" th:value="${searchDate}">
								<input type="number" name="dataNormal" class="form-control" th:value="${salaryRecord.dataNormal}" readonly></td>
								<td>상여</td>
								<td><input type="number" name="dataBonus" class="form-control number-form" th:value="${salaryRecord.dataBonus}"></td>
							</tr>
							<tr>
								<td>연차수당</td>
								<td><input type="number" name="dataAnn" class="form-control number-form" th:value="${salaryRecord.dataAnn}"></td>
								<td>차량보조</td>
								<td><input type="number" name="dataVehicle" class="form-control number-form" th:value="${salaryRecord.dataVehicle}"></td>
							</tr>
							<tr>
								<td>식대</td>
								<td><input type="number" name="dataMeal" class="form-control number-form" th:value="${salaryRecord.dataMeal}"></td>
								<td>잔업수당</td>
								<td><input type="number" name="dataOvertime" class="form-control number-form" th:value="${salaryRecord.dataOvertime}"></td>
							</tr>
							<tr>
								<td>야근수당</td>
								<td><input type="number" name="dataNight" class="form-control number-form" th:value="${salaryRecord.dataNight}"></td>
								<td>휴일수당</td>
								<td><input type="number" name="dataHoli" class="form-control number-form" th:value="${salaryRecord.dataHoli}"></td>
							</tr>
							<tr>
								<td>부가지급항목</td>
								<td colspan="3">
									<table class="table pay-table add-table">
										<thead>
											<tr>
												<th>지급명</th>
												<th>금액</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="p : ${listPayMap}">
												<th:block th:if="${salaryRecord.sqlKey eq 'ins'}">
													<td><input class="border-none" type="text" name="payName" th:value="${p.payName}" readonly></td>
													<td><input class="form-control number-form" type="number" name="payPrice" value="0"></td>
												</th:block>
												<th:block th:if="${salaryRecord.sqlKey eq 'upd'}">
													<td><input class="border-none" type="text" name="payName" th:value="${p.addpay}" readonly></td>
													<td><input class="form-control number-form" type="number" name="payPrice" th:value="${p.pricepay}"></td>
												</th:block>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td colspan="4">공제</td>
							</tr>
							<tr>
								<td>국민연금</td>
								<td><input type="number" name="dataGukmin" class="form-control" th:value="${salaryRecord.dataGukmin}"></td>
								<td>건강보험</td>
								<td><input type="number" name="dataGeongang" class="form-control" th:value="${salaryRecord.dataGeongang}"></td>
							</tr>
							<tr>
								<td>고용보험</td>
								<td><input type="number" name="dataKhoyong" class="form-control" th:value="${salaryRecord.dataKhoyong}"></td>
								<td>장기요양보험</td>
								<td><input type="number" name="dataJanggi" class="form-control" th:value="${salaryRecord.dataJanggi}"></td>
							</tr>
							<tr>
								<td>산재보험</td>
								<td><input type="number" name="dataSanjae" class="form-control" th:value="${salaryRecord.dataSanjae}"></td>
								<td>학자금공제</td>
								<td><input type="number" name="dataSchexpan" class="form-control" th:value="${salaryRecord.dataSchexpan}"></td>
							</tr>
							<tr>
								<td>소득세</td>
								<td><input type="number" name="dataIncome" class="form-control" th:value="${salaryRecord.dataIncome}"></td>
								<td>지방소득세</td>
								<td><input type="number" name="dataLoincome" class="form-control" th:value="${salaryRecord.dataLoincome}"></td>
							</tr>
							<tr>
								<td>부가공제항목</td>
								<td colspan="3">
									<table class="table deduct-table add-table">
										<thead>
											<tr>
												<th>공제명</th>
												<th>금액</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="d : ${listDeductMap}">
												<th:block th:if="${salaryRecord.sqlKey eq 'ins'}">
													<td><input class="border-none" type="text" name="deductName" th:value="${d.deductName}" readonly></td>
													<td><input class="form-control number-form" type="number" name="deductPrice" value="0"></td>
												</th:block>
												<th:block th:if="${salaryRecord.sqlKey eq 'upd'}">
													<td><input class="border-none" type="text" name="deductName" th:value="${d.adddeduct}" readonly></td>
													<td><input class="form-control number-form" type="number" name="deductPrice" th:value="${d.pricededuct}"></td>
												</th:block>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</table>
						<input type="hidden" name="sqlKey" th:value="${salaryRecord.sqlKey}">
						<span class="deadline-btn">
						<th:block th:if="${salaryRecord.sqlKey eq 'upd' and salaryRecord.dataPay eq 0}">
							<input type="submit" class="mt-2 btn btn-primary date_right" value="저장 후 마감">
						</th:block>
						</span>
						<input type="submit" class="mt-2 btn btn-primary date_right" value="저장">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	</th:block>
    
</html>
