<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
<th:block layout:fragment="customContent">
<th:block layout:fragment="customCss">
	<link rel="stylesheet" type="text/css" th:href="@{/css/salary.css}">
</th:block>
<th:block layout:fragment="customJs">
	<script type="text/javascript" th:src="@{/assets/scripts/salary.js}"></script>
</th:block>
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
<div class="app-main__inner">
	<div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-map icon-gradient bg-premium-dark">
                    </i>
                </div>
                <div>급여기본정보관리
                    <div class="page-title-subheading">급여기본정보를 관리합니다.
                    </div>
                </div>
            </div>   
         </div>
    </div> 
    <div class="row">
		<div class="col-lg-4">
			<div class="main-card mb-3 card">
				<div class="card-body emp-table">
					<h5 class="mt-2 card-title search-left">기본정보</h5>
					<div class="date_right">
						<select class="search-select" name="searchCate">
							<option value="1">사원번호</option>
							<option value="2">성명</option>
							<option value="3">직급</option>
							<option value="4">부서</option>
						</select>
						<input class="search-input" type="text" id="search_text" name="searchText">
						<select class="search-select search-none" name="searchLevel">
							<option th:each="l : ${levelList}" th:value="${l.level_code}" th:text="${l.level_name}"></option>
						</select>
						<select class="search-select search-none" name="searchJojic">
							<option th:each="l : ${jojicList}" th:value="${l.jojic_code}" th:text="${l.jojic_name}"></option>
						</select>
						<button class="btn btn-primary date_right" id="search_submit">검색</button>
					</div>
					<div class="scroll-div date_left">
						<div class="scrollbar-container">
							<table class="mb-0 emp-table table table-hover tbline-del text-center">
								<thead>
									<tr>
										<th class="fixed_top">사원번호</th>
										<th class="fixed_top">성명</th>
										<th class="fixed_top">직급</th>
										<th class="fixed_top">부서</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="IL : ${staffInfoList}">
										<td th:text="${IL.staffNum}"></td>
										<td th:text="${IL.staffName}"></td>
										<td th:text="${IL.levelName}"></td>
										<td th:text="${IL.jojicName}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="main-card mb-3 card">
				<div class="card-body">
					<h5 class="mt-2 card-title mb-4">상세정보</h5>
					<form action="/salary/salary_info" onsubmit="return updateCheck(this);" method="POST">
						<table class="mb-0 table table-bordered table-detail">
							<tr>
								<td>주민등록번호</td>
								<td>
								<!-- 급여기본정보 기본키 -->
								<input type="hidden" name="dataNum" th:value="${salaryInfo.dataNum}">
								<input type="text" name="human_num" class="form-control" th:value="${salaryInfo.humanNum}" readonly></td>
								<td>입사일</td>
								<td><input type="text" name="company_in_date" class="form-control" th:value="${salaryInfo.companyInDate}" readonly></td>
							</tr>
							<tr>
								<td>퇴사일</td>
								<td><input type="text" name="company_out_date" class="form-control" th:value="${salaryInfo.companyOutDate}" readonly></td>
								<td>고용보험대상여부</td>
								<td><select name="dataInsu" class="form-control">
									<option value="1" th:selected="${salaryInfo.dataInsu eq 1 ? 'true' : 'false'}">여</option>
									<option value="0" th:selected="${salaryInfo.dataInsu eq 0 ? 'true' : 'false'}">부</option>
								</select></td>
							</tr>
							<tr>
								<td>내외국인구분</td>
								<td><input type="text" name="staff_nationality" class="form-control" th:value="${salaryInfo.staffNationality}" readonly></td>
								<td>거주구분</td>
								<td><select name="dataResi" class="form-control">
									<option value="1" th:selected="${salaryInfo.dataResi eq 1 ? 'true' : 'false'}">거주</option>
									<option value="0" th:selected="${salaryInfo.dataResi eq 0 ? 'true' : 'false'}">비거주</option>
								</select></td>
							</tr>
							<tr>
								<td>거주지국</td>
								<td><input type="text" name="staff_country" class="form-control" th:value="${salaryInfo.staffCountry}" readonly></td>
								<td>생산직구분</td>
								<td><input type="checkbox" name="dataPro" class="form-control checkbox-width" th:checked="${salaryInfo.dataPro eq 1 ? 'true' : 'false'}"></td>
							</tr>
							<tr>
								<td>은행</td>
								<td><input type="text" name="dataBank" class="form-control" th:value="${salaryInfo.dataBank}"></td>
								<td>계좌번호</td>
								<td><input type="text" name="dataAccount" class="form-control" th:value="${salaryInfo.dataAccount}"></td>
							</tr>
							<tr>
								<td>예금주</td>
								<td><input type="text" name="dataHost" class="form-control" th:value="${salaryInfo.dataHost}"></td>
								<td>주 소정근로시간</td>
								<td><input type="number" name="dataScrib" class="form-control" th:value="${salaryInfo.dataScrib}"></td>
							</tr>
							<tr>
								<td>핸드폰</td>
								<td><input type="text" name="staff_phone" class="form-control" th:value="${salaryInfo.staffPhone}" readonly></td>
								<td>이메일</td>
								<td><input type="text" name="staff_email" class="form-control" th:value="${salaryInfo.staffEmail}" readonly></td>
							</tr>
							<tr>
								<td>수습여부</td>
								<td><input type="checkbox" name="dataBate" class="form-control checkbox-width" th:checked="${salaryInfo.dataBate eq 1 ? 'true' : 'false'}"></td>
								<td>수습급여 적용률</td>
								<td>
									<th:block th:if="${salaryInfo.dataBate eq 1}">
										<input type="number" name="dataBatePer" class="form-control" th:value="${salaryInfo.dataBatePer}" step="0.01">
									</th:block>
									<th:block th:unless="${salaryInfo.dataBate eq 1}">
										<input type="number" name="dataBatePer" class="form-control" step="0.01" readonly>
									</th:block>
								</td>
							</tr>
							<tr>
								<td>수습기간</td>
								<td colspan="3" class="date-td">
									<th:block th:if="${salaryInfo.dataBate eq 1}">
										<input type="date" name="dataBateDate1" class="form-control form_date date_left" th:value="${salaryInfo.dataBateDate1}">
										<span class="flow-font">~</span>
										<input type="date" name="dataBateDate2" class="form-control form_date date_right" th:value="${salaryInfo.dataBateDate2}">
									</th:block>
									<th:block th:unless="${salaryInfo.dataBate eq 1}">
										<input type="date" name="dataBateDate1" class="form-control form_date date_left" readonly>
										<span class="flow-font">~</span>
										<input type="date" name="dataBateDate2" class="form-control form_date date_right" readonly>
									</th:block>
								</td>
							</tr>
							<tr>
								<td>학자금상환 공제여부</td>
								<td colspan="3"><select name="dataExpen" class="form-control">
									<option value="1" th:selected="${salaryInfo.dataExpen eq 1 ? 'true' : 'false'}">여</option>
									<option value="0" th:selected="${salaryInfo.dataExpen eq 0 ? 'true' : 'false'}">부</option>
								</select></td>
							</tr>
							<tr>
								<td>학자금 공제기간</td>
								<td colspan="3" class="date-td">
									<th:block th:if="${salaryInfo.dataExpen eq 1}">
										<input type="date" name="dataExpenDate1" class="form-control form_date date_left" th:value="${salaryInfo.dataExpenDate1}">
										<span class="flow-font">~</span>
										<input type="date" name="dataExpenDate2" class="form-control form_date date_right" th:value="${salaryInfo.dataExpenDate2}">
									</th:block>
									<th:block th:unless="${salaryInfo.dataExpen eq 1}">
										<input type="date" name="dataExpenDate1" class="form-control form_date date_left" readonly>
										<span class="flow-font">~</span>
										<input type="date" name="dataExpenDate2" class="form-control form_date date_right" readonly>
									</th:block>
								</td>
							</tr>
							<tr>
								<td>소득세액 감면여부</td>
								<td><input type="checkbox" name="dataTaxdepart" class="form-control checkbox-width" th:checked="${salaryInfo.dataTaxdepart eq 1 ? 'true' : 'false'}"></td>
								<td>소득세액 감면비율</td>
								<td>
									<th:block th:if="${salaryInfo.dataTaxdepart eq 1}">
										<input type="number" name="dataTax" class="form-control" th:value="${salaryInfo.dataTax}" step="0.01">
									</th:block>
									<th:block th:unless="${salaryInfo.dataTaxdepart eq 1}">
										<input type="number" name="dataTax" class="form-control" step="0.01" readonly>
									</th:block>
								</td>
							</tr>
							<tr>
								<td>소득세액 감면기간</td>
								<td colspan="3" class="date-td">
									<th:block th:if="${salaryInfo.dataTaxdepart eq 1}">
										<input type="date" name="dataTaxDate1" class="form-control form_date date_left" th:value="${salaryInfo.dataTaxDate1}">
										<span class="flow-font">~</span>
										<input type="date" name="dataTaxDate2" class="form-control form_date date_right" th:value="${salaryInfo.dataTaxDate2}">
									</th:block>
									<th:block th:unless="${salaryInfo.dataTaxdepart eq 1}">
										<input type="date" name="dataTaxDate1" class="form-control form_date date_left" readonly>
										<span class="flow-font">~</span>
										<input type="date" name="dataTaxDate2" class="form-control form_date date_right" readonly>
									</th:block>
								</td>
							</tr>
						</table>
						<input type="submit" class="mt-2 btn btn-primary date_right" value="저장">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	</th:block>
    
</html>
