<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
<th:block layout:fragment="customContent">
<th:block layout:fragment="customCss">
	<link rel="stylesheet" type="text/css" th:href="@{/css/salary.css}">
</th:block>
<th:block layout:fragment="customJs">
	<script type="text/javascript" th:src="@{/assets/scripts/salary.js}"></script>
</th:block>
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
<div class="app-main__inner">
	<div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-map icon-gradient bg-premium-dark">
                    </i>
                </div>
                <div>월별급여현황
                    <div class="page-title-subheading">월별급여현황을 관리합니다.
                    </div>
                </div>
            </div>   
         </div>
    </div> 
    <div class="row">
		<div class="col-lg-4">
			<div class="main-card mb-3 card">
				<div class="card-body emp-table">
					<h5 class="mt-2 card-title search-left">기본정보</h5>
					<div class="date_right">
						<select class="search-select" name="searchCate">
							<option value="1">사원번호</option>
							<option value="2">성명</option>
							<option value="3">직급</option>
							<option value="4">부서</option>
						</select>
						<input class="search-input" type="text" id="search_text" name="searchText">
						<select class="search-select search-none" name="searchLevel">
							<option th:each="l : ${levelList}" th:value="${l.level_code}" th:text="${l.level_name}"></option>
						</select>
						<select class="search-select search-none" name="searchJojic">
							<option th:each="l : ${jojicList}" th:value="${l.jojic_code}" th:text="${l.jojic_name}"></option>
						</select>
						<button class="btn btn-primary date_right" id="search_submit">검색</button>
					</div>
					<div class="scroll-div date_left">
						<div class="scrollbar-container">
							<table class="mb-0 emp-table table table-hover tbline-del text-center">
								<thead>
									<tr>
										<th class="fixed_top">사원번호</th>
										<th class="fixed_top">성명</th>
										<th class="fixed_top">직급</th>
										<th class="fixed_top">부서</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="IL : ${staffInfoList}">
										<td th:text="${IL.staffNum}"></td>
										<td th:text="${IL.staffName}"></td>
										<td th:text="${IL.levelName}"></td>
										<td th:text="${IL.jojicName}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="main-card mb-3 card">
				<div class="card-body">
					<h5 class="mt-2 card-title mb-4">지급내역</h5>
					<div class="scroll-div date_left">
						<div class="scrollbar-container table-overflow">
							<table class="table table-hover text-center">
								<thead>
									<tr>
										<th class="fixed_top">순번</th>
										<th class="fixed_top">항목명</th>
										<th class="fixed_top">계</th>
										<th class="fixed_top">1월</th>
										<th class="fixed_top">2월</th>
										<th class="fixed_top">3월</th>
										<th class="fixed_top">4월</th>
										<th class="fixed_top">5월</th>
										<th class="fixed_top">6월</th>
										<th class="fixed_top">7월</th>
										<th class="fixed_top">8월</th>
										<th class="fixed_top">9월</th>
										<th class="fixed_top">10월</th>
										<th class="fixed_top">11월</th>
										<th class="fixed_top">12월</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="SL : ${monthSalList}">
										<td th:text="${SLStat.count}"></td>
										<td th:text="${SL.cate}"></td>
										<td th:text="${SL.plus}"></td>
										<td th:text="${SL.M1}"></td>
										<td th:text="${SL.M2}"></td>
										<td th:text="${SL.M3}"></td>
										<td th:text="${SL.M4}"></td>
										<td th:text="${SL.M5}"></td>
										<td th:text="${SL.M6}"></td>
										<td th:text="${SL.M7}"></td>
										<td th:text="${SL.M8}"></td>
										<td th:text="${SL.M9}"></td>
										<td th:text="${SL.M10}"></td>
										<td th:text="${SL.M11}"></td>
										<td th:text="${SL.M12}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	</th:block>
    
</html>
