<script>
	function click_add() {
		
		window.close();
	};
	</script>
	
	 <!-- 일정 추가 MODAL -->
        
                    
                    <div class="modal-body">

                           
                            <div class="form-group">
                                <label class="col-form-label test" for="hdName" >일정명 :</label>
                                <input class="form-control" type="text" name="hdName" id="hdName"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label test" for="regStaffName" >등록자 :</label>
                                <input class="form-control" type="text" name="regStaffName" id="regStaffName" th:value="${session.SSTAFFNAME}" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 test" for="hdStartDay">시작</label>
                                <input class="form-control" type="date" name="hdStartDay" id="hdStartDay" />
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 test" for="hdEndDay">끝</label>
                                <input class="form-control" type="date" name="hdEndDay" id="hdEndDay" />
                            </div>
                        
                       
                            <div class="form-group">
                                <label class="col-xs-4 test" for="hdContents">내용</label>
                                <textarea rows="3" cols="65" class="form-control" name="hdContents"
                                    id="hdContents"  style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer modalBtnContainer-addEvent">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="click_add();">취소</button>
                        <button type="button" class="btn btn-primary" id="save-event">저장</button>
                    </div>
                    
               
       
        
	</html>
	