<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
	<link rel="stylesheet" type="text/css" th:href="@{/css/code.css}">
	<link rel="stylesheet" href="/fullcalendar/fullcalendar.css">
	<style type="text/css">
	.test{
	margin-left: 1%; 
	font-weight: 700;
	
	}
	.fc-day-number.fc-sat.fc-past { color:#0000FF; }     /* 토요일 */
    .fc-day-number.fc-sun.fc-past { color:#FF0000; }    /* 일요일 */

	</style>
	
				

<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
	<!-- 메뉴설명 -->
	<div class="app-main__inner">
	<div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-date icon-gradient bg-premium-dark">
                    </i>
                </div>
                <div>휴일 관리
                    <div class="page-title-subheading">휴일 일정을 관리합니다.
                    </div>
                </div>
            </div>   
         </div>
    </div> 
    
    	<!-- 코드등록버튼 -->
		
		<div align="right">
			<button type="button" class="btn btn-primary addHdCode" data-toggle="modal" data-target="#myModal">휴일등록</button>
		</div>
		<div class="main-card mb-10 card table-padding">
		    		<div id="Scalendar"></div>
				    <script>
				    document.addEventListener('DOMContentLoaded', function() {
				        var calendarEl = document.getElementById('Scalendar');
				
				        var calendar = new FullCalendar.Calendar(calendarEl, {
				          timeZone: 'UTC',
				          initialView: 'dayGridMonth',
				          headerToolbar: {
				        	
				            left: 'prev,next today',
				            center: 'title',
				            right: 'dayGridMonth,timeGridWeek,timeGridDay'

				          },
				            selectable: true,
				            navLinks: true, 
				            editable: false,
				            displayEventTime: false,
				            slotEventOverlap: false,
				            allDaySlot: true,
				            events: function(fetchInfo, successCallback, failureCallback ){
				                /* 예전버전: function( startMoment, endMoment, timeZoneStr, callback )
				                  지금버전: function( fetchInfo, successCallback, failureCallback )*/
				              
				                  $.ajax({
				                       type: "POST",
				                       url: "/fullCalendar",
				                       dataType: 'json',
				                       success: function(data){
				                           var events = [];
				                           for(var i=0; i<data.length; i++){
				                              if(data[i].repeat == "N"){
				                                 events.push({
				                                    title: data[i].hdName,
				                                    start: data[i].hdStartDay,
				                                    end: data[i].hdEndDay
				                                 });
				                                 }else{
				                                  var a = moment(data[i].hdStartDay,'YYYY-MM-DD'); 
				                                  var b = moment(data[i].hdEndDay,'YYYY-MM-DD'); 
				                                  var c = moment(data[i].hdStartDay,'YYYY-MM-DD'); 
				                                  var days = b.diff(a, 'days');
				                                  for(var j = 0; j<=days; j++){
				                                    var repeatStartTimeDays = moment(a, 'YYYY-MM-DD').add(j, 'days').format('YYYY-MM-DD');
				                                    var repeatEndTimeDays = moment(c, 'YYYY-MM-DD').add(j, 'days').format('YYYY-MM-DD');
				                                    events.push({
				                                      title:data[i].hdName,
				                                      start:moment(repeatStartTimeDays).format('YYYY-MM-DD'),
				                                      end:moment(repeatEndTimeDays).format('YYYY-MM-DD')
				                                      
				                                    });
				                                  }
				                                }
				                           }
				                           successCallback(events);
				                           
				                         },
				                       		                       
				                   });
				            	  
				               }
				          
				
				        })
				        calendar.render();
				      });
				
				        
				    </script>
	    		</div>	
	 	   </div>
 <!-- 일정 추가 MODAL -->
        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
               <form action="/addHdCode" method="post" id="addHdCode">
                    <div class="modal-body">
                            <div class="form-group">
                                <label class="col-form-label test" for="hdName" >휴일명 :</label>
                                <input class="form-control" type="text" name="hdName" id="hdName" placeholder="휴일명을 입력해주세요"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label test" for="regStaffName" >등록자 :</label>
                                <input class="form-control" type="text" name="regStaffName" id="regStaffName" th:value="${session.SSTAFFNAME}" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 test" for="hdStartDay">시작</label>
                                <input class="form-control" type="date" name="hdStartDay" id="hdStartDay" />
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 test" for="hdEndDay">끝</label>
                                <input class="form-control" type="date" name="hdEndDay" id="hdEndDay" />
                            </div>
                        
                       
                            <div class="form-group">
                                <label class="col-xs-4 test" for="hdContents">내용</label>
                                <textarea rows="3" cols="65" class="form-control" name="hdContents"
                                    id="hdContents"  style="resize: none;" placeholder="내용을 입력해주세요"></textarea>
                        </div>
                    </div>
                    
                </form>
                    <div class="modal-footer modalBtnContainer-addEvent">
                        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary saveHdCode" id="save-event">저장</button>
                    </div>
                    
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


      
<script src="/fullcalendar/fullcalendar.js"></script>
<script src="/fullcalendar/fullcalendar.min.js"></script>
<script src="/fullcalendar/moment.js"></script>
<script src="/fullcalendar/moment-with-locales.js"></script>
<script src="/fullcalendar/locales-all.js"></script>





<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	
	</th:block>
	
	<th:block layout:fragment="customJsScript">
		<script>
		
		//유효성검사
		$(function(){
			$('.saveHdCode').click(function(){
				
				
				var hdName = $('input[name="hdName"]');
				var hdStartDay = $('input[name="hdStartDay"]');
				var hdEndDay = $('input[name="hdEndDay"]');
				var hdContents = $('input[name="hdContents"]');
				
				if(hdName.val() == ''){
					alert('일정명을 입력해주세요.');
					hdName.focus();
					return false;
				}else if(hdStartDay.val() == ''){
					alert('시작일을 선택해주세요.');				
					return false;
				}else if(hdEndDay.val() == ''){
					alert('종료일을 선택해주세요.');
					return false;
				}else if(hdContents.val() == ''){
					alert('내용을 입력해주세요.');
					hdContents.focus();
					return false;
				}
				$('#addHdCode').submit();
				alert('휴일등록 완료.');
			})
		});
		</script>
	</th:block>
	
    
</html>
