<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
		
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
	 
			<div class="col-md-20; m-5">
				<div class="main-card mb-5 card" style="width: 40%; margin: auto; ">
					<div class="col-md-20; m-5">						  
		<form action="/updateHdCode" method="post" >
								
							    <label for="hdCode">휴가코드</label>
							    <input type="text" class="form-control input-lg" name="hdCode" id="hdCode" type="text" th:value="${Holiday.hdCode}">
							  
						 <br>	
	
						<br>  
								 <label for="companyCode">사업장</label>
							   	 <input class="form-control input-lg" name="companyCode" type="text" th:value="${Holiday.companyCode}">
					   <br>
							    <label for="hdName">휴일명</label>
									   	 <input class="form-control input-lg" name="hdName" type="text" th:value="${Holiday.hdName}">
					   <br>
							    <label for="hdStartDay">시작일</label>
									   	 <input class="form-control input-lg" name="hdStartDay" type="date" th:value="${Holiday.hdStartDay}">
					   <br>
							    <label for="hdEndDay">종료일</label>
									   	 <input class="form-control input-lg" name="hdEndDay" type="date" th:value="${Holiday.hdEndDay}">
					   <br>
							    <label for="regStaffName">등록자</label>
									   	 <input class="form-control input-lg" name="regStaffName" th:value="${session.SSTAFFNAME}" readonly/>
					   <br>
							
					   
		</form>
								  <div class="widget-content-right ml-10" align="center">
			                            	
			                         <input type="submit" class="btn-shadow p-1 btn btn-primary btn-sm submitBtn" value="수정하기">
			                          			                                    
			                      </div>
			                   <br>
					 </div>
				</div>
			</div> 
		 
	
<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	
	
	</th:block>
	
	<th:block layout:fragment="customJsScript">
	<script>
	
	//근무형태코드 중복확인
	
	$(function() {
		//아이디중복체크 및 유효성검사
		$('#codeCheckBtn').click(function() {
			var hdCode = $('input[name="hdCode"]');
			
			
			if(hdCode.val() == ''){
				alert('문서코드를 입력해주세요.');
				hdCode.focus();
				return false;
				}
			
				var request = $.ajax({

					  url: "/hdCodeCheck",
					  method: "POST",
					  data: { hdCode : hdCode.val() },
					  dataType: "json" 
				});
			
				request.done(function( data ) {
					var hdCodeCheckResult = $('#hdCodeCheckResult');
					var hdCheckCode = $('#hdCheckCode');
					
					if(data == 0){
						alert('사용 가능한 코드 입니다.');
						hdCheckCode.val(hdCode.val());
					}else{
						alert('사용중인 코드 입니다.');
					}
					hdCodeCheckResult.val(data);	             
				});
				
				
			}); 
		}); 
	 
	//유효성검사
	$(function(){
		$('.submitBtn').click(function(){
			
			var hdCode = $('input[name="hdCode"]');
			var companyCode = $('input[name="companyCode"]');
			var hdName = $('input[name="hdName"]');
			var hdStartDay = $('input[name="hdStartDay"]');
			var hdEndDay = $('input[name="hdEndDay"]');

			var hdCodeCheckResult = $('#hdCodeCheckResult').val();
			var hdCheckCode = $('#hdCheckCode').val();
			
			
			if(hdCode.val() == ''){
				alert('휴일코드를 입력해주세요.');
				hdCode.focus();
				return false;
			}else if(companyCode.val() == ''){
				alert('사업장을 입력해주세요.');
				companyCode.focus();
				return false;
			}else if(hdName.val() == ''){
				alert('휴일명을 입력해주세요.');
				hdName.focus();
				return false;
			
			}else if(hdStartDay.val() == ''){
				alert('시작일을 설정해주세요.');
				return false;
			
			}else if(hdEndDay.val() == ''){
				alert('종료일을 설정해주세요.');
				return false;
			
			}else if(hdCodeCheckResult == 1 || hdCode.val() != hdCheckCode){
				alert('코드중복검사를 진행해주세요.');
				hdCode.focus();
				return false;
			}
			$('#signIn').submit();
			alert('코드등록 완료.');
		})
	});
	
	</script>
	</th:block>
	
	
	
    
</html>
