<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
		
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
	 <form action="/updateHdCode" method="post">
			<div class="col-md-20; m-5">
				<div class="main-card mb-5 card" style="width: 40%; margin: auto; ">
					<div class="col-md-20; m-5">						  
							    <label for="hdCode">휴일코드</label>
							    <input type="text" class="form-control input-lg" name="hdCode" >
							 
							<!-- 	<br>	
							  
							  	 <label for="hdType">문서명</label>
							   	 <input type="text" class="form-control input-lg" name="hdType" th:value="${hdCodeAdmin.hdType}">
													
								<br>  
								 <label for="hdStaffName">등록자</label>
							   	 <input class="form-control input-lg" name="hdStaffName" th:value="${hdCodeAdmin.hdStaffName}" readonly/>
					    <br>
								  <div class="widget-content-right ml-10" align="center">
			                            	
			                          <input type="submit" class="btn-shadow p-1 btn btn-primary btn-sm" value="수정하기">
			                                    
			                      </div> -->
			                   <br>
					 </div>
				</div>
			</div>
		</form>

<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	
	
	</th:block>
    
</html>
