<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
   <mapper namespace="kr.or.jaegaebal.mapper.CodeAdminMapper">
   
   	<resultMap type="CodeAdmin" id="codeResultMap">
   		<result column="w_code" property="workCode"/>
   		<result column="w_name" property="workName"/>
   		<result column="w_use" property="workUseOrNot"/>
   		<result column="w_staff_name" property="workStaffName"/>
   		<result column="w_reg_date" property="workRegDate"/>
   	</resultMap>
   	
   	<resultMap type="InsaCodeAdmin" id="insaCodeResultMap">
   		<result column="code" property="insaCode"/>
   		<result column="code_name" property="insaName"/>
   		<result column="reg_staff_name" property="insaStaffName"/>
   		<result column="reg_date" property="insaRegDate"/>
   	</resultMap>
   	
   	<resultMap type="DocCodeAdmin" id="docCodeResultMap">
   		<result column="doc_code" property="docCode"/>
   		<result column="doc_type" property="docType"/>
   		<result column="reg_staff_name" property="docStaffName"/>
   		<result column="reg_date" property="docRegDate"/>
   	</resultMap>
   	
   	<resultMap type="EmpCodeAdmin" id="empCodeResultMap">
   		<result column="emp_code" property="empCode"/>
   		<result column="emp_type" property="empType"/>
   		<result column="emp_salary_type" property="empSalaryType"/>
   		<result column="emp_attribution" property="empAttri"/>
   		<result column="emp_start_date" property="empStartDate"/>
   		<result column="reg_staff_name" property="empStaffName"/>
   		<result column="reg_date" property="empRegDate"/>
   	</resultMap>
   	
   	<!-- ==========고용형태코드관리========== -->
   	
   	<!-- 고용형태코드목록 -->
   	<select id="getEmpCodeList" resultMap="empCodeResultMap">
	   	SELECT
	   		   emp_code
	   		 , emp_type
	   		 , emp_salary_type
	   		 , emp_attribution
	   		 , emp_start_date
	   		 , reg_staff_name
	   		 , reg_date
		FROM	
			 gt_emp_code
   	
   	</select>
   	
   	<!-- 고용형태코드등록 -->
   	<insert id="addEmpCode" parameterType="EmpCodeAdmin">
   		INSERT INTO
   			 gt_emp_code(
   			 	  emp_code
   			 	, emp_type
   			 	, emp_salary_type
   			 	, emp_attribution
   			 	, emp_start_date
   			 	, reg_staff_name
   			 	, reg_date)
		VALUES (
			  #{empCode}
			, #{empType}
			, #{empSalaryType}
			, #{empAttri}
			, #{empStartDate}
			, #{empStaffName}
			, NOW())
   	</insert> 
   	
   	<!-- 고용코드중복체크 -->
   	<select id="empCodeCheck" parameterType = "String" resultType = "String">
   		SELECT
   			emp_code
   		FROM
   			gt_emp_code
   		WHERE
   			emp_code = #{empCode}
   			
   			
   	</select>
   	
   	<!-- ==========문서코드관리========== -->
   	
   	<!-- 문서코드목록 -->
   	<select id="getDocCodeList" resultMap="docCodeResultMap">
	   	SELECT
	   	  	  doc_code
	   	 	, doc_type
	   	 	, reg_staff_name
	   	 	, reg_date
		FROM
			 um_doctype
   	
   	</select>
   	
   	<!-- 문서코드등록 -->
   	<insert id="addDocCode" parameterType="DocCodeAdmin">
   		INSERT INTO
   			 um_doctype(
   			    doc_code
   			  , doc_type
   			  , reg_staff_name
   			  , reg_date)
		VALUES (
			  #{docCode}
			, #{docType}
			, #{docStaffName}
			, NOW())
   	</insert> 
   	
   	<!-- 문서코드수정 -->
   	
   	<update id="updateDocCode" parameterType="DocCodeAdmin">
	   	UPDATE
	   		 um_doctype
		SET
			doc_code=#{docCode},
			doc_type=#{docType},
			reg_staff_name=#{docStaffName},
			reg_date=NOW()
		WHERE
			 doc_code=#{docCode}
   	</update>
   	
   	<!-- 문서코드로 조회 -->
   	<select id="getDocCode" parameterType = "String" resultType="DocCodeAdmin" resultMap="docCodeResultMap">
   		SELECT
	   		   doc_code
	   		 , doc_type
	   		 , reg_staff_name
	   		 , reg_date
		FROM 
				um_doctype
		WHERE
			doc_code = #{docCode}
   	</select>
   	
   	
   	<!-- 문서코드중복체크 -->
   	<select id="docCodeCheck" parameterType = "String" resultType = "String">
	   	SELECT
	   		   doc_code
	   		
		FROM 
				um_doctype
		WHERE
			doc_code = #{docCode}
   	</select>
   	
   	<!-- 문서코드삭제 -->
   	<delete id="deleteDocCode" parameterType="String">
   		DELETE
   		FROM
   			 um_doctype
   		WHERE
   			 doc_code=#{docCode}
   	</delete>
   	<!-- ==========인사코드관리========== -->
   	
   	<!-- 인사코드목록 -->
   	<select id="getInsaCodeList" resultMap="insaCodeResultMap">
	   	SELECT 
	   		  code
	   		, code_name
	   		, reg_staff_name
	   		, reg_date
		FROM
			 is_code
   	</select>
   	
   	<!-- 인사코드등록 -->
   	<insert id="addInsaCode" parameterType="InsaCodeAdmin">
   		INSERT INTO
   			 is_code
			 (code
			, code_name
			, reg_staff_name
			, reg_date)
		VALUES (
		  #{insaCode}
		, #{insaName}
		, #{insaStaffName}
		, NOW())
   	</insert> 
   	
   	<!-- 인사코드 중복검사 -->
   	<select id="insaCodeCheck" parameterType = "String" resultType = "String">
	   	SELECT 
	   		  code
		FROM
			 is_code
		WHERE
			code = #{insaCode}
	</select>
	
	<!-- 인사코드 수정 -->
   	<update id="updateInsaCode" parameterType="InsaCodeAdmin">
   		UPDATE 
   			is_code
		SET
			code = #{insaCode},
			code_name = #{insaName},
			reg_staff_name = #{insaStaffName},
			reg_date=NOW()
		WHERE
			 code = #{insaCode}
   	</update>
   	
   	<!-- 인사코드조회 -->
   	<select id="getInsaCode" parameterType = "String" resultType="InsaCodeAdmin" resultMap="insaCodeResultMap">
   		SELECT
   		   code
   		 , code_name
   		 , reg_staff_name
   		 , reg_date
		FROM
			 is_code
		WHERE
			code = #{insaCode}
   	</select>
   	
   	<!-- 근무코드삭제 -->
   	<delete id="deleteInsaCode" parameterType="String">
   		DELETE
   		FROM
   			 is_code
   		WHERE
   		 	code=#{insaCode}
   	</delete>
   	
   	<!-- ==========근무형태코드관리========== -->
   	<!-- 근무코드 검색 -->
   	<select id="getSearchWorkCodeList" parameterType="String" resultMap="insaCodeResultMap">
	   	SELECT
		   	  w_code
		   	, w_name
		   	, w_use
		   	, w_staff_name
		   	, w_reg_date
		FROM
		 	gt_work_code
		WHERE
			${sk} LIKE CONCAT {'%',#{sv},'%'}
		 
   	</select>
   	
   	<!-- 근무코드삭제 -->
   	<delete id="deleteWorkCode" parameterType="String">
   		DELETE FROM
   			 gt_work_code
   	 	WHERE
   	 		 w_code= #{workCode}
   	</delete>
   	
   	<!-- 근무코드수정 -->
   	<update id="updateWorkCode" parameterType="CodeAdmin">
   		UPDATE 
   			gt_work_code
		SET
			w_code = #{workCode},
			w_name = #{workName},
			w_use = #{workUseOrNot},
			w_staff_name = #{workStaffName},
			w_reg_date=NOW()
		WHERE
			w_code=#{workCode}
   	</update>
   	
   	<!-- 근무코드목록 -->
   	<select id="getWorkCodeList" resultMap="codeResultMap">
   		SELECT 
   			  w_code
   			, w_name
   			, w_use
   			, w_staff_name
   			, w_reg_date
		FROM
			  gt_work_code
   	</select>
   	
   	<!-- 근무코드조회 -->
   	<select id="getWorkCode" parameterType = "String" resultType="CodeAdmin" resultMap="codeResultMap">
   		SELECT 
   			  w_code
   			, w_name
   			, w_use
   			, w_staff_name
   			, w_reg_date
		FROM
			  gt_work_code
		WHERE
			w_code=#{workCode}
   	</select>
   	
   	<!-- 근무코드 등록 -->
   	<insert id="addWorkCode" parameterType="CodeAdmin">
   		INSERT INTO 
   			gt_work_code
				 (w_code
				, w_name
				, w_use
				, w_staff_name
				, w_reg_date)
		VALUES
			 (
			 	  #{workCode}
			 	, #{workName}
			 	, #{workUseOrNot}
			 	, #{workStaffName}
			 	, NOW()
			 	
			 )
   	</insert>
   	
   	<!-- 근무형태코드 중복검사 -->
   	<select id="codeCheck" parameterType="String" resultType="String">
		SELECT 
			w_code
		FROM 
			gt_work_code
		WHERE
			w_code = #{workCode} 
	</select>
   
   </mapper>