<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
   <mapper namespace="kr.or.jaegaebal.mapper.GeunTaeMapper">
   
  	<resultMap type="Holiday" id="holiCodeResultMap">
   		<result column="hd_code" property="hdCode"/>
   		<result column="hd_name" property="hdName"/>
   		<result column="company_code" property="companyCode"/>
   		<result column="hd_start_day" property="hdStartDay"/>
   		<result column="hd_end_day" property="hdEndDay"/>
   		<result column="reg_staff_name" property="regStaffName"/>
   		<result column="hd_reg_date" property="hdRegDate"/>
   		
   	
   	</resultMap>
   	
   	<!-- 휴일리스트 -->
   		<select id="holidayList" resultMap="holiCodeResultMap">
   			SELECT
   			 	  hd_code
   			 	, company_code
   			 	, hd_start_day
   			 	, hd_name
   			 	, hd_end_day
   			 	, reg_staff_name
   			 	, hd_reg_date
			FROM 
				gt_holiday_code
   	   		
	   	</select>
	   	
      <!-- 휴일등록 -->
   <insert id="addHdCode" parameterType="Holiday">
   	INSERT INTO
   		 gt_holiday_code(
   		 		  hd_code
   		 		, company_code
   		 		, hd_name
   		 		, hd_start_day
   		 		, hd_end_day
   		 		, reg_staff_name
   		 		, hd_reg_date
   		 		)
		VALUES (
				  #{hdCode}
				, #{companyCode}
				, #{hdName}
				, #{hdStartDay}
				, #{hdEndDay}
				, #{regStaffName}
				, NOW()
				)
   
   </insert>
   
   <!-- 휴일코드 중복검사 -->
   	<select id="hdCodeCheck" parameterType="String" resultType="String">
   	
		SELECT
			 hd_code
		FROM
			 gt_holiday_code
		WHERE
			hd_code = #{hdCode}
		
		
	</select>
	
	<!-- 휴일코드 수정 -->
		<update id="updateHdCode" parameterType="Holiday">
			UPDATE
				 gt_holiday_code
			SET
				hd_code = #{hdCode},
				company_code = #{companyCode},
				hd_name = #{hdName},
				hd_start_day = #{hdStartDay},
				hd_end_day = #{hdEndDay},
				reg_staff_name = #{regStaffName},
				hd_reg_date=NOW()
			WHERE
				 hd_code = #{hdCode}
	   </update>
	   
	   <!-- 휴일코드로 조회 -->
	 
   	<select id="getHdCode" parameterType = "String" resultType="Holiday" resultMap="holiCodeResultMap">
   		SELECT
   			 hd_code
		FROM
			 gt_holiday_code
		WHERE
			hd_code = #{hdCode}
   	</select>
   	
   </mapper>