<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
   <mapper namespace="kr.or.jaegaebal.mapper.GeunTaeMapper">
   
  	<resultMap type="Holiday" id="holiCodeResultMap">
   		<result column="hd_code" property="hdCode"/>
   		<result column="hd_name" property="hdName"/>
   		<result column="company_code" property="companyCode"/>
   		<result column="hd_start_day" property="hdStartDay"/>
   		<result column="hd_end_day" property="hdEndDay"/>
   		<result column="reg_staff_name" property="regStaffName"/>
   		<result column="hd_reg_date" property="hdRegDate"/>
   		
   	
   	</resultMap>
   	
   		<select id="holidayList" resultMap="holiCodeResultMap">
   			SELECT
   			 	  hd_code
   			 	, company_code
   			 	, hd_start_day
   			 	, hd_name
   			 	, hd_end_day
   			 	, reg_staff_name
   			 	, hd_reg_date
			FROM 
				gt_holiday_code
   	   		
	   	</select>
   
   <insert id="addHdCode" parameterType="Holiday">
   	INSERT INTO
   		 gt_holiday_code(
   		 		  hd_code
   		 		, company_code
   		 		, hd_start_day
   		 		, hd_name
   		 		, hd_end_day
   		 		, reg_staff_name
   		 		, hd_reg_date
   		 		)
		VALUES (
				  ''
				, ''
				, NOW()
				, ''
				, NOW()
				, ''
				, NOW()
				)
   
   </insert>
   
   </mapper>