<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
   <mapper namespace="kr.or.jaegaebal.mapper.GeunTaeMapper">
   
  	<resultMap type="Holiday" id="holiCodeResultMap">
   		<result column="hd_code" property="hdCode"/>
   		<result column="reg_staff_name" property="regStaffName"/>
   		<result column="hd_name" property="hdName"/>
   		<result column="hd_start_day" property="hdStartDay"/>
   		<result column="hd_end_day" property="hdEndDay"/>
   		<result column="hd_contents" property="hdContents"/>   		
   		<result column="hd_reg_date" property="hdRegDate"/>
   		
   	
   	</resultMap>
   	
   	<!-- fullcalendar ajax -->
   		<select id="fullCalendar" resultMap="holiCodeResultMap">
   			SELECT
   			 	, hd_name
   			 	, hd_start_day
   			 	, hd_end_day
   			 	, hd_contents
   			 
			FROM
				 gt_holiday_code
   	   		
	   	</select>
   	<!-- 휴일리스트 -->
   		<select id="holidayList" resultMap="holiCodeResultMap">
   			SELECT
   			 	  hd_code
   			 	, reg_staff_name
   			 	, hd_name
   			 	, hd_start_day
   			 	, hd_end_day
   			 	, hd_contents
   			 	, hd_reg_date
			FROM
				 gt_holiday_code
   	   		
	   	</select>
	   	
      <!-- 휴일등록 -->
   <insert id="addHdCode" parameterType="Holiday">
   <selectKey resultType="String" keyProperty="hdCode" order="BEFORE">
			select 
				CONCAT('hd_',max(CAST(substring(hd_code,4) AS DECIMAL))+1) 
			FROM 
				gt_holiday_code
		</selectKey>
   			INSERT INTO
   			 gt_holiday_code(
   			 		  hd_code
   			 		, reg_staff_name
   			 		, hd_name
   			 		, hd_start_day
   			 		, hd_end_day
   			 		, hd_contents
   			 		, hd_reg_date
   			 		)
			VALUES (
					  #{hdCode}
					, #{regStaffName}
					, #{hdName}
					, #{hdStartDay}
					, #{hdEndDay}
					, #{hdContents}
					, NOW()
					)
   
   </insert>
   
   
	
	<!-- 휴일코드 수정 -->
		<update id="updateHdCode" parameterType="Holiday">
			UPDATE
				 gt_holiday_code
			SET
				hd_code = #{hdCode},
				company_code = #{companyCode},
				hd_name = #{hdName},
				hd_start_day = #{hdStartDay},
				hd_end_day = #{hdEndDay},
				reg_staff_name = #{regStaffName},
				hd_reg_date=NOW()
			WHERE
				 hd_code = #{hdCode}
	   </update>
	   
	   <!-- 휴일코드로 조회 -->
	 
   	<select id="getHdCode" parameterType = "String" resultType="Holiday" resultMap="holiCodeResultMap">
   		SELECT
   			 hd_code
		FROM
			 gt_holiday_code
		WHERE
			hd_code = #{hdCode}
   	</select>
   	
   </mapper>