<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.jaegaebal.mapper.InsaMapper">

	<resultMap type="Company" id="CompanyResultMap">
		<result column="company_code" 		property="companyCode"/>
		<result column="company_name" 		property="companyName"/>
		<result column="company_eng_name" 	property="companyEngName"/>
		<result column="mutual_name" 		property="mutualName"/>
		<result column="company_addr" 		property="companyAddr"/>
		<result column="company_phone" 		property="companyPhone"/>
		<result column="company_ceo_name" 	property="companyCeoName"/>
		<result column="company_start_date" property="companyStartDate"/>
		<result column="company_num" 		property="companyNum"/>
		<result column="company_fax" 		property="companyFax"/>
		<result column="reg_staff_name" 	property="regStaffName"/>
		<result column="reg_date" 			property="regDate"/>
	</resultMap>
	
	<resultMap type="Jojic" id="JojicResultMap">
		<result column="jojic_code" 			property="jojicCode"/>
		<result column="jojic_name" 			property="jojicName"/>
		<result column="jojic_sosoc_name" 		property="jojicSosocName"/>
		<result column="parent_jojic_name" 		property="parentJojicName"/>
		<result column="jojic_manager_name" 	property="jojicManagerName"/>
		<result column="reg_staff_name" 		property="regStaffName"/>
		<result column="reg_date" 				property="regDate"/>
		<result column="jojic_status" 			property="jojicStatus"/>

	</resultMap>
	
	<resultMap type="StaffInfo" id="StaffInfoResultMap">
		<result column="level_name" 				property="levelName"/>
		<result column="position_name" 				property="positionName"/>
		<result column="jojic_name" 				property="jojicName"/>
		<result column="staff_num" 					property="staffNum"/>
		<result column="jojic_code" 				property="jojicCode"/>
		<result column="access_num" 				property="accessNum"/>
		<result column="staff_level_code" 			property="staffLevelCode"/>
		<result column="staff_position" 			property="staffPosition"/>
		<result column="hobong" 					property="hobong"/>
		<result column="staff_basic_salary" 		property="staffBasicSalary"/>
		<result column="staff_pw" 					property="staffPw"/>
		<result column="staff_name" 				property="staffName"/>
		<result column="staff_status_code" 			property="staffStatusCode"/>
		<result column="employment_status" 			property="employmentStatus"/>
		<result column="company_in_date" 			property="companyInDate"/>
		<result column="company_out_date" 			property="companyOutDate"/>
		<result column="reg_staff_name" 			property="regStaffName"/>
		<result column="reg_date" 					property="regDate"/>
		<result column="basic_info_code" 			property="basicInfoCode"/>
		<result column="staff_eng_name" 			property="staffEngName"/>
		<result column="human_num" 					property="humanNum"/>
		<result column="staff_gender" 				property="staffGender"/>
		<result column="staff_nationality" 			property="staffNationality"/>
		<result column="staff_country" 				property="staffCountry"/>
		<result column="staff_phone" 				property="staffPhone"/>
		<result column="staff_email" 				property="staffEmail"/>
		<result column="staff_marriged" 			property="staffMarriged"/>
		<result column="staff_addr" 				property="staffAddr"/>
		<result column="family_info_code" 			property="familyInfoCode"/>
		<result column="relation" 					property="relation"/>
		<result column="family_name" 				property="familyName"/>
		<result column="family_birthday" 			property="familyBirthday"/>
		<result column="family_job" 				property="familyJob"/>
		<result column="family_addr" 				property="familyAddr"/>
		<result column="family_phone" 				property="familyPhone"/>
		<result column="balryoung_info_code" 		property="balryoungInfoCode"/>
		<result column="balryoung_staff_num" 		property="balryoungStaffNum"/>
		<result column="balryoung_code" 			property="balryoungCode"/>
		<result column="balryoung_date" 			property="balryoungDate"/>
		<result column="balryoung_stage" 			property="balryoungStage"/>
		<result column="notes" 						property="notes"/>
		<result column="career_info_from_in_code" 	property="careerInfoFromInCode"/>
		<result column="project_name" 				property="projectName"/>
		<result column="project_start_date" 		property="projectStartDate"/>
		<result column="project_end_date" 			property="projectEndDate"/>
		<result column="project_access" 			property="projectAccess"/>
		<result column="project_level_name" 		property="projectLevelName"/>
		<result column="project_work" 				property="projectWork"/>
		<result column="project_position" 			property="projectPosition"/>
		<result column="career_info_from_out_code" 	property="careerInfoFromOutCode"/>
		<result column="company_name" 				property="companyName"/>
		<result column="company_access" 			property="companyAccess"/>
		<result column="company_position_from_out" 	property="companyPositionFromOut"/>
		<result column="company_work_form_out" 		property="companyWorkFormOut"/>
		<result column="company_in_date_from_out" 	property="companyInDateFromOut"/>
		<result column="company_out_date_from_out" 	property="companyOutDateFromOut"/>
		<result column="company_out_reason" 		property="companyOutReason"/>
		<result column="certificate_info_code" 		property="certificateInfoCode"/>
		<result column="certificate_name" 			property="certificateName"/>
		<result column="issuing_agency" 			property="issuingAgency"/>
		<result column="certificate_num" 			property="certificateNum"/>
		<result column="get_date" 					property="getDate"/>
		<result column="finished_date" 				property="finishedDate"/>
		<result column="education_info_code" 		property="educationInfoCode"/>
		<result column="school_name" 				property="schoolName"/>
		<result column="gakryuck_status" 			property="gakryuckStatus"/>
		<result column="major_name" 				property="majorName"/>
		<result column="minor_name" 				property="minorName"/>
		<result column="entrance_date" 				property="entranceDate"/>
		<result column="graduat_date" 				property="graduatDate"/>
		<result column="degree" 					property="degree"/>
		<result column="military_info_code" 		property="militaryInfoCode"/>
		<result column="military_service_type" 		property="militaryServiceType"/>
		<result column="military_state" 			property="militaryState"/>
		<result column="jaejic_status_name" 		property="jaejicStatusName"/>
		<result column="military_in_day" 			property="militaryInDay"/>
		<result column="military_out_day" 			property="militaryOutDay"/>
		<result column="military_level" 			property="militaryLevel"/>
		
	
	</resultMap>
	
	
	<!-- 회사 정보 목록 -->
	<select id="getCompanyInfo" resultMap="CompanyResultMap">
		SELECT 
			 company_code
			,company_name
			,company_eng_name
			,mutual_name
			,company_addr
			,company_phone
			,company_ceo_name
			,company_start_date
			,company_num
			,company_fax
			,reg_staff_name
			,reg_date
		FROM
			 is_company
		ORDER BY 
			 company_code DESC
		LIMIT 
			 1
	</select>	
	
	<!-- 일반 직원일때 직원 목록 -->
	<select id="getStaffInfo" resultMap="StaffInfoResultMap">
		SELECT 
				 sf.staff_num
				,jojic_name
				,level_name
				,position_name
				,staff_name
				,staff_status_code
				,staff_email
				,staff_phone
				,jaejic_status_name
				
		FROM is_staff 					AS sf
		JOIN is_level 					AS lv
		JOIN is_position 				AS ps
		JOIN is_jojic 					AS jj
		JOIN is_staff_basic_info 		AS sbif
		JOIN is_jaejic 					AS jaejic
		
		
		ON sf.staff_level_code 		= lv.level_code
		AND sf.staff_position_code 	= ps.position_code
		AND sf.jojic_code 			= jj.jojic_code
		AND sf.staff_num 			= sbif.staff_num
		AND sf.staff_status_code 	= jaejic.jaejic_status_code
		ORDER BY sf.staff_num
		LIMIT #{startRow},#{rowPerPage};
	</select>
	
	<!-- 일반 직원일때 직원 목록의 전체 행 갯수 -->
	<select id="getStaffInfoListCount" resultType="int">
		SELECT 
				COUNT(*)
				
		FROM is_staff 					AS sf
		JOIN is_level 					AS lv
		JOIN is_position 				AS ps
		JOIN is_jojic 					AS jj
		JOIN is_staff_basic_info 		AS sbif
		JOIN is_jaejic 					AS jaejic
		
		ON sf.staff_level_code 		= lv.level_code
		AND sf.staff_position_code 	= ps.position_code
		AND sf.jojic_code 			= jj.jojic_code
		AND sf.staff_num 			= sbif.staff_num
		AND sf.staff_status_code 	= jaejic.jaejic_status_code
		
		ORDER BY sf.staff_num	
	</select>
	
	<!-- 부서명 가지고 오기 -->
	<select id="getJojicInfo" resultMap="JojicResultMap">
		SELECT
				 jojic_code
				,jojic_name
				,jojic_sosoc_name
		FROM
				is_jojic
	</select>
	
	<!-- 팀명 가지고 오기 -->
 	<select id="getTeamName" parameterType="String" resultMap="JojicResultMap">
		SELECT
				jojic_name
		FROM
				is_jojic 
		WHERE
				parent_jojic_name = #{buseoName}
	</select>
</mapper>	
