<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.jaegaebal.mapper.LoginMapper">

	<resultMap type="StaffInfo" id="LoginResultMap">
		<result column="staff_num" 					property="staffNum"/>
		<result column="jojic_code" 				property="jojicCode"/>
		<result column="access_num" 				property="accessNum"/>
		<result column="staff_level_code" 			property="staffLevelCode"/>
		<result column="staff_position" 			property="staffPosition"/>
		<result column="hobong" 					property="hobong"/>
		<result column="staff_basic_salary" 		property="staffBasicSalary"/>
		<result column="staff_pw" 					property="staffPw"/>
		<result column="staff_name" 				property="staffName"/>
		<result column="staff_status_code" 			property="staffStatusCode"/>
		<result column="employment_status" 			property="employmentStatus"/>
		<result column="company_in_date" 			property="companyInDate"/>
		<result column="company_out_date" 			property="companyOutDate"/>
		<result column="reg_staff_name" 			property="regStaffName"/>
		<result column="reg_date" 					property="regDate"/>
		<result column="jojic_name" 				property="jojicName"/>
		
	
	</resultMap>
	
<select id="staffLogin" parameterType="String" resultType="StaffInfo" resultMap="LoginResultMap">
		SELECT 
		  sf.staff_num 
		, sf.staff_name
		, sf.staff_pw
		, sf.jojic_code
		, jj.jojic_name
		
	FROM
		 is_staff AS sf
		 
	JOIN is_jojic AS jj
	ON sf.jojic_code = jj.jojic_code
	WHERE
		sf.staff_num = #{staffNum} and sf.staff_pw = #{staffPw}
</select>

</mapper>

