<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.jaegaebal.mapper.UpmuMapper">
		
<!-- 상신함 - 조건검색 -->	
	<select id="searchAppList" resultType="UpmuDocument">
		SELECT
			app_code			as appCode
			,d.app_doc_code		as docCode
			,t.doc_type			as docTypeName
			,writer_buseo_code	as writerBuseoCode
			,writer_num			as writerNum
			,doc_title			as docTitle
			,doc_contents		as docContents
			,write_date			as writeDate
			,doc_file			as docFile
			,start_date			as startDate
			,end_date			as endDate
			,a.app_state		as appStateName
			,SECURITY			as security
			,deadline			as deadline
			,d.doc_type			as docType
		FROM
			um_appstate AS a
			INNER join
			um_document AS d
		ON
			a.app_code=d.app_state
		INNER join
			um_doctype AS t
		on
			t.doc_code=d.doc_type
		<if test="sk neq ''.toString">
		where
		${sk} LIKE CONCAT('%',#{sv},'%')
		</if>
	</select>
	
<!-- 상신함 - 전체 조회  -->
	<select id="myAppList" resultType="UpmuDocument">
		SELECT
			app_code
			,d.app_doc_code		as docCode
			,t.doc_type			as docTypeName
			,writer_buseo_code	as writerBuseoCode
			,writer_num			as writerNum
			,doc_title			as docTitle
			,doc_contents		as docContents
			,write_date			as writeDate
			,doc_file			as docFile
			,start_date			as startDate
			,end_date			as endDate
			,a.app_state		as appStateName
			,SECURITY			as security
			,deadline			as deadline
			,d.doc_type			as docType
		FROM
			um_appstate AS a
			INNER join
			um_document AS d
		ON
			a.app_code=d.app_state
		INNER join
			um_doctype AS t
		on
			t.doc_code=d.doc_type;
	
	 
	</select>
<!-- 기안하기 - 결재라인 - 조직도 - 사원  -->
  <select id="getStaff" resultType="StaffInfo">
	SELECT 
		staff_num  	as staffNum
		,staff_name as staffName 
		,s.jojic_code as jojicCode
		,j.jojic_name AS jojicName
	FROM 
		is_staff AS s
	join
		is_jojic AS j
	on
	s.jojic_code = j.jojic_code;  
  </select>

<!-- 기안하기 - 결재라인 - 조직도 - 팀  -->
  <select id="getTeam" resultType="Jojic">
	SELECT 
		jojic_name			as jojicName
		,jojic_sosoc_name	as jojicSosocName
		,parent_jojic_name	as parentJojicName
	FROM
		is_jojic
	where
		 jojic_sosoc_name = "팀";
  </select>
  
 <!-- 기안하기 - 결재라인-최상위(부서) 검색  -->
 <select id="getJojic" resultType="Jojic">
 	SELECT 
 		DISTINCT(parent_jojic_name)	as parentJojicName
	FROM 
		is_jojic; 
 </select>
 
 <!-- 기안하기에서 문서유형검색  -->
 <select id="getDocType" resultType="UpmuDocument">
 	SELECT 
 		doc_type as docTypeName
	FROM 
		um_doctype
 </select>
                        
</mapper>