<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.jaegaebal.mapper.UpmuMapper">
	<resultMap type="UpmuDocument" id="UpmuDocument">
		<result column="doc_code" 			property="docCode;"/>
		<result column="doc_type" 			property="docType;"/>
		<result column="writer_buseo_code" 	property="writerBuseoCode;"/>
		<result column="writer_num" 		property="writerNum;"/>
		<result column="doc_title" 			property="docTitle;"/>
		<result column="doc_contents"		property="docContents;"/>
		<result column="write_date" 		property="writeDate;"/>
		<result column="doc_file"			property="docFile;"/>
		<result column="start_date"			property="startDate;"/>
		<result column="end_date"			property="endDate;"/>
		<result column="app_state"			property="appState;"/>
		<result column="security"			property="security"/>
		<result column="deadline"			property="deadline"/>
		<result column="doc_coment"			property="docComent"/>
	</resultMap>   
	
<!-- 상신함 - 조건검색 -->	
	<select id="searchAppList" resultType="UpmuDocument">
		SELECT
			app_code			as appCode
			,d.app_doc_code		as docCode
			,t.doc_type			as docTypeName
			,writer_buseo_code	as writerBuseoCode
			,writer_num			as writerNum
			,doc_title			as docTitle
			,doc_contents		as docContents
			,write_date			as writeDate
			,doc_file			as docFile
			,start_date			as startDate
			,end_date			as endDate
			,a.app_state		as appStateName
			,SECURITY			as security
			,deadline			as deadline
			,d.doc_type			as docType
		FROM
			um_appstate AS a
			INNER join
			um_document AS d
		ON
			a.app_code=d.app_state
		INNER join
			um_doctype AS t
		on
			t.doc_code=d.doc_type
		<if test="sk neq ''.toString">
		where
		${sk} LIKE CONCAT('%',#{sv},'%')
		</if>
	</select>
	
<!-- 상신함 - 전체 조회  -->
	<select id="myAppList" resultType="UpmuDocument">
		SELECT
			app_code
			,d.app_doc_code		as docCode
			,t.doc_type			as docTypeName
			,writer_buseo_code	as writerBuseoCode
			,writer_num			as writerNum
			,doc_title			as docTitle
			,doc_contents		as docContents
			,write_date			as writeDate
			,doc_file			as docFile
			,start_date			as startDate
			,end_date			as endDate
			,a.app_state		as appStateName
			,SECURITY			as security
			,deadline			as deadline
			,d.doc_type			as docType
		FROM
			um_appstate AS a
			INNER join
			um_document AS d
		ON
			a.app_code=d.app_state
		INNER join
			um_doctype AS t
		on
			t.doc_code=d.doc_type;
	
	 
	</select>
<!-- 기안하기 - 결재라인 - 조직도 - 사원검색  -->
  <select id="getStaff" resultType="StaffInfo">
	SELECT 
		staff_num  	as staffNum
		,staff_name as staffName 
		,jojic_code as jojicCode
	FROM 
		is_staff
  
  </select>

 <!-- 기안하기 - 결재라인- 조직도 검색  -->
 <select id="getJojic" resultType="Jojic">
 	SELECT 
 		jojic_name		as jojicName
		,jojic_code		as jojicCode
	FROM 
		is_jojic; 
 </select>
 
 <!-- 기안하기에서 문서유형검색  -->
 <select id="getDocType" resultType="UpmuDocument">
 	SELECT 
 		doc_type as docTypeName
	FROM 
		um_doctype
 </select>
                        
</mapper>