<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="layout/default">
     
   <th:block layout:fragment="customTitle">
      <title th:text="${title}"></title> 
   </th:block>
   
   <th:block layout:fragment="customCss">
	   <link rel="stylesheet" type="text/css" th:href="@{/css/insa.css}">
   </th:block>
   
   <th:block layout:fragment="customContent">
		<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
		
		<div class="app-main__inner">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
					        </i>
					    </div>
					    <div>회사정보
					       <div class="page-title-subheading">회사관리/회사정보</div>
					    </div>
					</div>
				</div>
			</div>
			<div class="continer-fluid">
				<div class="row" style="background-color : white;">
					<div class="col-md-12 m-t-sm m-b-sm">
						<table class="mb-0 table table-bordered">
							<tr>
								<td class="td-header">회사명</td>
								<td class="td-val">[[${companyInfo.companyName}]]</td>
								<td class="td-header">영문명</td>
								<td class="td-val">[[${companyInfo.companyEngName}]]</td>
							</tr>
							<tr>
								<td class="td-header">상호명</td>
								<td class="td-val">[[${companyInfo.mutualName}]]</td>
								<td class="td-header">대표자명</td>
								<td class="td-val">[[${companyInfo.companyCeoName}]]</td>
							</tr>
		 					<tr>
								<td class="td-header">전화번호</td>
								<td class="td-val">[[${companyInfo.companyPhone}]]</td>
								<td class="td-header">FAX</td>
								<td class="td-val">[[${companyInfo.companyFax}]]</td>
							</tr>
							<tr>
								<td class="td-header">설립일</td>
								<td class="td-val">[[${companyInfo.companyStartDate}]]</td>
								<td class="td-header">사업자등록번호</td>
								<td class="td-val">[[${companyInfo.companyNum}]]</td>
							</tr>
		 					<tr>
								<td class="td-header">주소</td>
								<td colspan="3">[[${companyInfo.companyAddr}]]</td>
							</tr> 
						</table>
						
					<!-- 	<a class="btn btn-b" th:if="${session.SLEVEL eq '1'}" th:href="@{/user/modifyUser(userId=${userDetailsInfo.userId})}">수정하러가기</a> -->
					</div>	
				</div>	
			</div>
		</div>
		
		<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
		   </th:block>
    
</html>