<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="layout/default">
     
   <th:block layout:fragment="customTitle">
      <title th:text="${title}"></title> 
   </th:block>
   
   <th:block layout:fragment="customCss">
		<link rel="stylesheet" type="text/css" th:href="@{/css/insa.css}">
   </th:block>
   
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/assets/scripts/insa.js}"></script>
	</th:block>
   
   <th:block layout:fragment="customContent">
		<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
		
		<div class="app-main__inner">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo"></i>
					    </div>
					    <div>추가 정보 기입
					       <div class="page-title-subheading">인사관리/직원관리/직원등록/추가 정보 기입</div>
					    </div>
					</div>
				</div>
			</div>
		    <div class="row">
				<div class="col-md-4">
					<div class="main-card card">
						<div class="card-body emp-table">
							<h5 class="card-title">직원 정보</h5>
							<div class="scroll-div" >
								<div class="scrollbar-container">
									<table class="mb-0 table table-bordered staffInfo" id="staffInfo">
										<tr>
											<td class="t_head">사번</td>
											<td>
												<input type="text" th:value="${staffNum}" class="form-control" name="staffNum" id="staffNum" readonly/>
											</td>
										</tr>
										<tr>	
											<td class="t_head">이름</td>
											<td>
												<input type="text" th:value="${list.staffName}" class="form-control" name="staffName" readonly/>
											</td>
										</tr>
										<tr>
											<td class="t_head">소속</td>
											<td>
												<input type="text" th:value="${list.jojicName}" class="form-control" name="jojicName" readonly/>
											</td>
										</tr>
										<tr>
											<td class="t_head">권한</td>
											<td>
												<input type="text" th:value="${list.accessName}" class="form-control" name="accessName" readonly/>
											</td>
										</tr>	
										<tr>
											<td class="t_head">직급</td>
											<td>
												<input type="text" th:value="${list.levelName}" class="form-control" name="levelName" readonly/>
											</td>
										</tr>		
										<tr>
											<td class="t_head">직책</td>
											<td>
												<input type="text" th:value="${list.positionName}" class="form-control" name="positionName" readonly/>
											</td>
										</tr>		
										<tr>
											<td class="t_head">기본급</td>
											<td>
												<input type="text" th:value="${list.staffBasicSalary}" class="form-control" name="staffBasicSalary" readonly/>
											</td>
										</tr>
										<tr>
											<td class="t_head">고용형태</td>
											<td>
												<input type="text" th:value="${list.employmentStatus}" class="form-control" name="employmentStatus" readonly/>
											</td>
										</tr>		
										<tr>
											<td class="t_head">입사일</td>
											<td>
												<input type="text" th:value="${list.companyInDate}" class="form-control" name="companyInDate" readonly/>
											</td>
										</tr>
										<tr>
											<td class="t_head">비고</td>
											<td>
												<input type="text" th:value="${list.staffNotes}" class="form-control" name="staffNotes" readonly/>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="main-card card">
						<div class="card-body p-b-xs">
							<h5 class="card-title">추가 기입 정보</h5>
						</div>
                           <div class="card-header">
                               <div class="btn-actions-pane-right">
                                   <div class="nav">
                                       <a data-toggle="tab" href="#isStaffBasicInfo" class="btn-pill btn-wide mr-1 m-b-xs active btn btn-outline-alternate btn-sm">인적사항</a>
                                       <a data-toggle="tab" href="#isStaffFamilyInfo" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">가족정보</a>
                                       <a data-toggle="tab" href="#isCareerInfoFromIn" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">사내경력</a>
                                       <a data-toggle="tab" href="#isCareerInfoFromOut" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">사외경력</a>
                                       <a data-toggle="tab" href="#isCertificateInfo" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">자격정보</a>
                                       <a data-toggle="tab" href="#isEducationInfo" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">학력정보</a>
                                       <a data-toggle="tab" href="#isBalryoungInfo" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">발령정보</a>
                                       <a data-toggle="tab" href="#isMilitaryInfo" class="btn-pill btn-wide btn m-b-xs btn-outline-alternate btn-sm">병역정보</a>
                                   </div>
                               </div>
                         	</div>
                           <div class="card-body">
                               <div class="tab-content">
                                   <div class="tab-pane active isStaffBasicInfo" id="isStaffBasicInfo" role="tabpanel">
                                    <form class="insertDetailInfoForm staffBasicInfoForm" action="/staffBasicInfo" method="post" >
										<table class="mb-12 table table-bordered forms is_staff_basic_info" >
											<colgroup>
												<col width = "12%">
												<col width = "30%">
												<col width = "15%">
												<col width = "43%">
											</colgroup>
											<tr>
												<td class="t_head2">영문이름
													<input type="hidden" th:value="${staffNum}" class="form-control" name="staffNum"/>
												</td>
												<td colspan="3">
													<input type="text" name="staffEngName" class="form-control staffDetailInfo ">
												</td>
											</tr> 
											<tr>													
												<td class="t_head2">성별</td>
												<td>
													<label><input type="radio" name="staffGender" value="여" checked="checked"> 여</label>
													<label><input type="radio" name="staffGender" value="남"> 남</label>													
												</td>
												<td class="t_head2">주민등록번호</td>
												<td class="inputmaineus" >
													<input type="hidden" name="humanNum" class="humanNum"/>
													<input type="text" class=" input-width21 human_num form-control staffDetailInfo" maxlength="6">
													<span class="span-font">-</span>
													<input type="text" class=" input-width22 human_num form-control staffDetailInfo" maxlength="7">
												</td>
											</tr> 
											<tr>
												<td class="t_head2">내외국인</td>
												<td>
													<label><input type="radio" name="staffNationality" value="내국인" checked="checked" class="staff-nationality-input staffDetailInfo"> 내국인</label>
													<label><input type="radio" name="staffNationality" value="외국인" class="staff-nationality-input staffDetailInfo"> 외국인</label>
												<td class="t_head2">국적</td>
												<td>
													<input type="text" name="staffCountry" class="form-control staffDetailInfo" >
												</td>
											</tr> 
											<tr>													
												<td class="t_head2">결혼여부</td>
												<td>
													<label><input type="radio" name="staffMarriged" value="미혼" checked="checked" class="staffDetailInfo"> 미혼 </label>
													<label><input type="radio" name="staffMarriged" value="기혼" class="staffDetailInfo"> 기혼</label>
												</td>
												<td class="t_head2">연락처</td>
												<td class="inputmaineus">
													<input type="hidden" name="staffPhone"  class="staff_phone_val"/>
													<input type="text" class="input-width31 staff_phone_val form-control staffDetailInfo"  maxlength="3">
													<span class="span-font span-1">-</span>
													<input type="text" class="input-width32 staff_phone_val form-control staffDetailInfo"  maxlength="4">
													<span class="span-font span-2">-</span>
													<input type="text" class="input-width33 staff_phone_val form-control staffDetailInfo"  maxlength="4">
												</td>
											</tr> 
											<tr>													
												<td class="t_head2">이메일</td>
												<td>
													<input type="text" name="staffEmail" class="form-control staffDetailInfo">
												</td>
												<td class="t_head2">주소</td>
												<td>
													<input type="text" name="staffAddr"  class="form-control staffDetailInfo">
												</td>
											</tr> 
											<tr>
												<td class="t_head2">비고</td>
												<td colspan="5">
													<textarea name="staffBasicInfoNotes" class="form-control staffDetailInfo"></textarea>
												</td>
											</tr> 
										</table>
									</form>	
                                   </div>
                                   <div class="tab-pane " id="isStaffFamilyInfo" role="tabpanel">
                                    <form class="insertDetailInfoForm familyInfoForm" action="/staffFamilyInfo" method="post">
										<table class="mb-12 table table-bordered forms is_staff_family_info staffDetailInfo">
											<colgroup>
												<col width = "15%">
												<col width = "30%">
												<col width = "15%">
												<col width = "40%">
											</colgroup>
											<tr>
												<td class="t_head2">가족관계
													<input type="hidden" th:value="${staffNum}" class="form-control" name="staffNum"/>
												</td>
												<td>
													<input type="text" name="relation" class="form-control staffDetailInfo">
												</td>
												<td class="t_head2">생년월일</td>
												<td>
													<input type="date" name="familyBirthday"  class="form-control staffDetailInfo">
												</td>
											</tr> 
											<tr>														
												<td class="t_head2">이름</td>
												<td>
													<input type="text" name="familyName" class="form-control staffDetailInfo">									
												</td>
												<td class="t_head2">주소</td>
												<td>
													<input type="text" name="familyAddr"  class="form-control staffDetailInfo">
												</td>
											</tr> 
											<tr>
												<td class="t_head2">직업</td>
												<td>
													<input type="text" name="familyJob"  class="form-control staffDetailInfo">
												</td>
												<td class="t_head2">연락처</td>
												<td class="inputmaineus" >
													<input type="hidden" name="familyPhone" class="family_phone_val"  />
													<input type="text" class=" input-width31 family_phone_val form-control staffDetailInfo" maxlength="3">
													<span class="span-font span-1">-</span>
													<input type="text" class=" input-width32 family_phone_val form-control staffDetailInfo" maxlength="4">
													<span class="span-font span-2">-</span>
													<input type="text" class=" input-width33 family_phone_val form-control staffDetailInfo" maxlength="4">
												</td>
											</tr> 
											<tr>
												<td class="t_head">비고</td>
												<td colspan="5">
													<textarea name="staffFamilyInfoNotes"  class="form-control staffDetailInfo"></textarea>
												</td>
											</tr>												
											<tr class="addFamilyInfoBtnTr">
												<td colspan="8" >
													<div class="addDiv"><button type="button" class="font-icon-wrapper btn btn-light addFamilyInfoBtn"><i class="pe-7s-add-user addBtn" ></i>인원추가</button></div>
												</td>
											</tr>
										</table>
									</form>
                                   </div>
                                   <div class="tab-pane" id="isCareerInfoFromIn" role="tabpanel">
                                    <form class="insertDetailInfoForm careerInfoFromInForm" action="/careerInfoFromIn" method="post">
										<table class="mb-12 table table-bordered forms is_career_info_from_in">
											<tr>
												<td class="t_head2">프로젝트명
													<input type="hidden" th:value="${staffNum}" class="form-control" name="staffNum"/>
												</td>
												<td colspan="5">
													<input type="text" name="projectName" class="form-control staffDetailInfo" >
												</td>
											</tr> 
											<tr>
												<td class="t_head2">시작일</td>
												<td >
													<input type="date" name="projectStartDate"  class="form-control staffDetailInfo">
												</td>
												<td class="t_head2">종료일</td>
												<td>
													<input type="date" name="projectEndDate"  class="form-control staffDetailInfo">
												</td>
											</tr> 
											<tr>
												<td class="t_head2">도중권한</td>
												<td>
													<select  name="projectAccess" class="form-control staffDetailInfo">
														<option th:each="l : ${codeAndName.accessInfo}" th:text="${l.accessName}" th:value="${l.accessName}" ></option>
													</select>
												</td>
												<td class="t_head2">직책</td>
												<td>
													<select  name="projectPosition" class="form-control staffDetailInfo">
														<option th:each="l : ${codeAndName.positionInfo}" th:text="${l.positionName}" th:value="${l.positionName}" ></option>
													</select>
												</td>
											</tr> 
											<tr>
												<td class="t_head2">직무</td>
												<td>
													<input type="text" name="projectWork" class="form-control staffDetailInfo">
												</td>
												<td class="t_head2">직급</td>
												<td>
													<select  name="projectLevelName" class="form-control staffDetailInfo">
														<option th:each="l : ${codeAndName.levelInfo}" th:text="${l.levelName}" th:value="${l.levelName}" ></option>
													</select>
												</td>												
											</tr>
											<tr>
												<td class="t_head2">비고</td>
												<td colspan="5">
													<textarea name="careerInfoFromInNotes" class="form-control staffDetailInfo"></textarea>
												</td>
											</tr> 												
											<tr class="addCareerInfoBtnTr">
												<td colspan="8">
													<div class="addDiv"><button type="button" class="font-icon-wrapper btn btn-light addCareerInfoBtn"><i class="pe-7s-add-user"></i>경력추가</button></div>
												</td>
											</tr>

										</table>
									</form>	
                                   </div>
                                   <div class="tab-pane" id="isCareerInfoFromOut" role="tabpanel">
                                    <form class="insertDetailInfoForm careerInfoFromOutForm" action="/careerInfoFromOut" method="post">
										<table class="mb-12 table table-bordered forms is_career_info_from_out">
											<tr>
												<td class="t_head2">직장명
													<input type="hidden" th:value="${staffNum}" class="form-control" name="staffNum"/>
												</td>
												<td>
													<input type="text" name="companyName" class="form-control staffDetailInfo">
												</td>
												<td class="t_head2">직위</td>
												<td >
													<input type="text" name="companyAccess"  class="form-control staffDetailInfo">
												</td>
											</tr>
											<tr>
												<td class="t_head2">직책</td>
												<td>
													<input type="text" name="companyPositionFromOut" class="form-control staffDetailInfo" >
												</td>
												<td class="t_head2">직무</td>
												<td>
													<input type="text" name="companyWorkFormOut" class="form-control staffDetailInfo">
												</td>
											</tr>
											<tr>
												<td class="t_head2">입사일자</td>
												<td>
													<input type="date" name="companyInDateFromOut"  class="form-control staffDetailInfo">
												</td>
												<td class="t_head2">퇴사일자</td>
												<td>
													<input type="date" name="companyOutDateFromOut" class="form-control staffDetailInfo" >
												</td>
											</tr>	
											<tr>
												<td class="t_head2">퇴직사유</td>
												<td>
													<textarea name="companyOutReason" class="form-control staffDetailInfo" ></textarea>
												</td>
												<td class="t_head2">비고</td>
												<td>
													<textarea name="careerInfoFromOutNotes" class="form-control staffDetailInfo"></textarea>
												</td>
											</tr> 												
											<tr class="addCareerInfoFromOutBtnTr">
												<td colspan="8">
													<div class="addDiv"><button type="button" class="font-icon-wrapper btn btn-light addCareerInfoFromOutBtn"><i class="pe-7s-add-user"></i>경력추가</button></div>
												</td>
											</tr>
										</table>
									</form>
                                   </div>
                                   <div class="tab-pane" id="isCertificateInfo" role="tabpanel">
                                    <form class="insertDetailInfoForm certificateInfoForm" action="/certificateInfo" method="post">
										<table class="mb-12 table table-bordered forms is_certificate_info">
											<tr>
												<td class="t_head2">자격증명
													<input type="hidden" th:value="${staffNum}" class="form-control" name="staffNum"/>
												</td>
												<td colspan="5">
													<input type="text" name="certificateName" class="form-control staffDetailInfo">
												</td>
											</tr> 
											<tr>
												<td class="t_head2">발급기관</td>
												<td >
													<input type="text" name="issuingAgency" class="form-control staffDetailInfo" >
												</td>
												<td class="t_head2">자격번호</td>
												<td>
													<input type="text" name="certificateNum"  class="form-control staffDetailInfo">
												</td>
											</tr>
											<tr>
												<td class="t_head2">취득일</td>
												<td>
													<input type="date" name="getDate" class="form-control staffDetailInfo">
												</td>
												<td class="t_head2">만료일</td>
												<td>
													<input type="date" name="finishedDate" class="form-control staffDetailInfo">
												</td>
											</tr> 
											<tr>
												<td class="t_head2">비고</td>
												<td colspan="5">
													<textarea name="certificateInfoNotes" class="form-control staffDetailInfo"></textarea>
												</td>
											</tr> 												
											<tr class="addCertificateInfoBtnTr">
												<td colspan="8">
													<div class="addDiv"><button type="button" class="font-icon-wrapper btn btn-light addCertificateInfoBtn"><i class="pe-7s-add-user"></i>자격추가</button></div>
												</td>
											</tr>
										</table>
									</form>
                                   </div>
                                   <div class="tab-pane" id="isEducationInfo" role="tabpanel">
                                    <form class="insertDetailInfoForm isEducationInfo" action="/educationInfo" method="post">
										<table class="mb-12 table table-bordered forms is_education_info" >
											<tr>
												<td class="t_head2">학교명
													<input type="hidden" th:value="${staffNum}" class="form-control" name="staffNum"/>
												</td>
												<td colspan="5">
													<input type="text" name="schoolName" class="form-control staffDetailInfo">
												</td>
											</tr> 
											<tr>
												<td class="t_head2">전공</td>
												<td >
													<input type="text" name="majorName" class="form-control staffDetailInfo" >
												</td>
												<td class="t_head2">부전공</td>
												<td>
													<input type="text" name="minorName"  class="form-control staffDetailInfo">
												</td>
											</tr> 
											<tr>												
												<td class="t_head2">학위</td>
												<td>
													<input type="text" name="degree" class="form-control staffDetailInfo">
												</td>
												<td class="t_head2">상태</td>
												<td>
													<input type="text" name="hakryuckStatus" class="form-control staffDetailInfo">
												</td>
											</tr> 
											<tr>
												<td class="t_head2">입학일</td>
												<td>
													<input type="date" name="entranceDate" class="form-control staffDetailInfo">
												</td>
												<td class="t_head2">졸업일</td>
												<td>
													<input type="date" name="graduatDate" class="form-control staffDetailInfo">
												</td>												
											</tr>
											<tr>
												<td class="t_head2">비고</td>
												<td colspan="5">
													<textarea name="educationInfoNotes" class="form-control staffDetailInfo"></textarea>
												</td>
											</tr> 												
											<tr class="addEducationInfoBtnTr">
												<td colspan="8">
													<div class="addDiv"><button type="button" class="font-icon-wrapper btn btn-light addEducationInfoBtn"><i class="pe-7s-add-user"></i>학력추가</button></div>
												</td>
											</tr>

										</table>
									</form>
                                   </div>                                                                                                            
                                   <div class="tab-pane" id="isBalryoungInfo" role="tabpanel">
                                    <form class="insertDetailInfoForm staffBalryoungInfoForm" action="/staffBalryoungInfo" method="post">
										<table class="mb-12 table table-bordered forms is_balryoung_info" >
											<tr>
												<td class="t_head2">발령내용
													<input type="hidden" th:value="${staffNum}" class="form-control" name="staffNum"/>
												</td>
												<td colspan="5">
													<select name="balryoungCode" class="form-control staffDetailInfo">
														<option value="BR001">승진</option>
														<option value="BR002">전근</option>
														<option value="BR003">파견</option>
														<option value="BR004">부서이동</option>
													</select>
												</td>
											</tr> 
											<tr>
												<td class="t_head2">발령일</td>
												<td > 
													<input type="date" name="balryoungDate" class="form-control staffDetailInfo">
												</td>
												<td class="t_head2">발령지</td>
												<td>
													<input type="text" name="balryoungStage" class="form-control staffDetailInfo">
												</td>
											</tr> 
											<tr>
												<td class="t_head2">비고</td>
												<td colspan="5">
													<textarea name="balryoungInfoNotes" class="form-control staffDetailInfo"></textarea>
												</td>
											</tr> 												
											<tr class="addBalryoungInfoBtnTr">
												<td colspan="8">
													<div class="addDiv"><button type="button" class="font-icon-wrapper btn btn-light addBalryoungInfoBtn"><i class="pe-7s-add-user"></i>내용추가</button></div>
												</td>
											</tr>

										</table>
									</form>
                                   </div>     
                                   <div class="tab-pane" id="isMilitaryInfo" role="tabpanel">
                                   	<form class="insertDetailInfoForm staffMilitaryInfoForm" action="/militaryInfo" method="post">
										<table class="mb-12 table table-bordered forms is_military_info">
											<tr>
												<td class="t_head2">군별 선택
													<input type="hidden" th:value="${staffNum}" class="form-control" name="staffNum"/>
												</td>
												<td colspan="5">
													<select name="militaryServiceType" class="form-control staffDetailInfo">
														 <option value="" selected="selected" disabled="disabled"></option>
						                                <option value="육군">육군</option><option value="해군">해군</option><option value="공군">공군</option><option value="의경">의경</option><option value="공익">공익</option><option value="전문연구요원">전문연구요원</option><option value="산업기능요원">산업기능요원</option><option value="기타">기타</option>
						                            </select>														
												</td>
											</tr> 
											<tr>
												<td class="t_head2">상태</td>
												<td >
													<input type="text" name="militaryState" class="form-control staffDetailInfo">
												</td>
												<td class="t_head2">계급</td>
												<td>
													<select name="militaryLevel" class="form-control staffDetailInfo">
						                                <option value="" selected="selected" disabled="disabled"></option>
						                                <option value="이병">이병</option><option value="일병">일병</option><option value="상병">상병</option><option value="병장">병장</option><option value="하사">하사</option><option value="중사">중사</option><option value="상사">상사</option><option value="준위">준위</option><option value="소위">소위</option><option value="중위">중위</option><option value="대위">대위</option><option value="소령">소령</option><option value="중령">중령</option><option value="대령">대령</option><option value="준장">준장</option><option value="소장">소장</option><option value="중장">중장</option><option value="대장">대장</option>
						                            </select>														
												</td>
											</tr> 
											<tr>
												<td class="t_head2">입대일자</td>
												<td >
													<input type="date" name="militaryInDay" class="form-control staffDetailInfo">
												</td>
												<td class="t_head2">전역일자</td>
												<td>
													<input type="date" name="militaryOutDay" class="form-control staffDetailInfo">
												</td>
											</tr> 
											<tr>
												<td class="t_head2">비고</td>
												<td colspan="5">
													<textarea name="militaryInfoNotes" class="form-control staffDetailInfo"></textarea>
												</td>
											</tr> 												
											<tr class="addMilitaryInfoBtnTr">
												<td colspan="8">
													<div class="addDiv"><button type="button" class="font-icon-wrapper btn btn-light addMilitaryInfoBtn"><i class="pe-7s-add-user"></i>내용추가</button></div>
												</td>
											</tr>

										</table>
									</form>	
                                   </div>                                                                                                            
                               </div>
                           </div>
                           <div class="d-block card-footer addDiv">
                           	<button type="button" class="btn-wide btn btn-alternate" id="insertAddMoreStaffInfoBtn">등록하기</button>
                           </div>
					</div>
				</div>
			</div>	
		</div>
		
		
		
		
		<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
   </th:block>
    
</html>