<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="layout/default">
     
   <th:block layout:fragment="customTitle">
      <title th:text="${title}"></title> 
   </th:block>
   
   <th:block layout:fragment="customCss">
		<link rel="stylesheet" type="text/css" th:href="@{/css/insa.css}">
   </th:block>
   
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/assets/scripts/insa.js}"></script>
	</th:block>
   
   <th:block layout:fragment="customContent">
		<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
		
		<div class="app-main__inner">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo"></i>
					    </div>
					    <div>직원 등록
					       <div class="page-title-subheading">인사관리/직원관리/직원등록</div>
					    </div>
					</div>
				</div>
			</div>
			<form id="insertform" class="needs-validation" method="post" action="/insertStaffInfoAll">
			    <div class="row">
					<div class="col-md-8 col-md-offset-4 offset" >
						<div class="main-card card">
							<div class="card-body emp-table">
								<h5 class="card-title">필수 입력 사항</h5>
								<div class="scroll-div">
									<div class="scrollbar-container">
										<table class="mb-0 table table-bordered" id="staffInfo">
										<!-- needs-validation was-validated 클래스에 넣기 <div class="invalid-feedback">해당 티디 밑에 넣기</div>-->
											<tr>
												<td class="t_head" >이름
													<!-- <input type="hidden" th:value="${staffNum}" class="form-control" name="staffNum"/> -->
												</td>
												<td colspan="3">
													<input type="text" name="staffName" class="form-control haveToWriteVals">
												</td>
												
											</tr>
											<tr>
												<td class="t_head">소속</td>
												<td>
													<select class="form-control haveToWriteVals" name="jojicCode">
														<option selected="selected" disabled="disabled"></option>
														<option th:each="l : ${codeAndName.jojicInfo}" th:text="${l.JojicName}" th:value="${l.jojicCode}" ></option>
													</select>
												</td>
												<td class="t_head">권한</td>
												<td>
													<select class="form-control haveToWriteVals" name="accessNum">
														<option selected="selected" disabled="disabled"></option>
														<option th:each="l : ${codeAndName.accessInfo}" th:text="${l.accessName}" th:value="${l.accessNum}" ></option>
													</select>
												</td>
											</tr>
											<tr>
												<td class="t_head">직급</td>
												<td>
													<select class="form-control haveToWriteVals" name="staffLevelCode">
														<option selected="selected" disabled="disabled"></option>
														<option th:each="l : ${codeAndName.levelInfo}" th:text="${l.levelName}" th:value="${l.levelCode}" ></option>
													</select>
												</td>
												<td class="t_head">직책</td>
												<td>
													<select class="form-control haveToWriteVals" name="staffPositionCode">
														<option selected="selected" disabled="disabled"></option>
														<option th:each="l : ${codeAndName.positionInfo}" th:text="${l.positionName}" th:value="${l.positionCode}" ></option>
													</select>
												</td>
											</tr>	
											<tr>
												<td class="t_head">기본급</td>
												<td>
													<input type="text" class="form-control haveToWriteVals onlyNum" name="staffBasicSalary" maxlength="11">
												</td>
												<td class="t_head">고용형태</td>
												<td>
													<select class="form-control haveToWriteVals" name="employmentStatus">
														<option selected="selected" disabled="disabled"></option>
														<option th:each="l : ${sosocList}" th:text="${l.jojicName}" th:value="${l.jojicCode}" ></option>
														<option>상용직</option>
														<option>계약직</option>
														<option>인턴</option>
													</select>
												</td>
											</tr>	
											<tr>
												<td class="t_head">입사일</td>
												<td colspan="3">
													<input type="date" name="companyInDate" class="form-control haveToWriteVals" >
												</td>
											</tr>
											<tr>
												<td class="t_head">비고</td>
												<td colspan="3">
													<textarea name="staffNotes" class="form-control staffInfoNotes"></textarea>
												</td>
											</tr>
										</table>
											<div class="d-block card-footer addDiv">
				                            	<button type="button" class="btn-wide btn btn-alternate" id="insertStaff">등록하기</button>
				                            </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</form>		
		</div>
		
		
		
		
		<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
   </th:block>
    
</html>