<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="layout/default">
     
	<th:block layout:fragment="customTitle">
      <title th:text="${title}"></title> 
	</th:block>
   
  	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/assets/scripts/insa.js}"></script>
	</th:block>
   
	<th:block layout:fragment="customCss">
   		<link rel="stylesheet" type="text/css" th:href="@{/css/insa.css}">
	</th:block>
    
   <th:block layout:fragment="customContent">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
		<div class="app-main__inner">-
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
					        </i>
					    </div>
					    <div>조직도관리
					       <div class="page-title-subheading">인사관리/부서관리/조직도관리</div>
					    </div>
					</div>
				</div>
		    </div> 
		    <form>
			    <div class="row" style="background-color: white;">
					<div class="col-md-6 p-r-none">
						<div class="card-body emp-table">
							<h5 class="card-title">조직도</h5>
							<div class="scroll-div">
								<div class="scrollbar-container">
									<div class="tree-div" style="border-color: #red;">
										<div id="left" class="span3">
								            <ul id="menu-group-1" class="nav menu">  
								                <li class="item-8 deeper parent">
								                    <a class="a-tag" href="#">
								                        <span data-toggle="collapse" data-parent="#menu-group-1" href="#sub-item-1" class="sign" aria-expanded="true"><i class="pe-7s-less"></i></span>
								                        <span class="lbl">대표</span>                      
								                    </a>
								                    <ul class="children nav-child unstyled small collapse show" id="sub-item-1">
								                        <li class="item-2 deeper parent active">
								                            <a class="a-tag" href="#">
								                                <span data-toggle="collapse" data-parent="#menu-group-1" href="#sub-item-2" class="sign" aria-expanded="true"><i class="pe-7s-less"></i></span>
								                                <span class="lbl">이사</span> 
								                            </a>
								                            <ul class="children nav-child unstyled small collapse show" id="sub-item-2">
								                            <th:block th:each="l : ${jojicInfo}">
								                                <li class="item-3 current active" th:if="${l.jojicSosocName eq '부서'}">
								                                    <a class="a-tag" href="#">
								                                        <span class="sign"><i class="pe-7s-less"></i></span>
								                                        <span class="lbl">[[${l.jojicName}]]</span>
								                                    </a>
										                             <ul class="children nav-child unstyled small collapse show" id="sub-item-2">
										                             <th:block  th:each="l2 : ${jojicInfo2}">
										                                <li class="item-4" th:if="${l2.parentJojicName eq l.jojicName && l2.jojicStatus eq '활성'}">
											                                	<label>
											                                    	<input type="checkbox" class="input-jojicStatus" th:value="${l2.jojicName}" name="input-checked">
											                                        <span class="lbl">[[${l2.jojicName}]]</span>
											                                	</label>
										                                </li>
										                             </th:block>
										                            </ul>
								                                </li>
								                            </th:block>
								                            </ul>
								                        </li>
								                    </ul>
								                </li>
								            </ul>          
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-1 p-none" style="background-color: #f9f9f9; text-align: center;">
						<div class="btn">
							<button class="mb-2 mr-2 btn btn-light m-none arrow-btn1 pe-7s-angle-left"></button>
						</div>
						<div class="btn"> 
							<button class="mb-2 mr-2 btn btn-light m-none arrow-btn pe-7s-angle-right"></button>
						</div>
	<!-- 					<div class="btn">	
							<button class="mb-2 mr-2 btn btn-light m-none arrow-btn2">저장</button>
						</div> -->
					</div>
					<div class="col-md-5 p-l-none">
						<div class="card-body">
							<h5 class="card-title">활성화 되지 않은 부서</h5>
							<div class="scroll-div">
								<div class="scrollbar-container">
									<div class="tree-div" style="border-color: #red;">
										<div id="left" class="span3">
								            <ul id="menu-group-1" class="nav menu">  
								                <li class="item-1 deeper parent active">
								                    <a class="a-tag" href="#">
								                        <span data-toggle="collapse" data-parent="#menu-group-1" href="#sub-item-1" class="sign" aria-expanded="true"><i class="pe-7s-less"></i></span>
								                        <span class="lbl">대표</span>                      
								                    </a>
								                    <ul class="children nav-child unstyled small collapse show" id="sub-item-1">
								                        <li class="item-2 deeper parent active">
								                            <a class="a-tag" href="#">
								                                <span data-toggle="collapse" data-parent="#menu-group-1" href="#sub-item-2" class="sign" aria-expanded="true"><i class="pe-7s-less"></i></span>
								                                <span class="lbl">이사</span> 
								                            </a>
								                            <ul class="children nav-child unstyled small collapse show" id="sub-item-2">
								                            <th:block th:each="l : ${jojicInfo}">
								                                <li class="item-3 current active" th:if="${l.jojicSosocName eq '부서'}">
								                                    <a class="a-tag" href="#">
								                                        <span class="sign"><i class="pe-7s-less"></i></span>
								                                        <span class="lbl">[[${l.jojicName}]]</span>
								                                    </a>
										                            <ul class="children nav-child unstyled small collapse show" id="sub-item-2" >
									                                <th:block  th:each="l2 : ${jojicInfo2}">
											                                <li class="item-4" th:if="${l2.parentJojicName eq l.jojicName && l2.jojicStatus eq '비활성'}">
											                                	<label>
											                                    	<input type="checkbox" class="input-jojicStatus" th:value="${l2.jojicName}" name="input-checked">
											                                        <span class="lbl">[[${l2.jojicName}]]</span>
											                                	</label>
											                                </li>
									                                </th:block>
									                          		</ul>
							                                	</li>
								                            </th:block>
								                            </ul>
								                        </li>
								                    </ul>
								                </li>
								            </ul>          
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>	
		</div>





<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
   </th:block>
    
</html>