<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="layout/default">
     
   <th:block layout:fragment="customTitle">
      <title th:text="${title}"></title> 
   </th:block>
   
   <th:block layout:fragment="customContent">
   <link rel="stylesheet" type="text/css" th:href="@{/css/insa.css}">
      <div class="app-main__outer">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->

<div class="app-main__inner">
	<div class="app-page-title">
		<div class="page-title-wrapper">
			<div class="page-title-heading">
			    <div class="page-title-icon">
			        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
			        </i>
			    </div>
			    <div>조직도
			       <div class="page-title-subheading">인사관리/조직관리/조직도</div>
			    </div>
			</div>
		</div>
	</div>
	<div class="continer-fluid">
		<div class="row" style="background-color : white;">
			<div class="col-md-12 m-t-sm m-b-sm">
				<table class="mb-0 table table-bordered">
						
				</table>
				
			<!-- 	<a class="btn btn-b" th:if="${session.SLEVEL eq '1'}" th:href="@{/user/modifyUser(userId=${userDetailsInfo.userId})}">수정하러가기</a> -->
			</div>	
		</div>	
	</div>
</div>




<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
         <div th:replace="fragments/footer :: footerFragment"></div>
      </div>
      <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
      
   
   </th:block>
    
</html>