<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="layout/default">
     
   <th:block layout:fragment="customTitle">
      <title th:text="${title}"></title> 
   </th:block>
   
   <th:block layout:fragment="customCss">
		<link rel="stylesheet" type="text/css" th:href="@{/css/insa.css}">
   </th:block>
   
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/assets/scripts/insa.js}"></script>
	</th:block>
   
   <th:block layout:fragment="customContent">
		<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
		
		<div class="app-main__inner">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
					        </i>
					    </div>
					    <div>직원리스트
					       <div class="page-title-subheading">인사관리/직원관리/직원리스트</div>
					    </div>
					</div>
				</div>
			</div>
			<div class="continer">
				<div class="row">
					<div class="col-lg-12">
						<div class="main-card mb-3 card">
							<div class="card-body">
								<h5 class="card-title">직원리스트</h5>
								<div class="scroll-div">
									<div class="scrollbar-container">
										<div class="row col-md-12">
											<div class="input-group col-md-3 p-l-none p-r-sx p-b-xs">
							                     <div class="input-group-prepend">
							                     	<span class="input-group-text" id="inputGroupPrepend">소속</span>
							                     </div>
					 							<select id="SelectBuseo" class="custom-select" name="jojic_sosoc_name">
					 								<option>::부서::</option>
													<option th:each="l : ${jojicInfo}" th:if="${l.jojicSosocName eq '부서'}" th:text="${l.jojicName}" id="buseoName" th:value="${l.jojicName}" ></option>
												</select>
					 							<select id="SelectTeam" class="custom-select" name="jojic_name">
													<option selected="selected" disabled="disabled">팀</option>
												</select>
											</div>  								
											<div class="input-group col-md-3 p-l-none p-r-none p-b-xs">
							                     <div class="input-group-prepend">
							                     	<span class="input-group-text" id="inputGroupPrepend">인적사항</span>
							                     </div>
							                     	<select id="SelectBuseo" class="custom-select" name="jojic_sosoc_name">
							                     		<option name="staff_num">사원번호</option>
							                     		<option name="staff_name" >이름</option>
							                     		<option name="staff_email">이메일</option>
							                     		<option name="staff_phone">휴대폰</option>
							                     	</select>
							                   	 <input placeholder="검색어" type="text" class="form-control" name="sv">
							                     <div class="input-group-append">
							                         <button type="submit" class="btn btn-secondary" id="staffSearchBtn">검색</button>
							                     </div>
											</div> 	
											<div class="input-group col-md-3  p-r-none p-b-xs">
							                     <div class="input-group-prepend">
							                     	<span class="input-group-text" id="inputGroupPrepend">재직상태</span>
							                     </div>
							                     	<select id="SelectBuseo" class="custom-select" name="jojic_sosoc_name">
							                     		<option name="staff_num" value="재직중">재직중</option>
							                     		<option name="staff_name" value="휴가중">휴가중</option>
							                     		<option name="staff_name" value="출장중">출장중</option>
							                     		<option name="staff_email" value="퇴사">퇴사</option>
							                     		<option name="staff_email" value="기타">기타</option>
							                     	</select>
							                     <div class="input-group-append">
							                         <button type="submit" class="btn btn-secondary" id="staffSearchBtn">검색</button>
							                     </div>
											</div> 	
											<div class="input-group col-md-3  p-r-none p-b-xs">
							                     <div class="input-group-prepend">
							                     	<span class="input-group-text" id="levelName">직급</span>
							                     </div>
							                     	<select id="SelectBuseo" class="custom-select" name="level_name">
							                     		<option name="level_name" value="개발자">개발자</option>
							                     		<option name="level_name" value="CEO">CEO</option>
							                     		<option name="level_name" value="사장">사장</option>
							                     		<option name="level_name" value="부사장">부사장</option>
							                     		<option name="level_name" value="전무">전무</option>
							                     		<option name="level_name" value="상무">상무</option>
							                     		<option name="level_name" value="이사">이사</option>
							                     		<option name="level_name" value="부장">부장</option>
							                     		<option name="level_name" value="차장">차장</option>
							                     		<option name="level_name" value="과장">과장기타</option>
							                     		<option name="level_name" value="대리">대리</option>
							                     		<option name="level_name" value="주임">주임</option>
							                     		<option name="level_name" value="사원">사원</option>
							                     	</select>
							                     <div class="input-group-append">
							                         <button type="submit" class="btn btn-secondary" id="staffSearchBtn">검색</button>
							                     </div>
											</div> 	
										</div>
										<table class="mb-0 table table-bordered table-hover">
											<thead>
												<tr class="tr-1" >
													<th>#</th>
													<th>사번</th>
													<th>이름</th>
													<th>소속</th>
													<th>권한</th>
													<th>직급</th>
													<th>직책</th>
													<th>호봉</th>
													<th>기본급</th>
													<th>재직상태</th>
													<th>고용형태</th>
													<th>입사일</th>
													<th>비고</th>
													<th>징계누적점수</th>
													<th>근속연수</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="l, index : ${getStaffInfoAllList}">		
													<th scope="row" th:text="${index.count}"></th>
													<td><a th:text="${l.staffNum}" ></a></td>
													<td><a th:text="${l.staffName}" ></a></td>
													<td><a th:text="${l.jojicName}" ></a></td>
													<td><a th:text="${l.accessName}" ></a></td>
													<td><a th:text="${l.levelName}" ></a></td>
													<td><a th:text="${l.positionName}" ></a></td>
													<td><a th:text="${l.hobong}" ></a></td>
													<td><a th:text="${l.staffBasicSalary}" ></a></td>
													<td><a th:text="${l.jaejicStatusName}" ></a></td>
													<td><a th:text="${l.employmentStatus}" ></a></td>
													<td><a th:text="${l.companyInDate}" ></a></td>
													<td><a th:text="${l.staffNotes}" ></a></td>
													<td><a th:text="${l.totalPnsmtPoint}" ></a></td>
													<td><a th:text="${l.totalWorkMonths}" ></a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 m-t-none offset">
						<nav class="" aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item">							
									<a th:href="@{/insa/staffInfoList}" class="page-link">
										<span class="">&lt;&lt;</span>
									</a>
								</li>
								<li class="page-item">
									<a th:if="${currentPage > 1}" th:href="@{/insa/staffInfoList(currentPage=${currentPage-1})}" class="page-link">
										 <span class="">&lt;</span>
									</a>
								</li>
								<th:block th:each="num : ${#numbers.sequence(startPageNum, lastPageNum)}">
									<span>
										<a th:href="@{/insa/staffInfoList(currentPage=${num})}" class="page-link">[[${num}]]</a>
									</span>
								</th:block>
								<li class="page-item">
									<a th:if="${currentPage < lastPage}" th:href="@{/insa/staffInfoList(currentPage=${currentPage+1})}" class="page-link">
										<span class="">&gt;</span>
									</a>
								</li>	
								<li class="page-item">
									<a th:href="@{/insa/staffInfoList(currentPage=${lastPage})}" class="page-link">
										<span class="">&gt;&gt;</span>
									</a>	
								</li>		
							</ul>
						</nav>
					</div>					
				</div>
			</div>
		</div>
		<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
   </th:block>
    
</html>