<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="layout/default">
     
   <th:block layout:fragment="customTitle">
      <title th:text="${title}"></title> 
   </th:block>
   
   <th:block layout:fragment="customCss">
		<link rel="stylesheet" type="text/css" th:href="@{/css/insa.css}">
   </th:block>
   
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/assets/scripts/insa.js}"></script>
	</th:block>
   
   <th:block layout:fragment="customContent">
		<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
		
		<div class="app-main__inner">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
					        </i>
					    </div>
					    <div>직원리스트
					       <div class="page-title-subheading">인사관리/직원관리/직원리스트</div>
					    </div>
					</div>
				</div>
			</div>
			<div class="continer">
				<div class="row">
					<div class="col-lg-12">
						<div class="main-card mb-3 card">
							<div class="card-body">
								<h5 class="card-title">직원리스트</h5>
								<div class="scroll-div">
									<div class="scrollbar-container scroll-area-lg">
										<div class="row col-md-12">
											<div class="input-group col-md-3 p-l-none p-r-sx p-b-xs">
							                     <div class="input-group-prepend">
							                     	<span class="input-group-text" id="inputGroupPrepend">소속</span>
							                     </div>
					 							<select id="StaffListSelectBuseo" class="custom-select SelectBuseo" name="jojic_sosoc_name">
													<option selected="selected" disabled="disabled">부서</option>
													<option th:each="l : ${jojicInfo}" th:if="${l.jojicSosocName eq '부서'}" th:text="${l.jojicName}" id="buseoName" th:value="${l.jojicName}" ></option>					 							
												</select>
					 							<select id="StaffListSelectTeam" class="custom-select" name="jojic_name">
													<option selected="selected" disabled="disabled">팀</option>
												</select>
											</div> 
											<form method="post" action="/insa/staffInfoList" id="staffInfoSearchForm" class="input-group" style="display: contents;">
												<div class="input-group col-md-3 p-l-none p-r-none p-b-xs">
								                     <div class="input-group-prepend">
								                     	<span class="input-group-text" id="inputGroupPrepend">인적사항</span>
								                     </div>
								                     	<select class="custom-select" name="sk">
								                     		<option value="staff_num">사원번호</option>
								                     		<option value="staff_name" >이름</option>
								                     		<option value="staff_email">이메일</option>
								                     		<option value="staff_phone">휴대폰</option>
								                     	</select>
								                   	 <input placeholder="검색어" type="text" class="form-control " name="sv">
								                     <div class="input-group-append">
								                         <button type="submit" class="btn btn-secondary" id="staffInfoSearchBtn1">검색</button>
								                     </div>
												</div> 	
											</form> 		
											<form method="post" action="/insa/staffInfoList" id="staffJaejicStatusNameSearchForm" class="input-group" style="display: contents;">						
												<div class="input-group col-md-3  p-r-none p-b-xs">
								                     <div class="input-group-prepend">
								                     	<span class="input-group-text" id="inputGroupPrepend">재직상태</span>
								                     	<input type="hidden" name="sk" value="jaejic_status_name">
								                     </div>
								                     	<select class="custom-select" name="sv">
								                     		<option value="재직중">재직중</option>
								                     		<option value="휴가중">휴가중</option>
								                     		<option value="출장중">출장중</option>
								                     		<option value="퇴사">퇴사</option>
								                     		<option value="기타">기타</option>
								                     	</select>
								                     <div class="input-group-append">
								                         <button type="submit" class="btn btn-secondary" id="staffJaejicStatusNameSearchBtn">검색</button>
								                     </div>
												</div> 	
											</form>
											<form method="post" action="/insa/staffInfoList" id="staffLevelNameSearchForm" class="input-group" style="display: contents;">	
												<div class="input-group col-md-3  p-r-none p-b-xs">
								                     <div class="input-group-prepend">
								                     	<span class="input-group-text" id="levelName" >직급</span>
								                     	<input type="hidden" name="sk" value="level_name">
								                     </div>
								                     	<select class="custom-select" name="sv">
								                     		<option value="개발자">개발자</option>
								                     		<option value="CEO">CEO</option>
								                     		<option value="사장">사장</option>
								                     		<option value="부사장">부사장</option>
								                     		<option value="전무">전무</option>
								                     		<option value="상무">상무</option>
								                     		<option value="이사">이사</option>
								                     		<option value="부장">부장</option>
								                     		<option value="차장">차장</option>
								                     		<option value="과장">과장기타</option>
								                     		<option value="대리">대리</option>
								                     		<option value="주임">주임</option>
								                     		<option value="사원">사원</option>
								                     	</select>
								                     <div class="input-group-append">
								                         <button type="submit" class="btn btn-secondary" id="staffLevelNameSearchBtn">검색</button>
								                     </div>
												</div> 	
											</form>	
										</div>
										<table class="mb-0 table table-bordered table-hover">
											<thead>
												<tr class="tr-1">
													<th>#</th>
													<th>사번</th>
													<th>이름</th>
													<th>소속</th>
													<th>권한</th>
													<th>직급</th>
													<th>직책</th>
													<th>호봉</th>
													<th>기본급</th>
													<th>재직상태</th>
													<th>고용형태</th>
													<th>입사일</th>
													<th>비고</th>
													<th>징계누적점수</th>
													<th>근속연수</th>
												</tr>
											</thead>
											<tbody id="StaffList-t-body">
												<tr th:each="l, index : ${getStaffInfoAllList}"  data-toggle="modal"  class="staffInfoTr">	
												<!-- data-target="staffInfoTrModal"	 -->
													<th scope="row" th:text="${l.rowNum}"></th>
													<td><a th:text="${l.staffNum}" id="TrStaffNum"></a></td>
													<td><a th:text="${l.staffName}" ></a></td>
													<td><a th:text="${l.jojicName}" ></a></td>
													<td><a th:text="${l.accessName}" ></a></td>
													<td><a th:text="${l.levelName}" ></a></td>
													<td><a th:text="${l.positionName}" ></a></td>
													<td><a th:text="${l.hobong}" ></a></td>
													<td><a th:text="${l.staffBasicSalary}" ></a></td>
													<td><a th:text="${l.jaejicStatusName}" ></a></td>
													<td><a th:text="${l.employmentStatus}" ></a></td>
													<td><a th:text="${l.companyInDate}" ></a></td>
													<td><a th:text="${l.staffNotes}" ></a></td>
													<td><a th:text="${l.totalPnsmtPoint}" ></a></td>
													<td><a th:text="${l.totalWorkMonths}" ></a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 m-t-none offset">
						<nav class="" aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item">							
									<a th:href="@{/insa/staffInfoList}" class="page-link">
										<span class="">&lt;&lt;</span>
									</a>
								</li>
								<li class="page-item">
									<a th:if="${currentPage > 1}" th:href="@{/insa/staffInfoList(currentPage=${currentPage-1})}" class="page-link">
										 <span class="">&lt;</span>
									</a>
								</li>
								<th:block th:each="num : ${#numbers.sequence(startPageNum, lastPageNum)}">
									<span>
										<a th:href="@{/insa/staffInfoList(currentPage=${num})}" class="page-link">[[${num}]]</a>
									</span>
								</th:block>
								<li class="page-item">
									<a th:if="${currentPage < lastPage}" th:href="@{/insa/staffInfoList(currentPage=${currentPage+1})}" class="page-link">
										<span class="">&gt;</span>
									</a>
								</li>	
								<li class="page-item">
									<a th:href="@{/insa/staffInfoList(currentPage=${lastPage})}" class="page-link">
										<span class="">&gt;&gt;</span>
									</a>	
								</li>		
							</ul>
						</nav>
					</div>					
				</div>
			</div>
		</div>
		
		<!-- Tr 클릭시 modal -->
		<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="staffInfoTrModal">
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title" id="exampleModalLongTitle">직원 상세 보기</h5>
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">&times;</span>
		                </button>
		            </div>
		            <div class="modal-body">
						<div class="col-md-12">
							<div class="main-card card">
								<div class="card-body">
									<h5 class="mt-2 card-title mb-4 m-b-xs">상세 정보</h5>
									<div class="scroll-div">
										<div class="scrollbar-container scroll-area-md">
				                            <div class="card-header ">
				                                <div class="btn-actions-pane-right m-l-xs">
				                                    <div class="nav">
				                                        <a data-toggle="tab" href="#isStaffInfoDetail" class="btn-pill btn-wide mr-1 m-b-xs active btn btn-outline-alternate btn-sm">직원정보</a>
				                                        <a data-toggle="tab" href="#isStaffBasicInfoDetail" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">인적사항</a>
				                                        <a data-toggle="tab" href="#isStaffFamilyInfoDetail" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">가족정보</a>
				                                        <a data-toggle="tab" href="#isCareerInfoFromInDetail" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">사내경력</a>
				                                        <a data-toggle="tab" href="#isCareerInfoFromOutDetail" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">사외경력</a>
				                                        <a data-toggle="tab" href="#isCertificateInfoDetail" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">자격정보</a>
				                                        <a data-toggle="tab" href="#isEducationInfoDetail" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">학력정보</a>
				                                        <a data-toggle="tab" href="#isBalryoungInfoDetail" class="btn-pill btn-wide mr-1 m-b-xs btn btn-outline-alternate btn-sm">발령정보</a>
				                                        <a data-toggle="tab" href="#isMilitaryInfoDetail" class="btn-pill btn-wide btn m-b-xs btn-outline-alternate btn-sm">병역정보</a>
				                                    </div>
				                                </div>
				                          	</div>
				                          	<div class="card-body">
				                                <div class="tab-content">
				                                    <div class="tab-pane active isStaffInfo" id="isStaffInfoDetail" role="tabpanel">
					                                    <form class="isStaffInfoDetail" action="" method="post">
															<table class="mb-12 table table-bordered forms" >
																<tr>
																	<td class="t_head">사번</td>
																	<td>
																		<input type="text" name="staffNum" class="form-control" id="staffNum" readonly>
																	</td>
																	<td class="t_head" >이름</td>
																	<td>
																		<input type="text" name="staffName" class="form-control" readonly>
																	</td>
																	
																</tr>
																<tr>
																	<td class="t_head">소속</td>
																	<td>
																		<input type="text" name="jojicName" class="form-control" readonly>
																	</td>
																	<td class="t_head">권한</td>
																	<td>
																		<input type="text" name="accessName" class="form-control" readonly>
																	</td>
																</tr>
																<tr>
																	<td class="t_head">직급</td>
																	<td>
																		<input type="text" name="staffLevelName" class="form-control" readonly>
																	</td>
																	<td class="t_head">직책</td>
																	<td>
																		<input type="text" name="staffPositionName" class="form-control" readonly>
																	</td>
																</tr>	
																<tr>
																	<td class="t_head">기본급</td>
																	<td>
																		<input type="text" class="form-control" name="staffBasicSalary" readonly>
																	</td>
																	<td class="t_head">고용형태</td>
																	<td>
																		<input type="text" class="form-control" name="employmentStatus" readonly>
																	</td>
																</tr>	
																<tr>
																	<td class="t_head">입사일</td>
																	<td>
																		<input type="date" name="companyInDate" class="form-control" readonly>
																	</td>
																	<td class="t_head">재직상태</td>
																	<td>
																		<input type="text" name="jaejicStatusName" class="form-control" readonly>
																	</td>
																</tr>
																<tr>
																	<td class="t_head">비고</td>
																	<td colspan="3">
																		<textarea name="staffNotes" class="form-control" readonly></textarea>
																	</td>
																</tr>															
															</table>															
														</form>	
				                                    </div>
				                                    <div class="tab-pane isStaffBasicInfo" id="isStaffBasicInfoDetail" role="tabpanel">
					                                    <form class="" action="" method="post" >
															<table class="mb-12 table table-bordered forms is_staff_basic_info" >
																<colgroup>
																	<col width = "12%">
																	<col width = "30%">
																	<col width = "17%">
																	<col width = "41%">
																</colgroup>
																<tr>
																	<td class="t_head2">영문이름</td>
																	<td colspan="3">
																		<input type="text" name="staffEngName" class="form-control" value="" readonly>
																	</td>
																</tr> 
																<tr>													
																	<td class="t_head2">성별</td>
																	<td>
																		<input type="text" name="staffEngName" class="form-control" value="" readonly>
																	</td>
																	<td class="t_head2">주민등록번호</td>
																	<td>
																		<input type="text" name="humanNum" class="form-control" id="humanNum" value="" readonly/>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">내외국인</td>
																	<td>
																		<input type="text" name="staffNationality" class="form-control" value="" readonly/>
																	</td>
																	<td class="t_head2">이메일</td>
																	<td>
																		<input type="text" name="staffEmail" class="form-control" value="" readonly>
																	</td>
																</tr> 
																<tr>													
																	<td class="t_head2">국적</td>
																	<td>
																		<input type="text" name="staffCountry" class="form-control" value="" readonly>
																	</td>
																	<td class="t_head2">연락처</td>
																	<td>
																		<input type="text" name="staffPhone" class="form-control" value="" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">결혼여부</td>
																	<td>
																		<input type="text" name="staffMarriged" class="form-control" value="" readonly>
																	</td>																
																	<td class="t_head2">주소</td>
																	<td>
																		<input type="text" name="staffAddr"  class="form-control" value="" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">비고</td>
																	<td colspan="5">
																		<textarea name="staffBasicInfoNotes" class="form-control" readonly></textarea>
																	</td>
																</tr> 
															</table>
														</form>	
				                                    </div>
				                                    <div class="tab-pane" id="isStaffFamilyInfoDetail" role="tabpanel">
					                                    <form class="staffFamilyInfoForm" action="" method="post">
															<table class="mb-12 table table-bordered forms staffFamilyInfoTb" >
																<colgroup>
																	<col width = "15%">
																	<col width = "30%">
																	<col width = "15%">
																	<col width = "40%">
																</colgroup>
																<tr>
																	<td class="t_head2">가족관계</td>
																	<td>
																		<input type="text" name="relation" class="form-control" readonly>
																	</td>
																	<td class="t_head2">생년월일</td>
																	<td>
																		<input type="date" name="familyBirthday"  class="form-control" readonly>
																	</td>
																</tr> 
																<tr>														
																	<td class="t_head2">이름</td>
																	<td>
																		<input type="text" name="familyName" class="form-control" readonly>									
																	</td>
																	<td class="t_head2">주소</td>
																	<td>
																		<input type="text" name="familyAddr"  class="form-control" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">직업</td>
																	<td>
																		<input type="text" name="familyJob" class="form-control" readonly>
																	</td>
																	<td class="t_head2">연락처</td>
																	<td>
																		<input type="text" name="familyPhone" class="form-control"  readonly/>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head">비고</td>
																	<td colspan="5">
																		<textarea name="staffFamilyInfoNotes" class="form-control" readonly></textarea>
																	</td>
																</tr>												
															</table>
														</form>	
				                                    </div>
				                                    <div class="tab-pane " id="isCareerInfoFromInDetail" role="tabpanel">
					                                    <form class="isCareerInfoFromInForm" action="" method="post">
															<table class="mb-12 table table-bordered forms">
																<tr>
																	<td class="t_head2">프로젝트명</td>
																	<td colspan="5">
																		<input type="text" name="projectName" class="form-control" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">시작일</td>
																	<td >
																		<input type="date" name="projectStartDate"  class="form-control" readonly>
																	</td>
																	<td class="t_head2">종료일</td>
																	<td>
																		<input type="date" name="projectEndDate"  class="form-control" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">도중권한</td>
																	<td>
																		<input type="date" name="projectAccess"  class="form-control" readonly>
																	</td>
																	<td class="t_head2">직책</td>
																	<td>
																		<input type="date" name="projectPosition"  class="form-control" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">직무</td>
																	<td>
																		<input type="text" name="projectWork" class="form-control" readonly>
																	</td>
																	<td class="t_head2">직급</td>
																	<td>
																		<input type="text" name="projectLevelName" class="form-control" readonly>
																	</td>												
																</tr>
																<tr>
																	<td class="t_head2">비고</td>
																	<td colspan="5">
																		<textarea name="careerInfoFromInNotes" class="form-control" readonly></textarea>
																	</td>
																</tr> 												
															</table>
														</form>
				                                    </div>				                                    
				                                    <div class="tab-pane " id="isCareerInfoFromOutDetail" role="tabpanel">
					                                    <form class="isCareerInfoFromOutForm" action="" method="post">
															<table class="mb-12 table table-bordered forms">
																<tr>
																	<td class="t_head2">직장명</td>
																	<td >
																		<input type="text" name="companyName" class="form-control" readonly>
																	</td>
																	<td class="t_head2">직위</td>
																	<td >
																		<input type="text" name="companyAccess"  class="form-control" readonly>
																	</td>
																</tr>
																<tr>
																	<td class="t_head2">직책</td>
																	<td>
																		<input type="text" name="companyPositionFromOut" class="form-control" readonly>
																	</td>
																	<td class="t_head2">직무</td>
																	<td>
																		<input type="text" name="companyWorkFormOut" class="form-control" readonly>
																	</td>
																</tr>
																<tr>
																	<td class="t_head2">입사일자</td>
																	<td>
																		<input type="date" name="companyInDateFromOut"  class="form-control" readonly>
																	</td>
																	<td class="t_head2">퇴사일자</td>
																	<td>
																		<input type="date" name="companyOutDateFromOut" class="form-control" readonly>
																	</td>
																</tr>	
																<tr>
																	<td class="t_head2">퇴직사유</td>
																	<td>
																		<textarea name="companyOutReason" class="form-control" readonly></textarea>
																	</td>
																	<td class="t_head2">비고</td>
																	<td>
																		<textarea name="careerInfoFromOutNotes" class="form-control" readonly></textarea>
																	</td>
																</tr> 																			
															</table>
														</form>
				                                    </div>				                                    
				                                    <div class="tab-pane " id="isCertificateInfoDetail" role="tabpanel">
					                                    <form class="isCertificateInfoForm" action="" method="post">
															<table class="mb-12 table table-bordered forms">
																<tr>
																	<td class="t_head2">자격증명</td>
																	<td colspan="5">
																		<input type="text" name="certificateName" class="form-control" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">발급기관</td>
																	<td >
																		<input type="text" name="issuingAgency" class="form-control" readonly>
																	</td>
																	<td class="t_head2">자격번호</td>
																	<td>
																		<input type="text" name="certificateNum"  class="form-control" readonly>
																	</td>
																</tr>
																<tr>
																	<td class="t_head2">취득일</td>
																	<td>
																		<input type="date" name="getDate" class="form-control" readonly>
																	</td>
																	<td class="t_head2">만료일</td>
																	<td>
																		<input type="date" name="finishedDate" class="form-control" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">비고</td>
																	<td colspan="5">
																		<textarea name="certificateInfoNotes" class="form-control" readonly></textarea>
																	</td>
																</tr> 																	
															</table>
														</form>
				                                    </div>				                                    
				                                    <div class="tab-pane " id="isEducationInfoDetail" role="tabpanel">
					                                    <form class="isEducationInfoForm" action="" method="post">
															<table class="mb-12 table table-bordered forms">
																<tr>
																	<td class="t_head2">학교명</td>
																	<td colspan="5">
																		<input type="text" name="schoolName" class="form-control" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">전공</td>
																	<td >
																		<input type="text" name="majorName" class="form-control" readonly>
																	</td>
																	<td class="t_head2">부전공</td>
																	<td>
																		<input type="text" name="minorName"  class="form-control" readonly>
																	</td>
																</tr> 
																<tr>												
																	<td class="t_head2">학위</td>
																	<td>
																		<input type="text" name="degree" class="form-control" readonly>
																	</td>
																	<td class="t_head2">상태</td>
																	<td>
																		<input type="text" name="hakryuckStatus" class="form-control" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">입학일</td>
																	<td>
																		<input type="date" name="entranceDate" class="form-control" readonly>
																	</td>
																	<td class="t_head2">졸업일</td>
																	<td>
																		<input type="date" name="graduatDate" class="form-control" readonly>
																	</td>												
																</tr>
																<tr>
																	<td class="t_head2">비고</td>
																	<td colspan="5">
																		<textarea name="educationInfoNotes" class="form-control" readonly></textarea>
																	</td>
																</tr>																
															</table>
														</form>
				                                    </div>				                                    
				                                    <div class="tab-pane " id="isBalryoungInfoDetail" role="tabpanel">
					                                    <form class="isBalryoungInfoForm" action="" method="post">
															<table class="mb-12 table table-bordered forms">
																<tr>
																	<td class="t_head2">발령내용</td>
																	<td colspan="5">
																		<input type="text" name="balryoungInfoName" class="form-control" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">발령일</td>
																	<td > 
																		<input type="date" name="balryoungDate" class="form-control" readonly>
																	</td>
																	<td class="t_head2">발령지</td>
																	<td>
																		<input type="text" name="balryoungStage" class="form-control" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">비고</td>
																	<td colspan="5">
																		<textarea name="balryoungInfoNotes" class="form-control" readonly></textarea>
																	</td>
																</tr>
															</table>
														</form>
				                                    </div>				                                    
				                                    <div class="tab-pane " id="isMilitaryInfoDetail" role="tabpanel">
					                                    <form class="isMilitaryInfoForm" action="" method="post">
															<table class="mb-12 table table-bordered forms">
																<tr>
																	<td class="t_head2">군별 선택</td>
																	<td colspan="5">
																		<input type="text" name="militaryServiceType" class="form-control" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">상태</td>
																	<td >
																		<input type="text" name="militaryState" class="form-control" readonly>
																	</td>
																	<td class="t_head2">계급</td>
																	<td>
																		<input type="text" name="militaryLevel" class="form-control" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">입대일자</td>
																	<td >
																		<input type="date" name="militaryInDay" class="form-control" readonly>
																	</td>
																	<td class="t_head2">전역일자</td>
																	<td>
																		<input type="date" name="militaryOutDay" class="form-control" readonly>
																	</td>
																</tr> 
																<tr>
																	<td class="t_head2">비고</td>
																	<td colspan="5">
																		<textarea name="militaryInfoNotes" class="form-control" readonly></textarea>
																	</td>
																</tr> 
															</table>
														</form>
				                                    </div>					                                    
				                                </div> 				                          	
				                          	</div>
				                          	<div class="card-footer p-b-none p-t-lg">
								            	<div class="centerDiv m-r-none">							            	
								            		<button type="button" class="mb-2 mr-2 btn btn-alternate" id="modifyStaffInfoDetail" data-toggle="modal" >수정하기</button>
								            		<!-- data-target="#insertPnshListModal3" -->
								            	</div>	
								            	<div class="centerDiv m-l-xs">							            	
								            		<button type="button" class="mb-2 mr-2 btn btn-alternate" id="deleteStaffInfoBtnDetail">삭제하기</button>
								            	</div>					                          	
				                          	</div>
										</div>								
									</div>	
								</div>
							</div>
						</div>											
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
		            </div>
		        </div>
		    </div>
		</div>		
		<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
   </th:block>
    
</html>