<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/head :: headFragment"></head>	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
		<style>
			html, body{height:100%;}
		</style>	
	</th:block>
	<th:block layout:fragment="customContent">
		<div class="c-app flex-row align-items-center login-flex">
		<div class="app-main">
		<div class="app-main__outer">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
			<div>
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="card-group contain">
							<form class="form-auth-small" action="/staffLogin" method="post" id="staffLogin">
								<div class="card p-4">
									<div class="card-body">
										<h1>Login</h1>
										<p class="text-muted">Sign In to your account</p>
										<div class="input-group mb-3">
											<div class="input-group-prepend"><span class="input-group-text login-image">
												<i class="pe-7s-user"> </i>
												</span></div>
											<input class="form-control" type="text" name="staffNum" placeholder="Username" value="20010107">
										</div>
										<div class="input-group mb-4">
											<div class="input-group-prepend">
												<span class="input-group-text login-image">
													<i class="pe-7s-lock"> </i>
												</span>
											</div>
											<input class="form-control" type="password" name="staffPw" placeholder="Password" value="20010107">
										</div>
										<div class="row">
											<div class="col-6">
											<button class="btn btn-default px-4" type="button" id="login">Login</button>
											</div>
										</div>
									
									</div>
								</div>
							</form>
							<div class="text-white bg-primary py-5 d-md-down-none white-box">
								<div class="card-body text-center">
									<div>
										<h2>재개발팀 프로젝트</h2> <br><br>
										<p>지원자는 여기를 클릭해 주세요.</p>
										<button class="btn text-white btn-lg btn-outline-light mt-3" type="button">지원자전옹버튼</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
		</div>
		</div>
		</div>
		
	</th:block>
		<th:block layout:fragment="customJsScript">
			<script>
			$(function() {
													
				 $('#login').click(function() {
					var staffNum = $('input[name="staffNum"]');
					var staffPw = $('input[name="staffPw"]');
					
					console.log(staffNum.val());
					console.log(staffPw.val());
					var request = $.ajax({
					  url: "/staffLogin", //컨트롤러 맵핑
					  method: "POST",
					  data: { staffNum : staffNum.val() , staffPw : staffPw.val() },
					  dataType: "json" // json방식으로 값 전달
					});
					 
					request.done(function( data ) {
						console.log(data);
						if(data == 0){
							//아이디 비밀번호 불일치시.
							alert('아이디 또는 비밀번호가 일치하지 않습니다.');
							
						}else{
							//아이디 비밀번호 일치시 화면이동.
							
							alert('로그인 성공.');
							location.href="/index";
						}
		
					});
					 
					request.fail(function( jqXHR, textStatus ) {
					  alert( "Request failed: " + textStatus );
				});
			});
		}); 
		</script>
		
	</th:block>
    
</html>
