<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="headFragment">
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">	
	<meta name="msapplication-tap-highlight" content="no">
	
	<link rel="stylesheet" type="text/css" th:href="@{/main.css}">
	
	<!-- 사용자 지정 css -->
	<th:block layout:fragment="customCss"></th:block>

	<!-- 사용자 지정 title -->
	<th:block layout:fragment="customTitle"></th:block>
	
	<!-- 사용자 지정 js -->
	<th:block layout:fragment="customJs">
		</body>
	</th:block>
</head>
</html>