<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<!-- start leftmenu -->
	<div class="app-sidebar sidebar-shadow" th:fragment="leftcolumnFragment">
                    <div class="app-header__logo">
                        <div class="logo-src"></div>
                        <div class="header__pane ml-auto">
                            <div>
                                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="app-header__mobile-menu">
                        <div>
                            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
                    </div>    <div class="scrollbar-sidebar">
                        <div class="app-sidebar__inner">
                            <ul class="vertical-nav-menu">
								<!-- 대분류 --------------------------------------------------------------------------------->
                                <th:block th:each="ST : ${session.FIRSTMENU}" >
                                <li class="app-sidebar__heading first_menu_li" th:text="${ST.menuName}"></li>                                
                                <!-- 중분류--------------------------------------------------------------------------------->
	                                <th:block th:with="NDlength=0" th:each="ND : ${session.SECONDMENU}" >
	                                
	                                <li class="second_menu_li" th:if="${session.SECONDMENU ne null and ST.menuId eq ND.menuParent}">
	                                    <a th:href="${ND.menuLink}">
	                                        <i th:class="${ND.menuIcon}"></i><span th:text="${ND.menuName}"></span>
	                                        <i th:if="${NDlength eq 0}" class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
	                                    </a>
	                           	<!-- 소분류 start--------------------------------------------------------------------------->
	                                    <ul th:if="${NDlength eq 0}">
	                                    	<th:block th:with="RDlength=0" th:each="RD : ${session.THIRDMENU}">
	                                    	<li class="third_menu_li" th:if="${ND.menuId eq RD.menuParent}">
	                                    	<th:block th:each="THT : ${session.FOURTHMENU}">
		                                    	<th:block th:if="${RD.menuId eq THT.menuParent}" th:with="RDlength=${RDlength}+1"></th:block>
		                                    </th:block>
	                                    		<a th:href="${RD.menuLink}">
	                                                <i th:class="${RD.menuIcon}"></i><span th:text="${RD.menuName}"></span>  
	                                                <i th:if="${RDlength eq 0}" class="metismenu-state-icon pe-7s-angle-down caret-left"></i>                                 		
	                                    		</a>
	                                    		<ul th:if="${RDlength eq 0}">
	                           	<!-- 더 작은 소분류 start--------------------------------------------------------------------->
			                                    	<th:block th:each="TH : ${session.FOURTHMENU}">
			                                    	<li th:if="${RD.menuId eq TH.menuParent}">
			                                    		<a th:href="${TH.menuLink}">
			                                                <i th:class="${TH.menuIcon}"></i><span th:text="${TH.menuName}"></span>                                   		
			                                    		</a>
			                                    	</li> 
			                                    	</th:block>                                   		
	                                    		</ul>
	                                    	</li>
	                                    	</th:block>
	                                    </ul>
	                                </li>
	                                
	                                </th:block>
	                           	<!-- 더 작은 소분류 ------------------------------------------------------------end------------>	  
	                           	</th:block>                                                                                          
                            </ul>
                        </div>
                    </div>
                </div>
	<!-- end leftmenu -->
	
</html>