<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	

	
	<th:block layout:fragment="customCss">
	      <!-- include summernote css/js -->
      <link rel="stylesheet" href="summernote/summernote-lite.css">
		
		<!-- upmu.css  -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/upmu.css}">	
		
	</th:block>
	
	
	<th:block layout:fragment="customContent">

<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->		


  	<div class="col-md-12">
		<div class="app-page-title">
			<div class="page-title-wrapper">
				<div class="page-title-heading">
				    <div class="page-title-icon">
				        <i class="pe-7s-culture icon-gradient bg-mean-fruit">
				        </i>
				    </div>
				    <div>
				    	<h2>공지사항</h2>
				       <div class="page-title-subheading"></div>
				    </div>
				</div>
			</div>
		</div>                
		<div class="col-md-12">
			<div class="main-card mb-3 card"> 
				<div class="card-body">
					<h4><i class="pe-7s-note"></i> 공지등록 </h4><br>	
					<form  id="addNtForm" action="/addNotice" method="post">
					<input type="hidden" th:value="${session.SSTAFFNUM}" name="regStaffNum">
			             <div class="position-relative form-group"><label>제목</label>
			            		<input type="text" class="form-control" name="ntTitle">
			             </div>                  
			     		<textarea id="summernote" name="ntContents"></textarea>		                                    
			             <div class="position-relative form-group" ><label  class="">첨부파일</label>
			              	<input type="file" class="form-control-file" name="ntFile">
			             </div>	
			             <button type="button" id="addNoticeBtn" class="btn btn-success btn-right">등록하기</button>
					</form>											
	     		</div>
	     	</div>
	     </div>
	</div>
<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>




	</th:block>

	<!-- 사용자 지정 script -->
	<th:block layout:fragment="customJsScript">		
	 <script src="/summernote/summernote-lite.js"></script>
     <script src="/summernote/lang/summernote-ko-KR.js"></script>

		

		<script type="text/javascript">
		$(document).ready(function() {
			 $('#summernote').summernote({
                 height: 300,                 // 에디터 높이
                 minHeight: null,             // 최소 높이
                 maxHeight: null,             // 최대 높이
                 lang: "ko-KR",               // 한글 설정
                      
               });
			 
			 //등록하기 버튼 클릭 이벤트
			 $('#addNoticeBtn').click(function(){
				 var regStaffNum =  $('input[name="regStaffNum"]').val(); //공지등록사원
				 var ntTitle = $('input[name="ntTitle"]').val(); //공지제목
				 var ntContents = $('#summernote').val(); //공지내용
				
				 
				 console.log(regStaffNum + "<--regStaffNum");
				 console.log(ntTitle + "<--ntTitle");
				 console.log(ntContents + "<--ntContents");
				 
				 if(ntTitle == ''){
					 alert('제목을 입력하세요');
					 return false;
				 }
				 if(ntContents == ''){
					 alert('내용을 입력하세요');
					 return false;
				 }
				 if(confirm("공지를 등록하시겠습니까?")== true){
					 $('#addNtForm').submit();
				 }else{
					 return ;
				 }
				 
				 
			 });
			});				
		</script>
		
	
	</th:block>

</html>
