<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
	<link rel="stylesheet" type="text/css" th:href="@{/css/code.css}">
	
	
	
		
				

<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
	
	<!-- 메뉴설명 -->
	<div class="app-main__inner">
	<div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-config icon-gradient bg-premium-dark">
                    </i>
                </div>
                <div>출퇴근관리
                    <div class="page-title-subheading">직원 출퇴근기록을 관리합니다.
                    </div>
                </div>
            </div>   
         </div>
    </div> 
    
   			<!-- 코드등록버튼 -->
		<div class="code-btn">		
				<div class="btn-group nav-item ">
		                  <a href="/checkIn" class="nav-link">
		                       <button type="button" class="btn btn-danger">출근</button>
		                  </a>
		                  <a href="/checkOut" class="nav-link">
		                       <button type="button" class="btn btn-success" disabled>퇴근</button>
		                  </a>
		         </div>
   		</div>
    
    
    	<!-- 검색기능 -->
    	
    		<div class="input-group col-md-4 p-l-none p-r-none p-b-xs">
		           <div class="input-group-prepend">
		               <button class="btn btn-outline-secondary" id="list">목록</button>
		               <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle dropdown-toggle-split btn btn-outline-secondary">
		             	 	<span class="sr-only"></span>
		            	 </button>
		                     <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
		                         <button type="button" tabindex="0" class="dropdown-item" id="workCodeBtn">근무형태코드</button>
		                      <div tabindex="-1" class="dropdown-divider"></div>
		                         <button type="button" tabindex="0" class="dropdown-item" id="workNameBtn">근무명</button>
		                      <div tabindex="-1" class="dropdown-divider"></div>
		                         <button type="button" tabindex="0" class="dropdown-item" id="workCodeCheckBtn">사용유무</button>
		                      <div tabindex="-1" class="dropdown-divider"></div>
		                         <button type="button" tabindex="0" class="dropdown-item" id="workStaffNameBtn">등록자</button>
		                      </div>
		    		 </div>
		                   	 <input placeholder="검색어" type="text" class="form-control" name="sv">
		                     <div class="input-group-append">
		                         <button class="btn btn-secondary" id="workCodeSearchBtn">검색</button>
		                     </div>
			</div>     
    
    	
    
		<!-- 리스트 테이블 -->
		<div class="col-md-12 m-2">
			<div class="main-card mb-10 card table-padding">
				<table class="table table-hover">
				 	<thead>
				 		<tr>				 			
				 			<th>출퇴큰코드</th>
				 			<th>사원코드</th>
				 			<th>출근시간</th>
				 			<th>퇴근시간</th>
				 			<th>근무시간</th>
				 			<th>출근IP</th>
				 			<th>퇴근IP</th>
				 			<th>날짜</th>

				 		</tr>
				 	</thead>
				 	<tbody>
				 		<tr th:each="l : ${checkInOutList}">
				 			<td th:text="${l.wcCode}"></td>
				 			<td th:text="${l.staffNum}"></td>
				 			<td th:text="${l.wcIn}"></td>
				 			<td th:text="${l.wcOut}"></td>
				 			<td th:text="${l.wcHour}"></td>
				 			<td th:text="${l.wcInIp}"></td>
				 			<td th:text="${l.wcOutIp}"></td>
				 			<td th:text="${l.wcRegDate}"></td>
				 							
				 		</tr>
				 	</tbody>
				</table>
			</div>
		</div>
</div>

    <!-- Modal -->
              <!--     <div class="modal fade" id="#checkInModal">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title">알림</h4>
					      </div>
					      <div class="modal-body">
                           		   <p>출근처리 하시겠습니까?</p>
                          </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
			        <button type="button" class="btn btn-primary" id="checkInBtn">
			       		 <a th:href="@{/deleteWorkCode(workCode=${l.workCode})}">예</a>
			       		 예			       		
			        </button>
			      </div>
			    </div>
			  </div>
			</div>
 -->


<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	
	</th:block>
	<!--  <th:block layout:fragment="customJsScript">
	<script>
	
			$(function(){
				$('#checkInBtn').click(function(){
					
				var checkBtn = $('.checkInBtn');


                // checkBtn.parent() : checkBtn의 부모는 <td>이다.
                // checkBtn.parent().parent() : <td>의 부모이므로 <tr>이다.
                var tr = checkBtn.parent().parent();
                var td = tr.children();
                var workCode = td.eq(0).text(); //근무형태코드
               
                //텍스트형식으로 workCode에 담아서 주소로 보내기
                location.href="/deleteWorkCode?workCode="+workCode;
				})
                

		     });
			
	
			
			
			
	</script>
	</th:block> 
	
	 -->
    
</html>
