<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
	<link rel="stylesheet" type="text/css" th:href="@{/css/code.css}">
	
	
	
		
				

<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
	
	<!-- 메뉴설명 -->
	<div class="app-main__inner">
	<div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-config icon-gradient bg-premium-dark">
                    </i>
                </div>
                <div>출퇴근관리
                    <div class="page-title-subheading">직원 출퇴근기록을 관리합니다.
                    </div>
                </div>
            </div>   
         </div>
    </div> 
    
   			<!-- 코드등록버튼 -->
		<div class="code-btn">		
				<div class="btn-group nav-item " th:with="staffNum1=${session.SSTAFFNUM}">
		                  <a th:href="@{/checkIn(staffNum=${staffNum1})}" class="nav-link" id="checkInBtn">
		                       <button type="button" class="btn btn-danger checkInBtn" id="checkInBtn">출근</button>
		                  </a>
		                  <a th:href="@{/checkOut(staffNum=${staffNum1})}" class="nav-link" id="checkOutBtn">
		                       
		                       <button type="button" class="btn btn-success checkOutBtn" id="checkOutBtn">퇴근</button>
		                  </a>
		         </div>
   		</div>
    
    
    	<!-- 검색기능 -->
    	
    		<div class="input-group col-md-4 p-l-none p-r-none p-b-xs">
		           <div class="input-group-prepend">
		               <button class="btn btn-outline-secondary" id="list">목록</button>
		               <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle dropdown-toggle-split btn btn-outline-secondary">
		             	 	<span class="sr-only"></span>
		            	 </button>
		                     <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
		                         <button type="button" tabindex="0" class="dropdown-item" id="workCodeBtn">근무형태코드</button>
		                      <div tabindex="-1" class="dropdown-divider"></div>
		                         <button type="button" tabindex="0" class="dropdown-item" id="workNameBtn">근무명</button>
		                      <div tabindex="-1" class="dropdown-divider"></div>
		                         <button type="button" tabindex="0" class="dropdown-item" id="workCodeCheckBtn">사용유무</button>
		                      <div tabindex="-1" class="dropdown-divider"></div>
		                         <button type="button" tabindex="0" class="dropdown-item" id="workStaffNameBtn">등록자</button>
		                      </div>
		    		 </div>
		                   	 <input placeholder="검색어" type="text" class="form-control" name="sv">
		                     <div class="input-group-append">
		                         <button class="btn btn-secondary" id="workCodeSearchBtn">검색</button>
		                     </div>
			</div>     
    
    	
    
		<!-- 리스트 테이블 -->
		<div class="col-md-12 m-2">
			<div class="main-card mb-10 card table-padding">
				<table class="table table-hover">
				 	<thead>
				 		<tr>				 			
				 			<th>출퇴큰코드</th>
				 			<th>사원코드</th>
				 			<th>출근시간</th>
				 			<th>퇴근시간</th>
				 			<th>근무시간</th>
				 			<th>출근IP</th>
				 			<th>퇴근IP</th>
				 			<th>날짜</th>

				 		</tr>
				 	</thead>
				 	<tbody>
				 		<tr th:each="l : ${checkInOutList}">
				 			<td th:text="${l.wcCode}"></td>				 			
				 			<td th:text="${l.staffNum}"></td>
				 			<td th:text="${l.wcIn}"></td>
				 			<td th:text="${l.wcOut}"></td>
				 			<td th:text="${l.wcHour}"></td>
				 			<td th:text="${l.wcInIp}"></td>
				 			<td th:text="${l.wcOutIp}"></td>
				 			<td th:text="${l.wcRegDate}"></td>
				 							
				 		</tr>
				 	</tbody>
				</table>
			</div>
		</div>
</div>

   


<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	
	</th:block>
  <th:block layout:fragment="customJsScript">
	<script>
	
			 $(function(){
				$('#checkInBtn').click(function(){
										
						alert('출근처리가 완료되었습니다.')
					               

		     }); 
		});
			 $(function(){
				$('#checkOutBtn').click(function(){
										
						alert('퇴근처리가 완료되었습니다.')
					               

		     }); 
		});
			
	
			
			
			
	</script>
	</th:block> 
	
	 
    
</html>
