<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	<th:block layout:fragment="customCss">
		<!-- upmu.css  -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/upmu.css}">
	</th:block>
	
    
	<th:block layout:fragment="customContent">
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
 		<div class="col-md-12">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-share icon-gradient bg-mean-fruit"></i>
					    </div>
					    <div>
					    	<h3>업무공유</h3>					    		
					       	<div class="page-title-subheading">
					       	</div>
					    </div>
					</div>
				</div>
			</div>
             <div class="main-card mb-12 card">
                  <div class="card-body">  
     				<h3 class="text-center">개발중입니다.</h3>
                  </div>
             </div> 
       </div>          







<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
</th:block>

<th:block layout:fragment="customJsScript"> 

</th:block>

</html>