<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="layout/default">
     
   <th:block layout:fragment="customTitle">
      <title th:text="${title}"></title> 
   </th:block>
   
   <th:block layout:fragment="customCss">		
    <!-- upmu.css  -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/upmu.css}">   
   </th:block>
   
   <th:block layout:fragment="customJs">
   		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>		
	</th:block>
   
   <th:block layout:fragment="customContent">
		<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
		
		<div class="app-main__inner">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo"></i>
					    </div>
					    <div>업무관리</div>
					</div>
				</div>
			</div>
			
		    <div class="row">
				<div class="col-lg-4">
					<div class="main-card mb-3 card">
						<div class="card-body">
							<h5 class="mb-3">직원업무조회</h5>
								<form action="/myAppList" method="post">
								<div >
									<div class="input-group col-md-12 mb-3">
										
											<select id = "sk" name="sk" class="form-control search-select" >
												<option value="" selected="selected" disabled="disabled">::검색조건::</option>
												<option value="">부서</option>
												<option value="">직책</option>
												<option value="">사원번호</option>
												<option value="">이름</option>												
											</select>			
											<input type="text" name="sv" class="form-control search-input">											
											<button type="submit" id="seachBtn" class="btn btn-primary btn-right">검색</button>									
									</div>
								</div>
								</form>														
								<table class="mb-0 emp-table emp-info-table table table-hover text-center">
									<thead>
										<tr class="tr-1">										
											<th>부서명</th>
											<th>직책</th>
											<th>사원번호</th>
											<th>이름</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="t : ${staffTask}">
											<tr th:if="${session.SJOJICCODE eq t.jojicCode}" class="staffTask">
												<td th:text="${t.jojicName}"></td>
												<td th:text="${t.levelName}"></td>
												<td th:text="${t.staffNum}"></td>
												<td th:text="${t.staffName}"></td>
											</tr>
										</th:block>
									</tbody>
								</table>																					
							</div>
						</div>
					</div>
				<div class="col-lg-8">
					<div class="main-card mb-3 card">
						<div class="card-body">							
							<div class="scroll-div">											
								<div>									
							        <h5 class="title-text text-centar">업무 등록하기</h5>
							        <form id="addTask" action="/addTask" method="post">
							        	<ul>
									        <li>
									        	<input type="hidden" th:value="${session.SSTAFFNUM}" name="staffNum">
										        <input type="text" class="form-control task-input" name="taskInfo">
										        <button type="submit" class="btn btn-outline-info btn-right one-Btn">
										        	<i class="pe-7s-plus">  등록</i>
										        </button>
										    </li>												        
								    	</ul>  
							        </form>
							        	
							      	<h5 class="title-text text-centar">업무 목록</h5>
							      	<th:block th:each="t : ${myTesk}" th:if="${session.SSTAFFNUM eq t.staffNum}">
								    	<ul id="incomplete-tasks">
									        <li  th:if="${t.taskResult eq null}">				        											        
										        <input type="text" th:value="${t.taskInfo}" class="form-control task-input">      
										        <a class="btn-right btn btn-outline-danger" th:href="@{/delTask(taskNum=${t.taskNum})}">
										        	<i class="pe-7s-close-circle"> 삭제</i>
										        </a>
										        <a class="btn btn-outline-info btn-right end-task" th:href="@{/endTask(taskNum=${t.taskNum})}">
										        	<i class="pe-7s-angle-down-circle"> 완료</i>
										        </a>
									        </li>												        
								    	</ul>  
							      	</th:block>								
								    <h5 class="title-text text-centar">완료한 업무</h5>
								    <th:block th:each="t : ${myTesk}" th:if="${session.SSTAFFNUM eq t.staffNum}">      
								      	<ul id="completed-tasks">
								        	<li th:if="${t.taskResult != null}">								        										        	
									        	<input type="text" th:value="${t.taskInfo}" class="form-control task-input" readonly="readonly">										        	
									        	 <a class="btn-right btn btn-outline-danger one-Btn" th:href="@{/delTask(taskNum=${t.taskNum})}">
										        	<i class="pe-7s-close-circle"> 삭제</i>
										        </a>
								        	</li>
								      	</ul>
								      </th:block>														
								</div>																									
							</div>								
						</div>	
					</div>
				</div>
			</div>
		</div>

		
		
		
		<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
   </th:block>
   <th:block layout:fragment="customJsScript"> 
   
   </th:block>
</html>