<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="layout/default">
     
   <th:block layout:fragment="customTitle">
      <title th:text="${title}"></title> 
   </th:block>
   
   <th:block layout:fragment="customCss">		
    <!-- upmu.css  -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/upmu.css}">   
   </th:block>
   
   <th:block layout:fragment="customJs">
   		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>		
	</th:block>
   
   <th:block layout:fragment="customContent">
		<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
		
		<div class="app-main__inner">
			<div class="app-page-title">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
					    <div class="page-title-icon">
					        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo"></i>
					    </div>
					    <div>업무관리</div>
					</div>
				</div>				
		    <a type="button" id="myTaskBtn" class="btn btn-warning btn-right" href="/upmuList" ><i class="pe-7s-photo-gallery">   나의 업무 등록하기</i></a>
			</div>
	
		<div>
		</div>
		    <div class="row">
				<div class="col-lg-4">
					<div class="main-card mb-3 card">
						<div class="card-body">
							<h5 class="mb-3">직원업무조회</h5>
								<form action="/staffTaskList" method="post">								
									<div class="input-group col-md-12 mb-3">										
											<select id = "sk" name="sk" class="form-control search-select" >
												<option value="" selected="selected" disabled="disabled">::검색조건::</option>												
												<option value="l.level_name">직책</option>
												<option value="s.staff_num">사원번호</option>
												<option value="s.staff_name">이름</option>												
											</select>			
											<input type="text" name="sv" class="form-control search-input">											
											<button type="submit" class="btn btn-primary btn-right">검색</button>									
									</div>								
								</form>														
								<table class="mb-0 emp-table emp-info-table table table-hover text-center">
									<thead>
										<tr class="tr-1">										
											<th>부서명</th>
											<th>직책</th>
											<th>사원번호</th>
											<th>이름</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="t : ${staffTask}">
											<tr th:if="${session.SJOJICCODE eq t.jojicCode}" class="staffTask">												
												<td th:text="${t.jojicName}"></td>
												<td th:text="${t.levelName}"></td>
												<td th:text="${t.staffNum}" class="staffNum"></td>
												<td th:text="${t.staffName}"></td>
											</tr>
										</th:block>
									</tbody>
								</table>																					
							</div>
						</div>
					</div>
				<div class="col-lg-8">
					<div class="main-card mb-3 card">
						<div class="card-body">							
							<div class="taskList">											
								<div class="myTask">									
							      <form id="addTask" action="/addTask" method="post">
							        <h5 class="title-text text-centar">등록하기</h5>
							        	<ul>
									        <li>
									        	<input type="hidden" th:value="${session.SSTAFFNUM}" name="staffNum">
										        <input type="text" class="form-control task-input" name="taskInfo">
										        <button type="submit" class="btn btn-outline-info btn-right one-Btn">
										        	<i class="pe-7s-plus">  등록</i>
										        </button>
										    </li>												        
								    	</ul>  
							        </form>
							        	
							      	<h5 class="title-text text-centar">업무 목록</h5>
							      	<th:block th:each="t : ${myTask}" th:if="${session.SSTAFFNUM eq t.staffNum}">
								    	<ul>
									        <li  th:if="${t.taskResult eq null}">				        											        
										        <input type="text" th:value="${t.taskInfo}" class="form-control task-input">      
										        <a class="btn-right btn btn-outline-danger" th:href="@{/delTask(taskNum=${t.taskNum})}">
										        	<i class="pe-7s-close-circle"> 삭제</i>
										        </a>
										        <a class="btn btn-outline-info btn-right end-task" th:href="@{/endTask(taskNum=${t.taskNum})}">
										        	<i class="pe-7s-angle-down-circle"> 완료</i>
										        </a>
									        </li>												        
								    	</ul>  
							      	</th:block>								
								    <h5 class="title-text text-centar">완료 업무</h5>
								    <th:block th:each="t : ${myTask}" th:if="${session.SSTAFFNUM eq t.staffNum}">      
								      	<ul>
								        	<li th:if="${t.taskResult != null}">								        										        	
									        	<input type="text" th:value="${t.taskInfo}" class="form-control task-input" readonly="readonly">										        	
									        	 <a class="btn-right btn btn-outline-danger one-Btn" th:href="@{/delTask(taskNum=${t.taskNum})}">
										        	<i class="pe-7s-close-circle"> 삭제</i>
										        </a>
								        	</li>
								      	</ul>
								      </th:block>														
								</div>																									
							</div>								
						</div>	
					</div>
				</div>
			</div>
		</div>

		
		
		
		<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
   </th:block>
   <th:block layout:fragment="customJsScript"> 

	<script type="text/javascript" >
	
	$(document).ready(function() {
		
		$('.staffTask').click(function(){
			
			var staffNum = $(this).find('.staffNum').text();
			
			var request = $.ajax({
									url: "/staffUpmu", //컨트롤러 맵핑
									method: "POST",
									data: { "staffNum" : staffNum }, //세션값 - 사원번호로 해당 업무리스트 가져오기
									dataType: "json" // json방식으로 값 전달				
			}); 
			
			 request.done(function(data){
				var staffUpmu = data;
				$('.taskList').children().remove();
				
				/* 업무목록 생성 */
			 	$('.taskList').append("<h5 class='title-text text-centar'>업무 목록</h5>");
							
				if(staffUpmu[0] != undefined){
					for(var i=0; i<staffUpmu.length; i++){
						 var taskInfo = staffUpmu[i].taskInfo;
						 var taskResult = staffUpmu[i].taskResult;
						 var taskRegDate = staffUpmu[i].taskRegDate;					 
						 if(taskResult == null){						 
							$('.taskList').append(	 "<ul>"
													+    "<li>"				        											        
													+	    "<input type='text' value='" + taskInfo + "' class='form-control task-input'>" 
													+     "</li>"												        
												    +"</ul>");
						 }
						 
					}
				}else if(staffUpmu[0] == undefined){
						$('.taskList').append("<p class='task-p text-centar'><i class='pe-7s-attention'>  등록된 업무가 없습니다.</i></p>");
				}
					
				/* 완료업무생성 */
				 $('.taskList').append("<h5 class='title-text text-centar'>완료 업무</h5>");
				 if(staffUpmu[0] != undefined){ 
					 for(var i=0; i<staffUpmu.length; i++){

						 var taskInfo = staffUpmu[i].taskInfo;
						 var taskResult = staffUpmu[i].taskResult;
						 var taskRegDate = staffUpmu[i].taskRegDate;
					 
						  if(taskResult != null){						 
							  $('.taskList').append("<ul>"
											        +	"<li>"								        										        	
												    +   	"<input type='text' value='" + taskInfo + "' class='form-control task-input' readonly='readonly'>"									        	 
											        +	"</li>"
											      	+"</ul>");
						        
						 }
					 }	
				 }else if(staffUpmu[0] == undefined){
						$('.taskList').append("<p class='task-p text-centar'><i class='pe-7s-attention'>  완료된 업무가 없습니다.</i></p>");
				}

			 });
						
		});
	});

	</script>
   </th:block>
</html>