<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
		
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
	 
			<div class="col-md-20; m-5">
				<div class="main-card mb-5 card" style="width: 40%; margin: auto; ">
					<div class="col-md-20; m-5">						  
		<form action="/addInsaCode" method="post" id="signIn">
								<input type="hidden" id="insaCodeCheckResult" value=1>
								<input type="hidden" id="InsaCheckCode">
							    <label for="insaCode">인사코드</label>
							    <input type="text" class="form-control input-lg" name="insaCode" id="insaCode" placeholder="인사코드">
							    <br>
							    <span class="input-group-btn"><button class="btn btn-primary" type="button" id="codeCheckBtn">중복확인</button></span>
							 
						 <br>	
							  <br>
							  	 <label for="insaName">코드명</label>
							   	 <input type="text" class="form-control input-lg" name="insaName" placeholder="코드명">
						
						<br>  
								 <label for="insaStaffName">등록자</label>
							   	 <input type="text" class="form-control input-lg" name="insaStaffName" placeholder="등록자명">
					   <br>
		</form>
								  <div class="widget-content-right header-user-info ml-10" align="center">
			                            	
			                         <input type="submit" class="btn-shadow p-1 btn btn-primary btn-sm submitBtn" value="등록하기">
			                          			                                    
			                      </div>
			                   <br>
					 </div>
				</div>
			</div>
		
	
<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	
	
	</th:block>
	
	<th:block layout:fragment="customJsScript">
	<script>
	
	//근무형태코드 중복확인
	
	$(function() {
		//아이디중복체크 및 유효성검사
		$('#codeCheckBtn').click(function() {
			var insaCode = $('input[name="insaCode"]');
			
			
			if(insaCode.val() == ''){
				alert('인사코드를 입력해주세요.');
				insaCode.focus();
				return false;
				}
			
				var request = $.ajax({

					  url: "/insaCodeCheck",
					  method: "POST",
					  data: { insaCode : insaCode.val() },
					  dataType: "json" 
				});
			
				request.done(function( data ) {
					var insaCodeCheckResult = $('#insaCodeCheckResult');
					var InsaCheckCode = $('#InsaCheckCode');
					
					if(data == 0){
						alert('사용 가능한 코드 입니다.');
						InsaCheckCode.val(insaCode.val());
					}else{
						alert('사용중인 코드 입니다.');
					}
					insaCodeCheckResult.val(data);	             
				});
				
				
			}); 
		}); 
	 
	//유효성검사
	$(function(){
		$('.submitBtn').click(function(){
			
			var insaCode = $('input[name="insaCode"]');
			var insaName = $('input[name="insaName"]');
			var insaCodeCheckResult = $('#insaCodeCheckResult').val();
			var InsaCheckCode = $('#InsaCheckCode').val();
			
			
			if(insaCode.val() == ''){
				alert('인사코드를 입력해주세요.');
				insaCode.focus();
				return false;
			}else if(insaName.val() == ''){
				alert('코드명을 입력해주세요.');
				insaName.focus();
				return false;
			}else if(insaCodeCheckResult == 1 || insaCode.val() != InsaCheckCode){
				alert('코드중복검사를 진행해주세요.');
				insaCode.focus();
				return false;
			}
			$('#signIn').submit();
			alert('코드등록 완료.');
		})
	});
	
	</script>
	</th:block>
	
	
	
    
</html>
