<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
		
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
	 
			<div class="col-md-20; m-5">
				<div class="main-card mb-5 card" style="width: 40%; margin: auto; ">
					<div class="col-md-20; m-5">						  
		<form action="/addWorkCode" method="post" id="signIn">
								<input type="hidden" id="codeCheckResult" value=1>
								<input type="hidden" id="CheckCode">
							    <label for="workCode">근무형태코드</label>
							    <input type="text" class="form-control input-lg" name="workCode" id="workCode" placeholder="근무형태코드">
							    <br>
							    <span class="input-group-btn"><button class="btn btn-primary" type="button" id="codeCheckBtn">중복확인</button></span>
							 
						 <br>	
							  <br>
							  	 <label for="workName">근무명</label>
							   	 <input type="text" class="form-control input-lg" name="workName" placeholder="근무명">
							  
					     <br>	
								 <label for="workUseOrNot">사용유무</label>
								 <select name="workUseOrNot" class="form-control">
								 
									  <option value="0" th:selected ="${workUseOrNot eq Yes ? 'true' : 'false'}">::사용유무::</option>
									  <option value="Yes" th:selected ="${workUseOrNot eq Yes ? 'true' : 'false'}">Yes</option>
									  <option value="No" th:selected ="${workUseOrNot eq No ? 'true' : 'false'}">No</option>
								</select>
						<br>  
								 <label for="workStaffName">등록자</label>
							   	 <input type="text" class="form-control input-lg" name="workStaffName" placeholder="등록자명">
					   <br>
		</form>
								  <div class="widget-content-right header-user-info ml-10" align="center">
			                            	
			                         <input type="submit" class="btn-shadow p-1 btn btn-primary btn-sm submitBtn" value="등록하기">
			                          			                                    
			                      </div>
			                   <br>
					 </div>
				</div>
			</div>
		
	
<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	
	
	</th:block>
	<th:block layout:fragment="customJsScript">
	<script>
	
	//근무형태코드 중복확인
	
	$(function() {
		//아이디중복체크 및 유효성검사
		$('#codeCheckBtn').click(function() {
			var workCode = $('input[name="workCode"]');
			
			
			if(workCode.val() == ''){
				alert('근무형태코드를 입력해주세요.');
				workCode.focus();
				return false;
				}
			
				var request = $.ajax({

					  url: "/codeCheck",
					  method: "POST",
					  data: { workCode : workCode.val() },
					  dataType: "json" 
				});
			
				request.done(function( data ) {
					var codeCheckResult = $('#codeCheckResult');
					var CheckCode = $('#CheckCode');
					
					if(data == 0){
						alert('사용 가능한 코드 입니다.');
						CheckCode.val(workCode.val());
					}else{
						alert('사용중인 코드 입니다.');
					}
					codeCheckResult.val(data);	             
				});
				
				
			}); 
		}); 
	 
	//유효성검사
	$(function(){
		$('.submitBtn').click(function(){
			
			var workCode = $('input[name="workCode"]');
			var workName = $('input[name="workName"]');
			var codeCheckResult = $('#codeCheckResult').val();
			var CheckCode = $('#CheckCode').val();
			
			
			if(workCode.val() == ''){
				alert('근무형태코드를 입력해주세요.');
				workCode.focus();
				return false;
			}else if(workName.val() == ''){
				alert('근무이름을 입력해주세요.');
				workName.focus();
				return false;
			}else if(codeCheckResult == 1 || workCode.val() != CheckCode){
				alert('코드중복검사를 진행해주세요.');
				workCode.focus();
				return false;
			}
			$('#signIn').submit();
			alert('코드등록 완료.');
		})
	});
	
	</script>
	</th:block>
	
	
	
    
</html>
