<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
		
<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
	 <form action="/updateWorkCode" method="post">
			<div class="col-md-20; m-5">
				<div class="main-card mb-5 card" style="width: 40%; margin: auto; ">
					<div class="col-md-20; m-5">						  
							    <label for="workCode">근무형태코드</label>
							    <input type="text" class="form-control input-lg" name="workCode" th:value="${codeAdmin.workCode}">
							 
								<br>	
							  
							  	 <label for="workName">근무명</label>
							   	 <input type="text" class="form-control input-lg" name="workName" th:value="${codeAdmin.workName}">
							  
					    		<br>
					    			
								 <label for="workUseOrNot">사용유무</label>
								 <select name="workUseOrNot" id="workUseOrNot" class="form-control workUseOrNot">
								 	  <option>::사용유무::</option>
									  <option value="1"  th:select ="${workUseOrNot eq 1 ? 'true' : 'false'}">Yes</option>
									  <option value="2"  th:select ="${workUseOrNot eq 2 ? 'true' : 'false'}">No</option>
								</select>
								
								<br>  
								 <label for="workStaffName">등록자</label>
							   	 <input type="text" class="form-control input-lg" name="workStaffName" th:value="${codeAdmin.workStaffName}">
					    <br>
								  <div class="widget-content-right header-user-info ml-10" align="center">
			                            	
			                          <input type="submit" class="btn-shadow p-1 btn btn-primary btn-sm" value="수정하기">
			                                    
			                      </div>
			                   <br>
					 </div>
				</div>
			</div>
		</form>

<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	
	
	</th:block>
   <th:block layout:fragment="customJsScript">
	<script>
	$(document).ready(function(){
		
		var kkk = $("#workUseOrNot option:selected").val();

		alert(kkk);

	});


	  
	/* $(document).ready(function(){
		   
		  if($("#workUseOrNot").val('2').prop("selected",true)){
			  $('#workUseOrNot').val('2').attr().add('selected');			  
		  }
	  })   */
	
			  			  
	/* $(function(){
		$(document).ready(function(){
			var workUseOrNot = $('select[name="workUseOrNot"]');
			
			if(workUseOrNot.val() == 1){
				
				 //$('#workUseOrNot').val('1').attr().add('selected');
			}		
	
		})
	});  */
	
	   
		

	
	</script>
	</th:block>
</html>
