<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
	<link rel="stylesheet" type="text/css" th:href="@{/css/code.css}">
	
	<script type="text/javascript">
		
			$(function(){
				
				/* 검색어 sk클릭시 버튼의 value변경하기 */
				$('#workCodeBtn').click(function(){
					var workCodeBtnParentTag = $(this).parent();
					$('#list').html($(this).html());
					workCodeBtnParentTag.attr('class','dropdown-menu');        
			 	});
				$('#workNameBtn').click(function(){
					var workNameBtnParentTag = $(this).parent();
					$('#list').html($(this).html());
					workNameBtnParentTag.attr('class','dropdown-menu');        
			 	});
				$('#workCodeCheckBtn').click(function(){
					var workCodeCheckBtnParentTag = $(this).parent();
					$('#list').html($(this).html());
					workCodeCheckBtnParentTag.attr('class','dropdown-menu');        
			 	});
				$('#workStaffNameBtn').click(function(){
					var workStaffNameBtnParentTag = $(this).parent();
					$('#list').html($(this).html());
					workStaffNameBtneParentTag.attr('class','dropdown-menu');        
			 	});
				
				</script>

<!------------------- 코딩 소스 들어갈곳 Start ---------------------------------------------->
	
	
	<!-- 메뉴설명 -->
	<div class="app-main__inner">
	<div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-config icon-gradient bg-premium-dark">
                    </i>
                </div>
                <div>근무형태코드관리
                    <div class="page-title-subheading">근무형태코드를 관리합니다.
                    </div>
                </div>
            </div>   
         </div>
    </div> 
    
    	<!-- 코드등록버튼 -->
		<div class="code-btn">
			<ul>
				<li class="btn-group nav-item ">
		                  <a href="/addWorkCode" class="nav-link">
		                       <i class="nav-link-icon fa fa-edit"></i>신규코드등록
		                  </a>
		         </li>		
			</ul>
   		</div>
    
    	<!-- 검색기능 -->
    <div class="input-group col-md-4 p-l-none p-r-none p-b-xs">
		           <div class="input-group-prepend">
		               <button class="btn btn-outline-secondary" id="list">목록</button>
		               <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle dropdown-toggle-split btn btn-outline-secondary">
		             	 	<span class="sr-only"></span>
		            	 </button>
		                     <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
		                         <button type="button" tabindex="0" class="dropdown-item" id="workCodeBtn">근무형태코드</button>
		                      <div tabindex="-1" class="dropdown-divider"></div>
		                         <button type="button" tabindex="0" class="dropdown-item" id="workNameBtn">근무명</button>
		                      <div tabindex="-1" class="dropdown-divider"></div>
		                         <button type="button" tabindex="0" class="dropdown-item" id="workCodeCheckBtn">사용유무</button>
		                      <div tabindex="-1" class="dropdown-divider"></div>
		                         <button type="button" tabindex="0" class="dropdown-item" id="workStaffNameBtn">등록자</button>
		                      </div>
		            </div>
		                   	 <input placeholder="검색어" type="text" class="form-control" name="sv">
		                     <div class="input-group-append">
		                         <button class="btn btn-secondary" id="workCodeSearchBtn">검색</button>
		                     </div>
	</div>     
    
		<!-- 리스트 테이블 -->
		<div class="col-md-12 m-2">
			<div class="main-card mb-10 card table-padding">
				<table class="table table-hover">
				 	<thead>
				 		<tr>				 			
				 			<th>근무형태코드</th>
				 			<th>근무명</th>
				 			<th>사용유무</th>
				 			<th>등록자</th>
				 			<th>등록일</th>
				 			<th>수정</th>
				 			<th>삭제</th>
				 		</tr>
				 	</thead>
				 	<tbody>
				 		<tr th:each="l : ${workCodeList}">
				 			<td th:text="${l.workCode}"></td>
				 			<td th:text="${l.workName}"></td>
				 			<td th:text="${l.workUseOrNot}"></td>
				 			<td th:text="${l.workStaffName}"></td>
				 			<td th:text="${l.workRegDate}"></td>
				 			<td><a th:href="@{/updateWorkCode(workCode=${l.workCode})}">수정</a></td>
							<td>
								<a th:href="@{/deleteWorkCode(workCode=${l.workCode})}">									
		                         	<button class="btn btn-primary" id="deleteWorkCode">삭제</button>		                     	
								</a>
							</td>
				 		</tr>
				 	</tbody>
				</table>
			</div>
		</div>
</div>
      


<!------------------- 코딩 소스 들어갈곳 End ------------------------------------------------>
	
	</th:block>
	<th:block layout:fragment="customJsScript">
		<script>
			$(function(){
				$('#deleteWorkCode').click(function(){
					alert('삭제하시겠습니까?');
				
					})
				}
			})
		</script>
	</th:block>
    
</html>
